<scroll-view class="topoff">
  <stack-layout>
    <grid-layout>
      <label textWrap="true">
        <FormattedString>
          <span [text]="item.name"></span>
          <span class="small" [text]="' ' + string('by') + ' '"></span>
          <span class="small" [text]="item.organisation.name"></span>
          <span class="small" [text]="' ' + string('at') + ' '"></span>
          <span class="small" [text]="item.address.place + ' '"></span>
          <span class="small" [text]="item.address.suburb.name"></span>
        </FormattedString>
      </label>
    </grid-layout>
    <flexbox-layout>
      <share-piece [item]="item"></share-piece>
      <like-piece [item]="item"></like-piece>
      <label flexGrow="1"></label>
      <time-piece [item]="item"></time-piece>
    </flexbox-layout>
    <stack-layout>
      <marked-compat [data]="item.description"></marked-compat>
      <expand-compat #details
        class="expand-compat"
        (changed)="$event && expanded(details)">
        <ng-template #expandHeader>
          <icon-compat icon="at"></icon-compat>
          <i18n i18n="@@details" unit="details"></i18n>
        </ng-template>
        <ng-template #expandContent>
          <stack-layout class="detail">
            <i18n i18n="@@address" unit="address" verticalAlignment="top">
            </i18n>
            <stack-layout>
              <label>
                <FormattedString>
                  <span [text]="item.address.street + ' '"></span>
                  <span [text]="item.address.houseNumber"></span>
                </FormattedString>
              </label>
              <label>
                <FormattedString>
                  <span [text]="item.address.postalCode + ' '"></span>
                  <span [text]="item.address.place + ' '"></span>
                  <span [text]="item.address.suburb.name"></span>
                </FormattedString>
              </label>
            </stack-layout>
          </stack-layout>
          <ng-container *ngIf="item.phone">
            <stack-layout class="detail">
              <i18n i18n="@@phone" unit="phone"></i18n>
              <stack-layout ripple (tap)="openUrl('tel:' + item.phone)">
                <icon-compat icon="phone"></icon-compat>
                <label [text]="item.phone"></label>
              </stack-layout>
            </stack-layout>
          </ng-container>
          <ng-container *ngIf="item.mail">
            <stack-layout class="detail">
              <i18n i18n="@@email" unit="email"></i18n>
              <stack-layout ripple (tap)="openUrl('mailto:' + item.mail)">
                <icon-compat icon="envelope"></icon-compat>
                <label [text]="item.mail"></label>
              </stack-layout>
            </stack-layout>
          </ng-container>
          <stack-layout class="detail">
            <i18n i18n="@@category" unit="category"></i18n>
            <stack-layout ripple
              [borderColor]="item.category.color"
              (tap)="router.navigate(['/', 'activities'],
                { queryParams: { categories: item.category.id } })">
              <label [text]="item.category.name"></label>
            </stack-layout>
          </stack-layout>
          <stack-layout class="detail">
            <i18n i18n="@@suburb" unit="suburb"></i18n>
            <stack-layout ripple
              (tap)="router.navigate(['/', 'activities'],
                { queryParams: { suburbs: item.address.suburb.id } })">
              <icon-compat icon="city"></icon-compat>
              <label [text]="item.address.suburb.name"></label>
            </stack-layout>
          </stack-layout>
          <ng-container *ngIf="item.targetGroups?.length">
            <stack-layout class="detail">
              <i18n i18n="@@targetGroups" unit="targetGroups"></i18n>
              <stack-layout>
                <ng-container *ngFor="let targetGroup of item.targetGroups">
                  <stack-layout ripple
                    (tap)="router.navigate(['/', 'activities'],
                      { queryParams: { targetgroups: targetGroup.id } })">
                    <icon-compat icon="users"></icon-compat>
                    <label [text]="targetGroup.name"></label>
                  </stack-layout>
                </ng-container>
              </stack-layout>
            </stack-layout>
          </ng-container>
        </ng-template>
      </expand-compat>
      <ng-container *ngIf="item.images">
        <expand-compat #images
          class="expand-compat"
          (changed)="$event && expanded(images)">
          <ng-template #expandHeader>
            <icon-compat icon="image"></icon-compat>
            <i18n i18n="@@images" unit="images"></i18n>
            <label [text]="'(' + item.images.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #scrollImages>
              <flexbox-layout>
                <ng-container *ngFor="let image of item.images">
                  <grid-layout [width]="scrollImages.getActualSize().width">
                    <image [src]="image.nativeSource"></image>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <expand-compat #schedules
        class="expand-compat"
        (changed)="$event && expanded(schedules)">
        <ng-template #expandHeader>
          <icon-compat icon="history"></icon-compat>
          <i18n i18n="@@schedules" unit="schedules"></i18n>
          <label [text]="'(' + item.schedules.length + ')'"></label>
        </ng-template>
        <ng-template #expandContent>
          <calendar-compat
            [items]="item.schedules"
            [name]="item.name"
            (changed)="schedule = $event">
          </calendar-compat>
          <stack-layout class="datetime">
            <ng-container *ngIf="schedule">
              <i18n i18n="@@selectedSchedule" unit="selectedSchedule"></i18n>
              <label [text]="schedule.datetime"></label>
            </ng-container>
            <ng-container *ngIf="!schedule">
              <i18n i18n="@@nextSchedule" unit="nextSchedule"></i18n>
              <label [text]="item.scheduled?.datetime"></label>
            </ng-container>
          </stack-layout>
        </ng-template>
      </expand-compat>
      <expand-compat #mapview
        class="expand-compat"
        (changed)="$event && reloader(mapview)">
        <ng-template #expandHeader>
          <icon-compat icon="globe"></icon-compat>
          <i18n i18n="@@mapview" unit="mapview"></i18n>
        </ng-template>
        <ng-template #expandContent>
          <web-view #webview [src]="source"></web-view>
        </ng-template>
      </expand-compat>
      <expand-compat #organisation
        class="expand-compat"
        (changed)="$event && expanded(organisation)">
        <ng-template #expandHeader>
          <icon-compat icon="at"></icon-compat>
          <i18n i18n="@@organisation" unit="organisation"></i18n>
        </ng-template>
        <ng-template #expandContent>
          <organisation-card [item]="item.organisation"></organisation-card>
        </ng-template>
      </expand-compat>
      <ng-container *ngIf="item.blogposts">
        <expand-compat #blogposts
          class="expand-compat"
          (changed)="$event && expanded(blogposts)">
          <ng-template #expandHeader>
            <icon-compat icon="at"></icon-compat>
            <i18n i18n="@@blogposts" unit="blogposts"></i18n>
            <label [text]="'(' + item.blogposts.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #scrollBlogposts>
              <flexbox-layout>
                <ng-container *ngFor="let blogpost of item.blogposts">
                  <grid-layout [width]="scrollBlogposts.getActualSize().width">
                    <blogpost-card [item]="blogpost"></blogpost-card>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
    </stack-layout>
  </stack-layout>
</scroll-view>
