<main itemscope itemtype="https://schema.org/Event">
  <h2 class="mat-headline" >
    <span itemprop="name">{{ item.label }}</span>
    <small>
      <i18n>by </i18n>
      <a [routerLink]="['/', 'organisations', item.organisation.id]">
        <span itemprop="organizer">{{ item.organisation.label }} </span>
      </a>
      <i18n>at </i18n>
      <a
        [queryParams]="{ suburbs: item.address.suburb.id }"
        [routerLink]="['/', 'activities']" itemprop="location" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="addressLocality">{{ item.address.place }} </span>
        <span itemprop="streetAddress">{{ item.address.suburb.label }}</span>
      </a>
    </small>
  </h2>
  <mat-divider></mat-divider>
  <nav>
    <follow-piece [item]="item"></follow-piece>
    <share-piece [item]="item"></share-piece>
    <like-piece [item]="item"></like-piece>
    <span [style.flexGrow]="1"></span>
    <time-piece [item]="item"></time-piece>
  </nav>
  <mat-divider></mat-divider>
  <section>
    <article [innerHTML]="item.description" itemprop="description"></article>
    <aside>
      <mat-expansion-panel #details (opened)="expanded(details)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="map-marker-alt"></fa-icon>
            <i18n>details</i18n>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
          <tr>
            <td [style.verticalAlign]="'top'">
              <i18n>address</i18n>
            </td>
            <td itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{ item.address.street }}</span>
                <span itemprop="postOfficeBoxNumber">{{ item.address.houseNumber }}</span>
                <br>
                <span itemprop="postalCode">{{ item.address.postalCode }}</span>
                <span itemprop="addressLocality">{{ item.address.place }}</span>
                <span itemprop="streetAddress">{{ item.address.suburb.label }}</span>
            </td>
          </tr>
          <ng-container *ngIf="item.phone">
            <tr>
              <td><i18n>phone</i18n></td>
              <td itemscope itemtype="https://schema.org/PostalAddress">
                <a mat-button target="_blank" [href]="'tel:' + item.phone">
                  <fa-icon icon="phone"></fa-icon>
                  <span itemprop="telephone">{{ item.phone }}</span>
                </a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="item.mail">
            <tr>
              <td><i18n>email</i18n></td>
              <td itemscope itemtype="https://schema.org/PostalAddress">
                <a mat-button target="_blank" [href]="'mailto:' + item.mail">
                  <fa-icon icon="envelope"></fa-icon>
                  <span itemprop="email">{{ item.mail }}</span>
                </a>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td><i18n>category</i18n></td>
            <td>
              <mat-chip-list>
                <mat-chip
                  class="mat-body"
                  [queryParams]="{ categories: item.category.id }"
                  [routerLink]="['/', 'activities']"
                  [style.borderColor]="item.category.color">
                  <span>{{ item.category.label }}</span>
                </mat-chip>
              </mat-chip-list>
            </td>
          </tr>
          <tr>
            <td><i18n>suburb</i18n></td>
            <td itemscope itemtype="https://schema.org/PostalAddress">
              <a mat-button
                [queryParams]="{ suburbs: item.address.suburb.id }"
                [routerLink]="['/', 'activities']">
                <fa-icon icon="city"></fa-icon>
                <span itemprop="streetAddress">{{ item.address.suburb.label }}</span>
              </a>
            </td>
          </tr>
          <ng-container *ngIf="item.targetGroups?.length">
            <tr>
              <td><i18n>targetGroups</i18n></td>
              <td>
                <ng-container *ngFor="let targetGroup of item.targetGroups">
                  <a mat-button
                    [queryParams]="{ targetgroups: targetGroup.id }"
                    [routerLink]="['/', 'activities']">
                    <fa-icon icon="users"></fa-icon>
                    <span itemprop="audience"> {{ targetGroup.label }} </span>
                  </a>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </table>
      </mat-expansion-panel>
      <ng-container *ngIf="item.images">
        <mat-expansion-panel #images (opened)="expanded(images)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon icon="image"></fa-icon>
              <i18n>images</i18n>
              <small>({{ item.images.length }})</small>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let image of item.images">
            <figure itemprop="image">
              <img
                src="data:image/svg+xml,
                  %3Csvg xmlns='http://www.w3.org/2000/svg'/%3E"
                [alt]="image.label"
                [style.backgroundImage]="image.source"
                [title]="image.label">
            </figure>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="item.schedules">
        <mat-expansion-panel #schedules (opened)="expanded(schedules)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon icon="history"></fa-icon>
              <i18n>schedules</i18n>
              <small>({{ item.schedules.length }})</small>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section>
            <mat-calendar
              [dateFilter]="dateFilter"
              [startAt]="startAt"
              (click)="click($event)"
              (selectedChange)="select($event)">
            </mat-calendar>
            <mat-divider></mat-divider>
            <aside>
              <ng-container *ngIf="schedule">
                <i18n>selectedSchedule</i18n>
                <time>{{ schedule.datetime }}</time>
              </ng-container>
              <ng-container *ngIf="!schedule">
                <i18n>nextSchedule</i18n>
                <time>{{ item.scheduled?.datetime }}</time>
              </ng-container>
            </aside>
          </section>
        </mat-expansion-panel>
      </ng-container>
      <mat-expansion-panel #mapview (opened)="expanded(mapview)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="globe"></fa-icon>
            <i18n>mapview</i18n>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span itemscope itemtype="https://schema.org/Map">
          <iframe #frame [src]="source"></iframe>
        </span>
      </mat-expansion-panel>
      <mat-expansion-panel #organisation (opened)="expanded(organisation)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="at"></fa-icon>
            <i18n>organisation</i18n>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <organisation-card itemscope itemtype="https://schema.org/Organization" [item]="item.organisation"></organisation-card>
      </mat-expansion-panel>
    </aside>
  </section>
</main>
