<main>
  <h2 class="mat-headline">
    {{ item.name }}
    <small>
      <i18n i18n="@@by">by</i18n>
      <a [routerLink]="['/', 'organisations', item.organisation.id]">
        {{ item.organisation.name }}
      </a>
      <i18n i18n="@@at">at</i18n>
      <a
        [queryParams]="{ suburbs: item.address.suburb.id }"
        [routerLink]="['/', 'activities']">
        {{ item.address.place }} {{ item.address.suburb.name }}
      </a>
    </small>
  </h2>
  <mat-divider></mat-divider>
  <nav>
    <share-piece [item]="item"></share-piece>
    <like-piece [item]="item"></like-piece>
    <span [style.flexGrow]="1"></span>
    <button mat-button disabled>
      <icon-compat icon="clock"></icon-compat>
      <time [datetime]="item.created">
        {{ item.created | date: 'dd.MM.yyyy' }}
      </time>
    </button>
  </nav>
  <mat-divider></mat-divider>
  <section>
    <ngx-md class="mat-body" [data]="item.description"></ngx-md>
    <aside>
      <expand-compat #mapview (changed)="$event && expanded(mapview)">
        <ng-template #expandHeader>
          <icon-compat icon="globe"></icon-compat>
          <i18n i18n="@@mapview">mapview</i18n>
        </ng-template>
        <ng-template #expandContent>
          <iframe [src]="source"></iframe>
        </ng-template>
      </expand-compat>
      <expand-compat #organisation (changed)="$event && expanded(organisation)">
        <ng-template #expandHeader>
          <icon-compat icon="at"></icon-compat>
          <i18n i18n="@@organisation">organisation</i18n>
        </ng-template>
        <ng-template #expandContent>
          <organisation-card [item]="item.organisation"></organisation-card>
        </ng-template>
      </expand-compat>
      <ng-container *ngIf="item.blogs">
        <expand-compat #blogposts (changed)="$event && expanded(blogposts)">
          <ng-template #expandHeader>
            <icon-compat icon="at"></icon-compat>
            <i18n i18n="@@blogposts">blogposts</i18n>
            <small>({{ item.blogs.length }})</small>
          </ng-template>
          <ng-template #expandContent>
            <ng-container *ngFor="let blogpost of item.blogs">
              <blogpost-card [item]="blogpost"></blogpost-card>
            </ng-container>
          </ng-template>
        </expand-compat>
      </ng-container>
    </aside>
  </section>
</main>
