@import '../../../../app.vars.scss';

scroll-view {
  & > stack-layout {
    & > stack-layout {
      & > .expand-component {
        .datetime {
          border-color: $color-light;
          border-top-width: 1;
          margin-top: rem(1);
          padding-top: rem(1);

          & > label {
            horizontal-align: center;
          }

          & > [unit] {
            font-weight: bold;
            horizontal-align: center;
          }
        }

        web-view {
          height: rem(20);
          width: 100%;
        }

        .detail {
          [ripple] {
            &[borderColor] {
              border-radius: rem(1);
              border-width: rem(.25);
              padding: rem(.25) rem(.5);
            }
          }
        }
      }
    }
  }
}
