@import '../../../../app.vars.scss';

main {
  & > section {
    & > aside {
      & > [component=expand] {
        @include deep {
          & > mat-expansion-panel {
            &.column {
              @include flex(column);
            }

            .mat-expansion-panel-body {
              & > iframe {
                border: 0;
                border-radius: .25rem;
                height: 20rem;
                margin: 1rem;
                width: 100%;
              }

              & > section {
                width: 100%;

                & > aside {
                  padding: 1rem;
                  text-align: center;

                  & > [component=i18n] {
                    display: block;
                    font-weight: bold;
                  }
                }

                & > mat-divider {
                  margin: 0 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
