@import '../../../../app.theme.scss';

main {
  & > section {
    & > aside {
      & > [compat=expand] {
        @include deep {
          & > mat-expansion-panel {
            & .mat-expansion-panel-body {
              & > iframe {
                border: 0;
                border-radius: .25rem;
                height: 20rem;
                margin: 1rem;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
