@import '../../app.vars.scss';

scroll-view {
  & > stack-layout {
    min-width: rem(5);
    padding: rem(1.5);

    & > label {
      &.strong {
        font-weight: bold;
        padding-top: rem(.5);
      }
    }

    & > stack-layout {
      orientation: horizontal;

      & > [ripple] {
        border-radius: rem(.25);
        font-weight: bold;
        orientation: horizontal;
        padding: rem(.75);

        & > [unit] {
          vertical-align: center;
        }
      }

      & > [unit] {
        font-size: rem(1.25);
        font-weight: bold;

        & + label {
          font-size: rem(1.25);
          font-weight: bold;
          padding-left: rem(.25);
        }
      }
    }
  }
}
