@import '../../../../app.vars.scss';

a {
  display: block;
  text-align: left;

  @include deep {
    & > span {
      & > span {
        font-size: 1rem;
      }

      & > [component=icon] {
        padding-right: .5rem;
      }
    }
  }
}
