@import '../../../../app.vars.scss';

absolute-layout {
  width: auto;

  & > stack-layout {
    orientation: horizontal;
    padding-right: rem(.5);
    width: auto;

    & > label {
      vertical-align: center;
    }

    & > [icon] {
      height: rem(2);
      padding-right: rem(.5);
      width: rem(2);
    }
  }
}
