@import '../../../../app.theme.scss';

a {
  margin: 1rem;
  display: block;
  text-align: left;

  & + a {
    margin-left: 0;
  }

  [compat=icon] {
    padding-right: .5rem;
  }

  span {
    font-size: 1rem;
  }
}
