@keyframes linear-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes stroke-rotate {
    0% { stroke-dashoffset: 268.606171882px; transform: rotate(0); }
    12.5% { stroke-dashoffset: 56.548667765px; transform: rotate(0); }
    12.5001% { stroke-dashoffset: 56.548667765px; transform: rotateX(180deg) rotate(72.5deg); }
    25% { stroke-dashoffset: 268.606171882px; transform: rotateX(180deg) rotate(72.5deg); }

    25.0001% { stroke-dashoffset: 268.606171882px; transform: rotate(270deg); }
    37.5% { stroke-dashoffset: 56.548667765px; transform: rotate(270deg); }
    37.5001% { stroke-dashoffset: 56.548667765px; transform: rotateX(180deg) rotate(161.5deg); }
    50% { stroke-dashoffset: 268.606171882px; transform: rotateX(180deg) rotate(161.5deg); }

    50.0001% { stroke-dashoffset: 268.606171882px; transform: rotate(180deg); }
    62.5% { stroke-dashoffset: 56.548667765px; transform: rotate(180deg); }
    62.5001% { stroke-dashoffset: 56.548667765px; transform: rotateX(180deg) rotate(251.5deg); }
    75% { stroke-dashoffset: 268.606171882px; transform: rotateX(180deg) rotate(251.5deg); }

    75.0001% { stroke-dashoffset: 268.606171882px; transform: rotate(90deg); }
    87.5% { stroke-dashoffset: 56.548667765px; transform: rotate(90deg); }
    87.5001% { stroke-dashoffset: 56.548667765px; transform: rotateX(180deg) rotate(341.5deg); }
    100% { stroke-dashoffset: 268.606171882px; transform: rotateX(180deg) rotate(341.5deg); }
}
.mat-progress-spinner {
    animation: linear-rotate 2000ms linear infinite;
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
}
.mat-progress-spinner svg {
    height: 100px;
    left: 0;
    overflow: visible;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0;
    top: 0;
    width: 100px;
}
.mat-progress-spinner circle {
    animation: stroke-rotate;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    fill: transparent;
    stroke-dasharray: 282.743px;
    stroke-width: 10%;
    transform-origin: center;
    transition: stroke-dashoffset 225ms linear;
    transition-property: stroke;
}
