@import '../../../app.vars.scss';

stack-layout {
  border-radius: rem(.25);
  font-size: 14;
  orientation: horizontal;
  padding: rem(.25) rem(1) rem(.25) rem(.25);

  & > [unit] {
    vertical-align: center;
  }

  & > [icon] {
    height: 28;
    width: 30;
  }
}
