@import '../../../app.theme.scss';

stack-layout {
  orientation: horizontal;

  border-radius: 5;
  font-size: 15;
  padding: 5 15 5 5;

  // [compat=i18n]
  [unit] {
    vertical-align: center;
  }

  // [compat=icon]
  [icon] {
    height: 28;
    width: 30;
  }
}
