<div fxFlex id="navbarHeader" fxFlex="100" fxLayout="column">
    <div id="logo">Wupp'n'go - LOGO</div>
    <div id="navbar" fxFlex fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <span *ngFor="let routeLink of routeLinks; let i = index;" class="nav-item" [routerLink]="routeLink.link" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
                <a mat-button (click)="activeLinkIndex = i">
                    {{routeLink.label}}
                </a>
            </span>
        </div>
    </div>
  <router-outlet></router-outlet>
</div>