<mat-card-header class="header">
  <mat-card-title class="title">
    register
  </mat-card-title>
</mat-card-header>
<main>
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>
          <i18n>email</i18n>
        </mat-label>
        <input matInput type="email" [formControl]="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          <i18n>name</i18n>
        </mat-label>
        <input matInput type="text" [formControl]="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          <i18n>password</i18n>
        </mat-label>
        <input matInput type="password" [formControl]="password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          <i18n>passwordConfirm</i18n>
        </mat-label>
        <input matInput type="password" [formControl]="passwordConfirm">
      </mat-form-field>
        <p *ngIf="!passwordValid && password.touched" >
          Passwords should have a minimum of eight characters and should
          consist of a mixture of alpha, numeric, and uppercase letters.
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="registerButton" mat-raised-button [disabled]="!valid" (click)="register()">
        <i18n>register</i18n>
      </button>
    </mat-card-actions>
  </mat-card>
</main>
