<aol-map>
	<aol-interaction-default>
	</aol-interaction-default>

	<aol-view enableRotation="" [zoom]="zoomfactor">
		<aol-coordinate [srid]="projection" [x]="longitude" [y]="latitude">
		</aol-coordinate>
	</aol-view>

	<aol-layer-tile>
		<aol-source-osm>
		</aol-source-osm>
	</aol-layer-tile>

	<aol-layer-vector [zIndex]="10">
		<aol-source-cluster [distance]="clusterspan">
			<aol-source-vector [overlaps]="true">
				<ng-container *ngFor="let activity of activities">
					<aol-feature [id]="activity.id">
						<aol-geometry-point>
							<aol-coordinate [srid]="projection"
								[x]="activity.address.longitude"
								[y]="activity.address.latitude">
							</aol-coordinate>
						</aol-geometry-point>
					</aol-feature>
				</ng-container>
			</aol-source-vector>
		</aol-source-cluster>
	</aol-layer-vector>
</aol-map>
