<aol-map class="map-container" *ngIf="latitude && longitude && projection && zoom">
	<aol-interaction-default></aol-interaction-default>
	<aol-view [zoom]="zoom">
		<aol-coordinate [x]="longitude" [y]="latitude" [srid]="projection"></aol-coordinate>
	</aol-view>
	<aol-layer-tile>
		<aol-source-osm></aol-source-osm>
	</aol-layer-tile>
	<aol-layer-vector *ngFor="let activity of activities" [zIndex]="10">
		<aol-source-vector [overlaps]="true">
			<aol-feature [id]="activity.id">
				<aol-geometry-point>
					<aol-coordinate [x]="activity.address.longitude" [y]="activity.address.latitude" [srid]="projection"></aol-coordinate>
				</aol-geometry-point>
				<aol-style>
					<aol-style-circle [radius]="10">
						<aol-style-stroke [color]="'black'" [width]="2"></aol-style-stroke>
						<aol-style-fill [color]="activity.category.color"></aol-style-fill>
					</aol-style-circle>
				</aol-style>
			</aol-feature>
			<aol-overlay #popup *ngIf="popupContent.length && popupContent[0].id === activity.id">
				<aol-coordinate [x]="activity.address.longitude" [y]="activity.address.latitude" [srid]="projection">
				</aol-coordinate>
				<aol-content>
					<mat-card class="mapPopUp">
						<p>Folgende Angebote finden an diesem Ort sattt:</p>
						<mat-list role="list">
							<mat-list-item *ngFor="let act of popupContent" role="listitem" class="clickable" (click)="showDetails(act)">{{act.name}}</mat-list-item>
						</mat-list>
					</mat-card>
				</aol-content>
			</aol-overlay>
		</aol-source-vector>
	</aol-layer-vector>
</aol-map>
<mat-sidenav-container>
	<!-- doesn't do anything right now -->
	<filter-component></filter-component>
	<mat-sidenav #sidenav mode="side" align="start" class="enable-pointer">
		<div id="activityDetailMapContent">
			<activity-detail *ngIf="currentDetail" id="activity-summary" [activity]="currentDetail"></activity-detail>
		</div>
		<!-- <a class="enable-pointer" routerLink='/login' routerLinkActive="login">LOGIN</a> -->
	</mat-sidenav>
</mat-sidenav-container>
