aol-map {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

input {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 32px;
}

mat-sidenav-container {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background: none;
	pointer-events: none;
	overflow: hidden;
}

mat-sidenav {
	margin-top: 60px;
	max-width: 400px;
}


/* .enable-pointer {
	pointer-events: all;
} */

#activity-summary {
	width: 400px;
}

#activityDetailMapContent {
	width: 350px;
}

#search-area {
	width: 400px;
}

.active-activity ::ng-deep mat-card {
	background-color: rgb(105, 123, 179);
	color: white;
}

aol-map ::ng-deep {
	overflow: hidden;
}

.default-marker {
	background-color: black;
	width: 42px;
	height: 42px;
}

.active-marker {
	background-color: rgb(105, 123, 179);
	width: 42px;
	height: 42px;
}

#login{
		z-index: 3;
		position: absolute;
		right: 0px;
		top: 0px;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: gray;
}

.mapPopUp{
	overflow: auto;
	max-height: 400px;
}
