<div class="container-fluid activity-detail" *ngIf="activity && activity.provider && activity.provider.organisation">
	<h3>{{activity.name}}</h3>
	<hr>
	<div *ngIf="activity.show_user && activity.provider.user">
		<div class="row">
			<div class="col">{{activity.provider.user.fullname ? constants.nameString + ': ' : ''}} </div>
			<b class="col">{{activity.provider.user.fullname ? activity.provider.user.fullname : ''}}</b>
		</div>
		<div class="row">
			<div class="col">{{activity.provider.user.username ? constants.user + ': ' : ''}} </div>
			<b class="col">{{activity.provider.user.username ? activity.provider.user.username : ''}}</b>
		</div>
		<div class="row">
			<div class="col">{{activity.provider.user.phone ? constants.phone + ': ' : ''}} </div>
			<b class="col">{{activity.provider.user.phone ? activity.provider.user.phone : ''}}</b>
		</div>
	</div>
	<div class="row">
		<div class="col">{{constants.address}}
		</div>
		<div class="col">
			<b *ngIf="activity.address">{{activity.address.toString}}</b>
		</div>
	</div>
	<hr>
	<div class="row" *ngIf="activity.description">
		<div class="col">{{constants.description}}</div>
		<b class="col">{{activity.description}}</b>
	</div>
	<div class="row" *ngIf="activity.category">
		<div class="col">{{constants.category}}</div>
		<b class="col">{{activity.category.name}}</b>
	</div>
	<div class="row" *ngIf="activity.target_groups.length">
		<div class="col">{{constants.targetGroups}}</div>
		<div class="col">
			<mat-chip-list class="mat-chip-list-stacked">
				<mat-chip color="accent" selected="true" *ngFor="let targetGroup of activity.target_groups">
					{{targetGroup.name}}
				</mat-chip>
			</mat-chip-list>
		</div>
	</div>
	<div class="row" *ngIf="activity.tags.length">
		<div class="col">{{constants.tags}}</div>
		<div class="col">
			<mat-chip-list class="mat-chip-list-stacked">
				<mat-chip selected="true" *ngFor="let tag of activity.tags">#{{tag.name}}</mat-chip>
			</mat-chip-list>
		</div>
	</div>
	<b>{{constants.dates}}</b>
	<ul class="list-group list-group-flush">
		<li class="list-group-item" *ngFor="let schedule of activity.schedules">{{schedule.toString}}</li>
	</ul>
	<organisation-detail [organisation]="activity.provider.organisation" [largeTitle]="false"></organisation-detail>
</div>
