<div class="activity-container mat-elevation-z8">

	<div class="activities-table-header">
		<mat-form-field>
			<input matInput (keyup)="handleFiltered($event)"
			  placeholder="Filter">
		</mat-form-field>
		<button mat-button routerLink='/activity/edit/new'>
			{{ constants.newEntry }}
		</button>
	</div>

	<mat-table #table [dataSource]="dataSource"
	  class="activity-table" matSort
	  (matSortChange)="handleSorted($event)">

		<ng-container matColumnDef="Activities.name">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header disableClear="true">
				{{ constants.nameString }} </mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Categories.name">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header disableClear="true">
				{{ constants.category }} </mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.category.name }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Activities.description">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header>
				{{ constants.description }}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Organisations.name">
			<mat-header-cell mat-sort-header
			  *matHeaderCellDef>
				{{constants.organisation}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.provider.organisation.name}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="schedules">
			<mat-header-cell *matHeaderCellDef>{{constants.dates}}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{toString(row.schedules)}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="tags">
			<mat-header-cell *matHeaderCellDef>{{constants.tags}}</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-chip-list>
					<span *ngFor="let tag of row?.tags">{{tag.name + ' | '}}</span>
				</mat-chip-list>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="target_groups">
			<mat-header-cell *matHeaderCellDef>{{constants.targetGroups}}</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-chip-list>
					<mat-chip *ngFor="let targetGroup of row?.target_groups">{{targetGroup.name}}</mat-chip>
				</mat-chip-list>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="action"
		  *ngIf="actionsVisible()">
			<mat-header-cell *matHeaderCellDef>
				{{constants.edit}} / {{constants.delete}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button mat-button color="primary"
				  routerLink='/activity/edit/{{row.id}}'>
					<i class="fa fa-pencil-square-o"
					  aria-hidden="true"></i>
				</button>
				<delete-action [recordID]="row.id"
				  [nameToDelete]="row.name" (onDelete)="onDelete($event)">
				</delete-action>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

	<table-paginator (handlePageChanged)="handlePageChanged($event)">
	</table-paginator>

</div>
