<div class="loadingOverlay" *ngIf="!finishedLoading">
	<mat-spinner></mat-spinner>
</div>
<mat-sidenav-container>
	<mat-sidenav #sidenav mode="over">
		<button mat-raised-button type="button" color="accent" (click)="closeDetails()">
			{{constants.close}}
		</button>
		<activity-detail *ngIf="currentDetail" [user]="currentUser" [activity]="currentDetail"></activity-detail>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="table-container">
			<div class="table-header">
				<mat-form-field>
					<input matInput (keyup)="handleFiltered($event)" placeholder="Filter">
				</mat-form-field>
				<button mat-button *ngIf="showNewButton" routerLink='/activity/edit/new'>
					{{ constants.newEntry }}
				</button>
			</div>
			<div class="loadingOverlay" *ngIf="!finishedLoading">
				<mat-spinner></mat-spinner>
			</div>
			<mat-table #table [dataSource]="dataSource" class="activity-table" matSort (matSortChange)="handleSorted($event)" matSortActive="Activities.name"
			 matSortDirection="asc" matSortDisableClear>

				<ng-container matColumnDef="Activities.name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ constants.nameString }} </mat-header-cell>
					<mat-cell class="clickable" *matCellDef="let row" (click)="showDetails(row)">{{ row.name }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Categories.name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ constants.category }} </mat-header-cell>
					<mat-cell class="clickable" *matCellDef="let row" (click)="showDetails(row)">{{ row.category.name }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Organisations.name">
					<mat-header-cell mat-sort-header *matHeaderCellDef>
						{{constants.organisation}}
					</mat-header-cell>
					<mat-cell *matCellDef="let row" (click)="showDetails(row)">{{row.provider.organisation.name}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="tags">
					<mat-header-cell *matHeaderCellDef>{{constants.tags}}</mat-header-cell>
					<mat-cell *matCellDef="let row" (click)="showDetails(row)">
						<mat-chip-list>
							<span *ngFor="let tag of row?.tags">{{tag.name + ' | '}}</span>
						</mat-chip-list>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="target_groups">
					<mat-header-cell *matHeaderCellDef>{{constants.targetGroups}}</mat-header-cell>
					<mat-cell *matCellDef="let row" (click)="showDetails(row)">
						<mat-chip-list>
							<mat-chip *ngFor="let targetGroup of row?.target_groups">{{targetGroup.name}}</mat-chip>
						</mat-chip-list>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="action" *ngIf="actionsVisible()">
					<mat-header-cell *matHeaderCellDef>
						{{constants.edit}} / {{constants.delete}}
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<button mat-button color="primary" routerLink='/activity/edit/{{row.id}}'>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
						<delete-action [recordID]="row.id" [nameToDelete]="row.name" (onDelete)="onDelete($event)">
						</delete-action>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>

			<mat-paginator [pageSize]="constants.defaultPageSize" [pageSizeOptions]="constants.pageSizeOptions" [length]="totalCount"
			 (page)="handlePageChanged($event)">
			</mat-paginator>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
