<div>
	<div class="table-container mat-elevation-z8">
		<div class="tabel-header">
			<mat-form-field floatPlaceholder="never">
				<input matInput #filter placeholder="Filter users">
			</mat-form-field>
		</div>

		<mat-table #table [dataSource]="dataSource">

			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> name </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="description">
				<mat-header-cell *matHeaderCellDef> description </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="date">
				<mat-header-cell *matHeaderCellDef> date </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="street">
				<mat-header-cell *matHeaderCellDef> street </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.addres?.street}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="housenumber">
				<mat-header-cell *matHeaderCellDef> housenumber </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.addres?.housenumber}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="postalcode">
				<mat-header-cell *matHeaderCellDef> postalcode </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.addres?.postalcode}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="place">
				<mat-header-cell *matHeaderCellDef> place </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.addres?.place}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="category">
				<mat-header-cell *matHeaderCellDef> category </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.category?.name}}
					<small>{{row?.category?.description}}</small>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="tags">
				<mat-header-cell *matHeaderCellDef> tags </mat-header-cell>
				<mat-cell *matCellDef="let row">
					<div *ngFor="let tag of row?.tags">
						{{tag.name}}
						<small>{{tag.description}}</small>
					</div>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="targetgroups">
				<mat-header-cell *matHeaderCellDef> targetgroups </mat-header-cell>
				<mat-cell *matCellDef="let row">
					<div *ngFor="let tag of row?.targetgroups">
						{{targetgroups.name}}
						<small>{{targetgroups.description}}</small>
					</div>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectActivity(row)"></mat-row>
		</mat-table>
		<!-- <mat-paginator #paginator [length]="activitiesDatabase.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
		</mat-paginator> -->
	</div>
	<button mat-raised-button (click)="createActivity()">New Activity</button>
	<button mat-raised-button (click)="deselectActivity()">cancel</button>
	<div *ngIf="selectedActivity">
		<form (ngSubmit)="onSubmitActivity()" class="well">
			<mat-form-field class="form-control">
				<input matInput name="name" type=text placeholder="name" [(ngModel)]="selectedActivity.name" value={{selectedActivity.name}}
				 id="actname_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<textarea matInput name="description" placeholder="description" [(ngModel)]="selectedActivity.description" value={{selectedActivity.description}}
				 id="actdescription_field"></textarea>
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="date" type=datetime-local placeholder="date" value={{selectedActivity.date}} id="actdate_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="address" placeholder="address" [(ngModel)]="addressInput" id="actaddres_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="street" placeholder="street" [(ngModel)]="selectedActivity.addres.street" value={{selectedActivity?.addres?.street}}
				 id="actstreet_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="housenumber" placeholder="housenumber" [(ngModel)]="selectedActivity.addres.housenumber" value={{selectedActivity?.addres?.housenumber}}
				 id="acthousenumber_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="place" placeholder="place" [(ngModel)]="selectedActivity.addres.place" value={{selectedActivity?.addres?.place}}
				 id="actaddres_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="postalcode" placeholder="postalcode" [(ngModel)]="selectedActivity.addres.postalcode" value={{selectedActivity?.addres?.postalcode}}
				 id="actaddres_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="category" placeholder="category" [(ngModel)]="selectedActivity.category" value={{selectedActivity?.category?.name}}
				 id="actcategory_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput name="showInstructor" placeholder="showinstructor" [(ngModel)]="selectedActivity.showinstructor" value={{selectedActivity.showInstructor}}
				 id="actshowinstructor_field">
			</mat-form-field>

			<mat-form-field class="auto-completion-full-width">
				<input matInput name="organisation" placeholder="organisation" aria-label="organisation" [matAutocomplete]="auto" [formControl]="orgaCtrl">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let orga of filteredOrgas | async" [value]="orga.name">
						<span>{{orga.name}}</span> |
						<small>{{orga?.website}}</small>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<button mat-raised-button type="submit">Submit</button>
		</form>
	</div>
</div>
