@import '../../../../app.vars.scss';

scroll-view {
  & > stack-layout {
    & > stack-layout {
      horizontal-align: center;
      margin-top: rem(1);

      & > [icon] {
        font-size: rem(3);
        height: rem(4);
        width: rem(4);
      }

      & > [unit] {
        font-size: rem(1.5);
      }
    }

    & > .expand-compat {
      margin: rem(1);

      & + .expand-compat {
        margin-top: 0;
      }

      scroll-view {
        orientation: horizontal;

        & > flexbox-layout {
          align-items: center;
          orientation: horizontal;

          & > grid-layout {
            & + grid-layout {
              margin-left: rem(1);
            }
          }

          & > stack-layout {
            orientation: horizontal;
            padding: rem(.25) 0;

            & + stack-layout {
              margin-left: rem(1);
            }

            &[ripple] {
              border-radius: rem(.25);
              orientation: horizontal;
              padding: rem(.25) rem(.75) rem(.25) rem(.25);

              &[borderColor] {
                border-radius: rem(1);
                border-width: rem(.25);
                padding: rem(.25) rem(.5);
              }

              & > label {
                vertical-align: center;
              }
            }
          }
        }
      }

      [icon] {
        height: rem(2);
        width: rem(2);
      }

      [unit] {
        & + label {
          font-size: rem(.75);
          font-weight: 300;
          padding-left: rem(.5);
        }
      }
    }
  }
}
