<scroll-view class="topoff">
  <stack-layout>
    <ng-container *ngIf="results === 0">
      <stack-layout>
        <icon-compat icon="frown"></icon-compat>
        <i18n i18n="@@notFoundError" unit="notFoundError"></i18n>
      </stack-layout>
    </ng-container>
    <ng-container *ngIf="results > 0">
      <ng-container *ngIf="items.activities.length">
        <expand-compat #activities
          class="expand-compat"
          (changed)="$event && expanded(activities)">
          <ng-template #expandHeader>
            <icon-compat icon="map-marker-alt"></icon-compat>
            <i18n i18n="@@activities" unit="activities"></i18n>
            <label [text]="'(' + items.activities.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #activity>
              <flexbox-layout>
                <ng-container *ngFor="let item of items.activities">
                  <grid-layout [width]="activity.getActualSize().width">
                    <activity-card [item]="item"></activity-card>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <ng-container *ngIf="items.organisations.length">
        <expand-compat #organisations
          class="expand-compat"
          (changed)="$event && expanded(organisations)">
          <ng-template #expandHeader>
            <icon-compat icon="at"></icon-compat>
            <i18n i18n="@@organisations" unit="organisations"></i18n>
            <label [text]="'(' + items.organisations.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #organisation>
              <flexbox-layout>
                <ng-container *ngFor="let item of items.organisations">
                  <grid-layout [width]="organisation.getActualSize().width">
                    <organisation-card [item]="item"></organisation-card>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <ng-container *ngIf="items.blogposts.length">
        <expand-compat #blogposts
          class="expand-compat"
          (changed)="$event && expanded(blogposts)">
          <ng-template #expandHeader>
            <icon-compat icon="comment-dots"></icon-compat>
            <i18n i18n="@@blogposts" unit="blogposts"></i18n>
            <label [text]="'(' + items.blogposts.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #blogpost>
              <flexbox-layout>
                <ng-container *ngFor="let item of items.blogposts">
                  <grid-layout [width]="blogpost.getActualSize().width">
                    <blogpost-card [item]="item"></blogpost-card>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <ng-container *ngIf="items.infopages.length">
        <expand-compat #infopages
          class="expand-compat"
          (changed)="$event && expanded(infopages)">
          <ng-template #expandHeader>
            <icon-compat icon="info-circle"></icon-compat>
            <i18n i18n="@@infopages" unit="infopages"></i18n>
            <label [text]="'(' + items.infopages.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #infopage>
              <flexbox-layout>
                <ng-container *ngFor="let item of items.infopages">
                  <grid-layout [width]="infopage.getActualSize().width">
                    <infopage-card [item]="item"></infopage-card>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <ng-container *ngIf="items.categories.length">
        <expand-compat #categories
          class="expand-compat"
          (changed)="$event && expanded(categories)">
          <ng-template #expandHeader>
            <icon-compat icon="dot-circle"></icon-compat>
            <i18n i18n="@@categories" unit="categories"></i18n>
            <label [text]="'(' + items.categories.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view>
              <flexbox-layout>
                <ng-container *ngFor="let item of items.categories">
                  <stack-layout ripple
                    [borderColor]="item.color"
                    (tap)="router.navigate(['/', 'activities'],
                      { queryParams: { categories: item.id } })">
                    <label [text]="item.name"></label>
                  </stack-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <ng-container *ngIf="items.suburbs.length">
        <expand-compat #suburbs
          class="expand-compat"
          (changed)="$event && expanded(suburbs)">
          <ng-template #expandHeader>
            <icon-compat icon="city"></icon-compat>
            <i18n i18n="@@suburbs" unit="suburbs"></i18n>
            <label [text]="'(' + items.suburbs.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view>
              <flexbox-layout>
                <ng-container *ngFor="let item of items.suburbs">
                  <stack-layout ripple
                    (tap)="router.navigate(['/', 'activities'],
                      { queryParams: { suburbs: item.id } })">
                    <icon-compat icon="city"></icon-compat>
                    <label [text]="item.name"></label>
                  </stack-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <ng-container *ngIf="items.targetGroups.length">
        <expand-compat #targetGroups
          class="expand-compat"
          (changed)="$event && expanded(targetGroups)">
          <ng-template #expandHeader>
            <icon-compat icon="users"></icon-compat>
            <i18n i18n="@@targetGroups" unit="targetGroups"></i18n>
            <label [text]="'(' + items.targetGroups.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view>
              <flexbox-layout>
                <ng-container *ngFor="let item of items.targetGroups">
                  <stack-layout ripple
                    (tap)="router.navigate(['/', 'activities'],
                      { queryParams: { targetgroups: item.id } })">
                    <icon-compat icon="users"></icon-compat>
                    <label [text]="item.name"></label>
                  </stack-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
    </ng-container>
  </stack-layout>
</scroll-view>
