<main>
  <ng-container *ngIf="results === 0">
    <fa-icon icon="frown"></fa-icon>
    <strong class="mat-title">
      <i18n>notFoundError</i18n>
    </strong>
  </ng-container>
  <ng-container *ngIf="results > 0">
    <ng-container *ngIf="items.activities.length">
      <mat-expansion-panel #activities (opened)="expanded(activities)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="map-marker-alt"></fa-icon>
            <i18n>activities</i18n>
            <small>({{ items.activities.length }})</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let item of items.activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
    <ng-container *ngIf="items.organisations.length">
      <mat-expansion-panel #organisations (opened)="expanded(organisations)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="at"></fa-icon>
            <i18n>organisations</i18n>
            <small>({{ items.organisations.length }})</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let item of items.organisations">
          <organisation-card [item]="item"></organisation-card>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
    <ng-container *ngIf="items.blogposts.length">
      <mat-expansion-panel #blogposts (opened)="expanded(blogposts)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="comment-dots"></fa-icon>
            <i18n>blogposts</i18n>
            <small>({{ items.blogposts.length }})</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let item of items.blogposts">
          <blogpost-card [item]="item"></blogpost-card>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
    <ng-container *ngIf="items.infopages.length">
      <mat-expansion-panel #infopages (opened)="expanded(infopages)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="info-circle"></fa-icon>
            <i18n>infopages</i18n>
            <small>({{ items.infopages.length }})</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let item of items.infopages">
          <infopage-card [item]="item"></infopage-card>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
    <ng-container *ngIf="items.categories.length">
      <mat-expansion-panel #categories (opened)="expanded(categories)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="dot-circle"></fa-icon>
            <i18n>categories</i18n>
            <small>({{ items.categories.length }})</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list multiple selectable>
          <ng-container *ngFor="let item of items.categories">
            <mat-chip
              class="mat-body"
              [queryParams]="{ categories: item.id }"
              [routerLink]="['/', 'activities']"
              [style.borderColor]="item.color">
              {{ item.label }}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-expansion-panel>
    </ng-container>
    <ng-container *ngIf="items.suburbs.length">
      <mat-expansion-panel #suburbs (opened)="expanded(suburbs)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="city"></fa-icon>
            <i18n>suburbs</i18n>
            <small>({{ items.suburbs.length }})</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          <ng-container *ngFor="let item of items.suburbs">
            <button mat-button
              [queryParams]="{ suburbs: item.id }"
              [routerLink]="['/', 'activities']">
              <fa-icon icon="city"></fa-icon>
              <span>{{ item.label }}</span>
            </button>
          </ng-container>
        </section>
      </mat-expansion-panel>
    </ng-container>
    <ng-container *ngIf="items.targetGroups.length">
      <mat-expansion-panel #targetGroups (opened)="expanded(targetGroups)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="users"></fa-icon>
            <i18n>targetGroups</i18n>
            <small>({{ items.targetGroups.length }})</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
          <ng-container *ngFor="let item of items.targetGroups">
            <button mat-button
              [queryParams]="{ targetgroups: item.id }"
              [routerLink]="['/', 'activities']">
              <fa-icon icon="users"></fa-icon>
              <span>{{ item.label }}</span>
            </button>
          </ng-container>
        </section>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</main>
