@import '../../../../app.theme.scss';

main {
  & > mat-accordion {
    display: block;
    margin: 1rem auto;
    max-width: calc(100% - 2rem);

    & > mat-expansion-panel {
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all $animation-duration;

      &.mat-expanded {
        border-color: $color-primary;

        & > mat-expansion-panel-header {
          background-color: $color-primary;

          @include deep {
            & .mat-expansion-indicator::after {
              color: $color-light;
            }
          }

          & mat-panel-title {
            color: $color-light;
          }
        }
      }

      & + mat-expansion-panel {
        margin-top: 2rem;
      }

      & > mat-expansion-panel-header {
        border-radius: 0;
        font-weight: bold;
        text-transform: uppercase;
        transition: all $animation-duration;

        & mat-panel-title {
          & > small {
            font-weight: lighter;
            line-height: 1rem;
            padding-left: .5rem;
          }
        }
      }

      @include deep {
        & .mat-expansion-panel-body {
          @include flex(row);
          overflow-x: auto;
          overflow-y: hidden;
          padding: 0;

          & > .base-card {
            & + .base-card {
              padding-left: 0;
            }
          }

          & > mat-chip-list {
            @include deep {
              & .mat-chip-list-wrapper {
                flex-wrap: nowrap;
              }
            }

            & mat-chip {
              border: .25rem solid;
              cursor: pointer;
              margin: 1rem;
              white-space: nowrap;

              &:focus:not(:hover)::after {
                opacity: 0;
              }

              &:not(.mat-chip-selected) {
                background-color: transparent !important;
              }

              & + mat-chip {
                margin-left: 0;
              }
            }
          }

          & > section {
            @include flex(row, flex-start, center);

            & > button {
              flex: 0 0 auto;
              margin: 1rem;
              text-align: left;

              & + button {
                margin-left: 0;
              }

              & [compat=icon] {
                padding-right: .5rem;
              }
            }
          }
        }
      }
    }
  }
}
