<mat-tab-group>
  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@configuration">configuration</i18n>
    </ng-template>
    <ng-container *ngIf="configuration">
      <configuration-form #form [item]="configuration"></configuration-form>
      <button mat-button [disabled]="!form.isValid" (click)="form.save()">
        <i18n i18n="@@save">save</i18n>
      </button>
    </ng-container>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@users">users</i18n>
    </ng-template>
    <ng-template matTabContent>
      <user-table editable></user-table>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@languages">languages</i18n>
    </ng-template>
    <ng-template matTabContent>
      <language-table editable></language-table>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@categories">categories</i18n>
    </ng-template>
    <ng-template matTabContent>
      <category-table editable></category-table>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@targetGroups">targetGroups</i18n>
    </ng-template>
    <ng-template matTabContent>
      <target-group-table editable></target-group-table>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@tags">tags</i18n>
    </ng-template>
    <ng-template matTabContent>
      <tag-table editable></tag-table>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@suburbs">suburbs</i18n>
    </ng-template>
    <ng-template matTabContent>
      <suburb-table editable></suburb-table>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@addresses">addresses</i18n>
    </ng-template>
    <ng-template matTabContent>
      <address-table editable></address-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
