<mat-card class="edit-container gray-card">
	<div class="loadingOverlay" *ngIf="!categories">
		<mat-spinner></mat-spinner>
	</div>
	<h2>{{ constants.categories }}
	</h2>
	<form #categoriesForm="ngForm" (ngSubmit)="onSubmit()">
		<mat-grid-list cols="3" rowHeight="100px">
			<div *ngFor="let category of categories">
				<mat-grid-tile colspan="1" rowspan="1">
					<div>{{ category.name }}</div>
					<span>
						<button mat-button color="primary" [routerLink]="['/admin', { outlets: { table: ['category-edit', category.id] } }]">
							<fa-icon [icon]="faPencilAlt"></fa-icon>
						</button>
					</span>
				</mat-grid-tile>
			</div>
			<button mat-button type="button" color="primary" [routerLink]="['/admin', { outlets: { table: ['category-edit', 'new'] } }]">{{constants.newEntry}}</button>
		</mat-grid-list>
		<button mat-button type="button" (click)="back()">{{constants.back}}</button>
		<button mat-button color="primary" type="submit">{{constants.save}}</button>
	</form>
</mat-card>
