<mat-card class="edit-container gray-card">
	<div class="loadingOverlay" *ngIf="!configurations">
		<mat-spinner></mat-spinner>
	</div>
	<mat-tab-group>
		<mat-tab label="{{constants.configuration}}">
			<h2>{{ constants.configuration }}
				<span style="color:red;  font-size: large;">{{ constants.warning + ' ' + constants.configWarning}} </span>
			</h2>
			<form #configForm="ngForm" (ngSubmit)="onSubmit()">
				<mat-grid-list cols="3" rowHeight="100px">
					<div *ngFor="let config of configurations;let i = index">
						<mat-grid-tile colspan="1" rowspan="1">
							<mat-form-field class="form-full-width">
								<input matInput type="text" name="config.{{i}}.value" [(ngModel)]=config.value placeholder={{getLabel(config.item)}} required/>
							</mat-form-field>
						</mat-grid-tile>
					</div>
				</mat-grid-list>
				<button class="btn" type="button" (click)="back()">{{constants.back}}</button>
				<button class="btn btn-primary" [disabled]="!configForm.form.valid" color="primary" type="submit">{{constants.save}}</button>
			</form>
		</mat-tab>
		<mat-tab label="{{constants.targetGroups}}">
			<targetgroup-form></targetgroup-form>
		</mat-tab>
		<mat-tab label="{{constants.tags}}">
			<tag-form></tag-form>
		</mat-tab>
		<mat-tab label="{{constants.categories}}">
			<category-form></category-form>
		</mat-tab>
	</mat-tab-group>
</mat-card>
