<mat-card *ngIf="targetGroup">
	<mat-card-header>
		<mat-card-title>{{targetGroup.name}}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div>
			<mat-form-field class="form-full-width">
				<input matInput type=text [(ngModel)]="targetGroup.name" name="[attribute]" id="[attribute]" placeholder={{constants.defaultLanguage}}>
			</mat-form-field>
		</div>
		<translatable-form #translatableTargetGroupFieldsComponent [multiLingualObject]="targetGroup" [translatableAttributes]="['name']">
		</translatable-form>
		<button mat-button color="primary" type="button" (click)="onSubmit()">{{constants.save}}</button>
		<button mat-button color="warn" type="button" (click)="back()">{{constants.cancel}}</button>
		<button *ngIf="targetGroup.id" mat-button color="warn" type="button" (click)="delete()">{{constants.delete}}</button>
	</mat-card-content>
</mat-card>
