<mat-card class="edit-container gray-card">
	<div class="loadingOverlay" *ngIf="!targetGroups">
		<mat-spinner></mat-spinner>
	</div>
	<h2>{{ constants.targetgroups }}
	</h2>
	<form #targetgroupsForm="ngForm" (ngSubmit)="onSubmit()">
		<mat-grid-list cols="3" rowHeight="100px">
			<div *ngFor="let targetGroup of targetGroups;let i = index">
				<mat-grid-tile colspan="1" rowspan="1">
					<mat-form-field class="form-full-width">
						<input matInput type="text" name="targetGroup{{i}}.name" [(ngModel)]=targetGroup.name/>
					</mat-form-field>
					<span>
						<fa-icon (click)="deleteTargetGroup(targetGroup)" [icon]="faTrashAlt" class="text-danger">
						</fa-icon>
					</span>
				</mat-grid-tile>
			</div>
		</mat-grid-list>
		<mat-card>
			<form>
				<h3>{{ constants.newEntry }}</h3>
				<mat-form-field class="form-full-width">
					<input matInput type="text" name="new" placeholder="{{constants.targetGroup}}" [(ngModel)]="newTargetGroupName" />
				</mat-form-field>
				<button class="btn" type="button" (click)="addTargetGroup()">{{constants.newEntry}}</button>
			</form>
		</mat-card>
		<button class="btn" type="button" (click)="back()">{{constants.back}}</button>
		<button class="btn btn-primary" color="primary" type="submit">{{constants.save}}</button>
	</form>
</mat-card>
