<mat-card class="centered-text-content" *ngIf="translations && multiLingualObject['_translations']">
	<mat-card-header>
		<mat-card-title>{{multiLingualObject.name}}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div>
			<mat-form-field class="form-full-width">
				<input matInput type=text [(ngModel)]="multiLingualObject['name']" name="[attribute]" id="[attribute]" placeholder={{constants.defaultLanguage}}>
			</mat-form-field>
		</div>
		<div *ngFor="let attribute of translatableAttributes">
			<mat-form-field *ngFor="let translation of translations" class="form-full-width">
				<input matInput type=text [(ngModel)]="multiLingualObject['_translations'][translation.locale][attribute]" name="[attribute]"
				 id="[attribute]" placeholder={{translation.locale}}>
			</mat-form-field>
		</div>
	</mat-card-content>
</mat-card>
