mat-card {
  width: 20rem;

  & > mat-card-content {
    & > icon-compat {
      float: right;
      font-size: 4rem;
    }

    & > small {
      display: block;
    }
  }

  & > mat-card-header {
    display: flex;
    align-items: flex-end;
    min-height: 5rem;

    &::ng-deep .mat-card-header-text {
      margin: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  & > mat-card-actions {
    button[disabled] {
      color: inherit;
      opacity: .38;
    }
  }

  & > mat-divider {
    border-top-color: inherit;
    opacity: .38;
  }
}
