@import '../../../../app.vars.scss';

grid-layout {
  width: rem(20);

  & > stack-layout {
    & > .card-title {
      font-weight: 500;
      height: rem(5);
    }

    & > .card-content {
      font-size: rem(.75);
      font-weight: 300;

      & > .card-image {
        font-size: rem(4);
        height: rem(5);
        horizontal-align: right;
        margin-bottom: rem(-.5);
        width: rem(5);
      }
    }
  }
}
