mat-card {
  & > mat-card-header {
    display: flex;
    align-items: flex-end;
    min-height: 5rem;
  }

  & > mat-card-content {
    & > icon-compat {
      float: right;
      font-size: 4rem;
    }
  }

  & > mat-divider {
    border-top-color: inherit;
    opacity: .36;
  }

  & > mat-card-actions {
    button[disabled] {
      color: inherit;
      opacity: .36;
    }
  }

  &::ng-deep .mat-ripple-element {
    opacity: .12;

    transform-origin: 0 0;
    border-radius: 0 0 100% 0;

    height: 150% !important;
    width: 150% !important;
    left: 0 !important;
    top: 0 !important;
  }
}
