backend/bin
backend/config/app.php
backend/composer.lock
backend/logs/*.log
backend/tests
backend/tmp
backend/vendor
backend/webroot/js

frontend/node_modules
frontend/npm-debug.log
frontend/package-lock.json
