backend/config/.env
backend/config/app.php
backend/webroot/js
backend/composer.lock
backend/logs
backend/tmp
backend/vendor

frontend/*.log
frontend/dist
frontend/node_modules
frontend/package-lock.json
server/.metadata/
server/wupportal/target/
/server/.recommenders
/server/RemoteSystemsTempFiles
