@import '../../../../app.theme.scss';

main {
  height: 100%;

  mat-card {
    margin: 1rem;
    max-width: 20rem !important;

    & > mat-card-header {
      &::ng-deep {
        .mat-card-header-text {
          margin: 0;
        }
      }
    }

    & > mat-card-content {
      & > mat-form-field {
        width: 100%;
      }
    }

    & > mat-card-actions {
      margin-bottom: -.5rem;
      padding-bottom: 0;
    }
  }
}
