@import '../../../../app.theme.scss';

main {
  @include flex(row, center, center);

  & > mat-card {
    margin: 1rem;
    max-width: 20rem;

    & > mat-card-actions {
      margin-bottom: -.5rem;
      padding-bottom: 0;
    }

    & > mat-card-content {
      & > mat-form-field {
        width: 100%;
      }
    }

    & > mat-card-header {
      @include deep {
        & > .mat-card-header-text {
          margin: 0;
        }
      }
    }
  }
}
