@import '../../../../app.vars.scss';

StackLayout.expand {
  @include elevation;
  margin: rem(1);

  &.open {
    & > FlexboxLayout {
      background-color: $color-primary;
      color: $color-light;
      height: rem(4);

      & > .indicator {
        GridLayout {
          border-color: $color-light;
          transform: rotate(225deg);
        }
      }
    }

    & > StackLayout {
      height: auto;
    }
  }

  & > FlexboxLayout {
    align-items: center;
    background-color: $color-light;
    border-top-left-radius: rem(.25);
    border-top-right-radius: rem(.25);
    color: $color-dark;
    font-weight: bold;
    height: rem(3);
    padding: 0 rem(1);

    & > .indicator {
      height: rem(3);
      width: rem(3);

      GridLayout {
        border-color: $color-medium;
        border-width: 0 2 2 0;
        height: rem(.5);
        transform: rotate(45deg);
        width: rem(.5);
      }
    }
  }

  & > StackLayout {
    height: 0;
  }
}
