@import '../../../../app.vars.scss';

StackLayout.expand {
  @include elevation;

  &.closed {
    border-color: $color-light;

    & > FlexboxLayout {
      background-color: $color-lightest;
      color: $color-darkest;
      height: rem(3);

      & > .indicator {
        GridLayout {
          border-color: $color-darker;
          transform: rotate(45deg);
        }
      }
    }

    & > StackLayout {
      height: 0;
    }
  }

  &.opened {
    border-color: $color-primary;

    & > FlexboxLayout {
      background-color: $color-primary;
      color: $color-lightest;
      height: rem(4);

      & > .indicator {
        GridLayout {
          border-color: $color-lightest;
          transform: rotate(225deg);
        }
      }
    }

    & > StackLayout {
      height: auto;
    }
  }

  & > FlexboxLayout {
    align-items: center;
    border-top-left-radius: rem(.25);
    border-top-right-radius: rem(.25);
    font-weight: bold;
    padding: 0 rem(1);

    & > .indicator {
      height: rem(3);
      width: rem(3);

      & > GridLayout {
        border-width: 0 2 2 0;
        height: rem(.5);
        width: rem(.5);
      }
    }
  }

  & > StackLayout {
    padding: rem(1);
  }
}
