@import '../../../../app.vars.scss';

StackLayout.expand {
  @include elevation;

  &.open {
    border-color: $color-primary;

    & > FlexboxLayout {
      background-color: $color-primary;
      color: $color-lightest;
      height: rem(4);

      & > .indicator {
        GridLayout {
          border-color: $color-lightest;
          transform: rotate(225deg);
        }
      }
    }

    & > StackLayout {
      visibility: visible;
    }
  }

  & > FlexboxLayout {
    align-items: center;
    background-color: $color-lightest;
    border-top-left-radius: rem(.25);
    border-top-right-radius: rem(.25);
    color: $color-darkest;
    font-weight: bold;
    height: rem(3);
    padding: 0 rem(1);

    & > .indicator {
      height: rem(3);
      width: rem(3);

      & > GridLayout {
        border-color: $color-darker;
        border-width: 0 2 2 0;
        height: rem(.5);
        transform: rotate(45deg);
        width: rem(.5);
      }
    }
  }

  & > StackLayout {
    padding: rem(1);
    visibility: collapse;
  }
}
