@import '~@angular/material/theming';
@include mat-core();

$mat-custom-yellow: (
    50 : #fffefb,
    100 : #fefcf6,
    200 : #fefbf0,
    300 : #fef9ea,
    400 : #fdf7e6,
    500 : #fdf6e1,
    600 : #fdf5dd,
    700 : #fcf3d9,
    800 : #fcf2d5,
    900 : #fcefcd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-custom-red: (
    50 : #fbebe9,
    100 : #f5cdc9,
    200 : #eeaba5,
    300 : #e78980,
    400 : #e27065,
    500 : #dd574a,
    600 : #d94f43,
    700 : #d4463a,
    800 : #cf3c32,
    900 : #c72c22,
    A100 : #ffffff,
    A200 : #ffd0ce,
    A400 : #ff9f9b,
    A700 : #ff8781,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-custom-accent: (
    50 : #eaf3f7,
    100 : #c9e2ea,
    200 : #a6cfdd,
    300 : #82bccf,
    400 : #67adc4,
    500 : #4c9fba,
    600 : #4597b3,
    700 : #3c8dab,
    800 : #3383a3,
    900 : #247294,
    A100 : #d2f1ff,
    A200 : #9fe0ff,
    A400 : #6cd0ff,
    A700 : #52c8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$custom-primary: mat-palette($mat-custom-red, 500, 100, 700);
$custom-secondary: mat-palette($mat-custom-yellow, 500, 100, 700);
$custom-accent:  mat-palette($mat-custom-accent, 500, 100, 700);

$custom-theme: mat-light-theme($custom-primary, $custom-secondary);

@include angular-material-theme($custom-theme);

// global styles
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: Open Sans, Regular;
  font-size: 18px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

.smallText{
  font-size: 11px;
}

.background-color-primary {
  background-color: mat-color($custom-primary) !important;
  color: mat-color($custom-primary, default-contrast) !important;
}

.color-contrast-primary {
  color: mat-color($custom-primary, default-contrast) !important;
}

.color-primary {
  color: mat-color($custom-primary) !important;
}

.background-color-secondary {
  background-color: mat-color($custom-secondary) !important;
  color: mat-color($custom-secondary, default-contrast) !important;
}

.color-contrast-secondary {
  color: mat-color($custom-secondary, default-contrast) !important;
}

.color-secondary {
  color: mat-color($custom-secondary) !important;
}

.background-color-accent {
  background-color: mat-color($custom-accent) !important;
  color: mat-color($custom-accent, default-contrast) !important;
}

.color-contrast-accent {
  color: mat-color($custom-accent, default-contrast) !important;
}

.color-accent {
  color: mat-color($custom-accent) !important;
}

// Tabs styles
.mat-tab-label{
  margin-right: 5px;
  border: 1px solid mat-color($custom-primary) !important;
  opacity: 1 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  z-index: -1 !important;
  background-color: mat-color($custom-primary) !important;
}

.mat-ink-bar {
  height: 50px !important;
}

.mat-tab-label-active {
  color: mat-color($custom-primary, default-contrast) !important;
}

.mat-tab-label,
.mat-tab-link {
  &.cdk-keyboard-focused,
  &.cdk-program-focused {
    &:not(.mat-tab-disabled) {
      background-color: mat-color($custom-primary) !important;
    }
  }
}

// Stepper styles
.mat-step-label-selected {
  color: mat-color($custom-primary, default-contrast) !important;
}

.mat-step-header {
  margin-right: 5px;
  border: 1px solid mat-color($custom-primary) !important;
  opacity: 1 !important;
}

.mat-step-header[aria-selected=true] {
  background-color: mat-color($custom-primary) !important;
}

.mat-step-header .mat-step-icon {
  display: none;
}

// customizing expansion panel

fa-icon.collapsableIndicator {
  position: absolute;
  right: 20px; 
  top: 10px;
}
