<mat-tab-group>
  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@organisations">organisations</i18n>
    </ng-template>
    <ng-template matTabContent>
      <organisation-table editable></organisation-table>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@activities">activities</i18n>
    </ng-template>
    <ng-template matTabContent>
      <activity-table editable></activity-table>
    </ng-template>
  </mat-tab>

  <!-- <mat-tab>
    <ng-template matTabLabel>
      <i18n i18n="@@providers">providers</i18n>
    </ng-template>
    <ng-template matTabContent>
      <provider-table editable></provider-table>
    </ng-template>
  </mat-tab>
   -->
</mat-tab-group>
