<grid-layout>
  <navbar-component [title]="name | async">
    <action-item ios.position="right">
      <stack-layout>
        <activity-indicator
          ios:style="margin-top: 4"
          [busy]="busy | async">
        </activity-indicator>
        <grid-layout
          android:style="margin-right: 8;"
          ios:style="margin-right: -16;">
          <icon-component ripple
            [icon]="(drawer.visible | async) ? 'arrow-left' : 'bars'"
            (tap)="drawer.toggle()">
          </icon-component>
        </grid-layout>
      </stack-layout>
    </action-item>
  </navbar-component>
  <drawer-component #drawer (changed)="toggle($event)">
    <ng-template #drawerMain>
      <stack-layout>
        <router-outlet></router-outlet>
      </stack-layout>
    </ng-template>
    <ng-template #drawerMenu>
      <scroll-view>
        <flexbox-layout>
          <image src="~/images/icon.png"></image>
          <stack-layout [class.active]="url.startsWith('/search')">
            <icon-component icon="search"></icon-component>
            <absolute-layout #search>
              <text-field #input
                returnKeyType="search"
                text="{{ filter() }}"
                (blur)="search.className = input.text ? 'float' : 'base'"
                (focus)="search.className = 'float'"
                (returnPress)="input.text
                  && navigate('/', 'search', input.text)"
                (textChange)="submit.className = input.text ? null : 'off'">
              </text-field>
              <i18n i18n="@@search" unit="search" (tap)="input.focus()"></i18n>
              <grid-layout #submit class="off">
                <icon-component ripple
                  icon="chevron-circle-right"
                  (tap)="input.text && navigate('/', 'search', input.text)">
                </icon-component>
              </grid-layout>
            </absolute-layout>
          </stack-layout>
          <stack-layout ripple
            [class.active]="url === '/'" (tap)="navigate('/')">
            <icon-component icon="play-circle"></icon-component>
            <i18n i18n="@@homepage" unit="homepage"></i18n>
          </stack-layout>
          <stack-layout ripple
            [class.active]="url.startsWith('/mapview')"
            (tap)="navigate('/', 'mapview')">
            <icon-component icon="globe"></icon-component>
            <i18n i18n="@@mapview" unit="mapview"></i18n>
          </stack-layout>
          <stack-layout ripple
            [class.active]="url.startsWith('/activities')"
            (tap)="navigate('/', 'activities')">
            <icon-component icon="map-marker-alt"></icon-component>
            <i18n i18n="@@activities" unit="activities"></i18n>
          </stack-layout>
          <stack-layout ripple
            [class.active]="url.startsWith('/organisations')"
            (tap)="navigate('/', 'organisations')">
            <icon-component icon="at"></icon-component>
            <i18n i18n="@@organisations" unit="organisations"></i18n>
          </stack-layout>
          <stack-layout ripple
            [class.active]="url.startsWith('/blogposts')"
            (tap)="navigate('/', 'blogposts')">
            <icon-component icon="comment-dots"></icon-component>
            <i18n i18n="@@blogposts" unit="blogposts"></i18n>
          </stack-layout>
          <stack-layout ripple
            [class.active]="url.startsWith('/infopages')"
            (tap)="navigate('/', 'infopages')">
            <icon-component icon="info-circle"></icon-component>
            <i18n i18n="@@infopages" unit="infopages"></i18n>
          </stack-layout>
          <!--
            TODO: https://github.com/NativeScript/NativeScript/issues/6114
          -->
          <stack-layout flexGrow="1"></stack-layout>
          <select-component
            key="locale"
            [formControl]="language"
            [items]="languages">
            <stack-layout ripple>
              <icon-component icon="language"></icon-component>
              <i18n i18n="@@language" unit="language"></i18n>
            </stack-layout>
          </select-component>
          <stack-layout ripple
            [class.active]="url.startsWith('/imprint')"
            (tap)="navigate('/', 'imprint')">
            <icon-component icon="bullhorn"></icon-component>
            <i18n i18n="@@imprint" unit="imprint"></i18n>
          </stack-layout>
          <stack-layout ripple
            [class.active]="url.startsWith('/policies')"
            (tap)="navigate('/', 'policies')">
            <icon-component icon="balance-scale"></icon-component>
            <i18n i18n="@@policies" unit="policies"></i18n>
          </stack-layout>
        </flexbox-layout>
      </scroll-view>
    </ng-template>
  </drawer-component>
</grid-layout>
