<aol-map [width]="'100%'" [height]="'100%'" *ngIf="configuration">
	<aol-interaction-default></aol-interaction-default>
	<aol-view [zoom]="configuration.zoomfactor">
		<aol-coordinate [x]="configuration.mapcenterLongitude" [y]="configuration.mapcenterLatitude" [srid]='configuration.mapProjection'></aol-coordinate>
	</aol-view>
	<aol-layer-tile>
		<aol-source-osm></aol-source-osm>
	</aol-layer-tile>
	<aol-layer-vector>
		<aol-source-vector>
			<aol-overlay *ngFor="let activity of activities">
				<aol-coordinate [x]="activity.address.longitude" [y]="activity.address.latitude" [srid]='configuration.mapProjection'>
				</aol-coordinate>
				<aol-content>
					<div class="default-marker" [class.active-marker]="activity.id == selectedActivity.id" (click)="onSelectActivity(activity)"></div>
				</aol-content>
			</aol-overlay>
		</aol-source-vector>
	</aol-layer-vector>
</aol-map>
<md-sidenav-container>
	<md-sidenav #sidenavSearch mode="over" align="start" class="enable-pointer">
		<checkbox-area [selectables]="selectableCategories"></checkbox-area>
		<checkbox-area [selectables]="selectableSuburbs"></checkbox-area>
		<checkbox-area [selectables]="selectableTargetgroups"></checkbox-area>
		<button md-raised-button (click)="sidenavSearch.toggle()" (click)="onAdvancedSearch()">
							search
		</button>
	</md-sidenav>
	<md-sidenav #sidenavActivityDetail mode="side" align="end" [ngSwitch]="state">
		<activity-detail *ngSwitchCase="detailState.ACTIVITY" (clickOrganisation)="onSelectOrganisation($event)"></activity-detail>
		<organisation-detail #OrganisationDetailComponent *ngSwitchCase="detailState.ORGANISATION" (back)="onGoBack()"></organisation-detail>
	</md-sidenav>
	<a class="enable-pointer" routerLink='/login' routerLinkActive="login" id="login-link"><img src="/img/gear.svg"></a>
	<div class="enable-pointer" id="search-area">
		<input [(ngModel)]="freeSearch" placeholder="search">
		<button md-raised-button (click)="onFreeSearch()">search</button>
		<button md-raised-button (click)="sidenavSearch.toggle()">more</button>
	</div>
	<div class="enable-pointer" id="activity-summary" *ngIf="activities">
		<activity-summary (clicked)="onSelectActivity($event)" *ngFor="let activity of activities" (click)="onSelectActivity(activity)"
		  [class.active-activity]="activity.id == selectedActivity.id" [activity]="activity"></activity-summary>
	</div>
</md-sidenav-container>
