<md-card *ngIf="activity">
	<header>
		<section class="summary-title">{{activity.name}}</section>
		<section class="summary-category">{{activity.category.name}}</section>
	</header>
	<section>
		<section class="summary-targetgroups">
			<span>for target groups:</span>
			<span *ngFor="let targetgroup of activity.targetGroups">
				{{targetgroup.name}}
			</span>
		</section>
		<time>
			{{activity.schedule}}
		</time>
	</section>
	<md-chip-list>
		<md-chip color="accent" *ngFor="let tag of activity.tags">
			{{tag.name}}
		</md-chip>
	</md-chip-list>
</md-card>
