<md-card *ngIf="activity">
	<header>
		<section class="summary-title">{{activity.name}}</section>
		<section class="summary-category">{{activity.category.name}}</section>
	</header>
	<section>
		<section class="summary-targetgroups">
			<span>Target Groups:</span>
			<span *ngFor="let targetgroup of activity.target_groups">
				{{targetgroup.name}}
			</span>
		</section>
		<section>
			<span>Schedule:</span>
			<time>{{activity.schedule}}</time>
		</section>
	</section>
	<md-chip-list>
		<md-chip color="primary" *ngFor="let tag of activity.tags | slice:0:maxTags" (click)="onChipClick()">
			{{tag.name}}
		</md-chip>
		<md-chip color="primary" *ngIf="activity.tags.length > maxTags" (click)="onChipClick()">
			...
		</md-chip>
	</md-chip-list>
</md-card>
