@import '../../../../app.vars.scss';

scroll-view {
  & > stack-layout {
    & > grid-layout {
      font-weight: bold;
      margin: rem(.5) 0;
    }

    & > stack-layout {
      orientation: horizontal;

      & > grid-layout {
        border-radius: rem(2);
        color: $color-warn;
        height: rem(2);
        horizontal-align: left;
        vertical-align: center;
        width: rem(2);
      }

      & > label {
        vertical-align: center;
      }

      & > stack-layout {
        & > label {
          font-weight: bold;
        }
      }

      & > switch {
        margin-right: rem(.5);
      }
    }
  }
}
