<main>
  <h2 class="mat-headline">
    {{ item.name }}
    <small>
      <i18n i18n="@@at">at</i18n>
      <a
        [queryParams]="{ suburbs: item.address.suburb.id }"
        [routerLink]="['/', 'activities']">
        {{ item.address.place }} {{ item.address.suburb.name }}
      </a>
    </small>
  </h2>
  <mat-divider></mat-divider>
  <nav>
    <share-piece [item]="item"></share-piece>
    <like-piece [item]="item"></like-piece>
    <span [style.flexGrow]="1"></span>
    <time-piece [item]="item"></time-piece>
  </nav>
  <mat-divider></mat-divider>
  <section>
    <marked-component [data]="item.description"></marked-component>
    <aside>
      <expand-component #details
        (changed)="$event && expanded(details)">
        <ng-template #expandHeader>
          <icon-component icon="at"></icon-component>
          <i18n i18n="@@details">details</i18n>
        </ng-template>
        <ng-template #expandContent>
          <table>
            <tr>
              <td [style.verticalAlign]="'top'">
                <i18n i18n="@@address">address</i18n>
              </td>
              <td>
                  {{ item.address.street }}
                  {{ item.address.houseNumber }}
                  <br>
                  {{ item.address.postalCode }}
                  {{ item.address.place }}
                  {{ item.address.suburb.name }}
              </td>
            </tr>
            <ng-container *ngIf="item.website">
              <tr>
                <td><i18n i18n="@@website">website</i18n></td>
                <td>
                  <a mat-button target="_blank" [href]="item.website">
                    <icon-component icon="link"></icon-component>
                    {{ item.website }}
                  </a>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="item.phone">
              <tr>
                <td><i18n i18n="@@phone">phone</i18n></td>
                <td>
                  <a mat-button target="_blank" [href]="'tel:' + item.phone">
                    <icon-component icon="phone"></icon-component>
                    {{ item.phone }}
                  </a>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="item.mail">
              <tr>
                <td><i18n i18n="@@email">email</i18n></td>
                <td>
                  <a mat-button target="_blank" [href]="'mailto:' + item.mail">
                    <icon-component icon="envelope"></icon-component>
                    {{ item.mail }}
                  </a>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td><i18n i18n="@@suburb">suburb</i18n></td>
              <td>
                <a mat-button
                  [queryParams]="{ suburbs: item.address.suburb.id }"
                  [routerLink]="['/', 'activities']">
                  <icon-component icon="city"></icon-component>
                  {{ item.address.suburb.name }}
                </a>
              </td>
            </tr>
          </table>
        </ng-template>
      </expand-component>
      <ng-container *ngIf="item.images">
        <expand-component #images
          (changed)="$event && expanded(images)">
          <ng-template #expandHeader>
            <icon-component icon="image"></icon-component>
            <i18n i18n="@@images">images</i18n>
            <small>({{ item.images.length }})</small>
          </ng-template>
          <ng-template #expandContent>
            <ng-container *ngFor="let image of item.images">
              <figure>
                <content
                  [alt]="image.caption"
                  [style.backgroundImage]="image.source"
                  [title]="image.caption">
                </content>
              </figure>
            </ng-container>
          </ng-template>
        </expand-component>
      </ng-container>
      <ng-container *ngIf="item.activities">
        <expand-component #activities
          (changed)="$event && expanded(activities)">
          <ng-template #expandHeader>
            <icon-component icon="map-marker-alt"></icon-component>
            <i18n i18n="@@activities">activities</i18n>
            <small>({{ item.activities.length }})</small>
          </ng-template>
          <ng-template #expandContent>
            <ng-container *ngFor="let activity of item.activities">
              <activity-card [item]="activity"></activity-card>
            </ng-container>
          </ng-template>
        </expand-component>
      </ng-container>
    </aside>
  </section>
</main>
