<main>
  <h2 class="mat-headline">
    {{ item.label }}
    <small>
      <i18n>at</i18n>
      <a
        [queryParams]="{ suburbs: item.address.suburb.id }"
        [routerLink]="['/', 'activities']">
        {{ item.address.place }} {{ item.address.suburb.label }}
      </a>
    </small>
  </h2>
  <mat-divider></mat-divider>
  <nav>
    <follow-piece [item]="item"></follow-piece>
    <share-piece [item]="item"></share-piece>
    <like-piece [item]="item"></like-piece>
    <span [style.flexGrow]="1"></span>
    <time-piece [item]="item"></time-piece>
  </nav>
  <mat-divider></mat-divider>
  <section>
    <article [innerHTML]="item.description"></article>
    <aside>
      <mat-expansion-panel #details (opened)="expanded(details)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon icon="at"></fa-icon>
            <i18n>details</i18n>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
          <tr>
            <td [style.verticalAlign]="'top'">
              <i18n>address</i18n>
            </td>
            <td>
                {{ item.address.street }}
                {{ item.address.houseNumber }}
                <br>
                {{ item.address.postalCode }}
                {{ item.address.place }}
                {{ item.address.suburb.label }}
            </td>
          </tr>
          <ng-container *ngIf="item.website">
            <tr>
              <td><i18n>website</i18n></td>
              <td>
                <a mat-button target="_blank" [href]="item.website">
                  <fa-icon icon="link"></fa-icon>
                  {{ item.website }}
                </a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="item.phone">
            <tr>
              <td><i18n>phone</i18n></td>
              <td>
                <a mat-button target="_blank" [href]="'tel:' + item.phone">
                  <fa-icon icon="phone"></fa-icon>
                  {{ item.phone }}
                </a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="item.mail">
            <tr>
              <td><i18n>email</i18n></td>
              <td>
                <a mat-button target="_blank" [href]="'mailto:' + item.mail">
                  <fa-icon icon="envelope"></fa-icon>
                  {{ item.mail }}
                </a>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td><i18n>suburb</i18n></td>
            <td>
              <a mat-button
                [queryParams]="{ suburbs: item.address.suburb.id }"
                [routerLink]="['/', 'activities']">
                <fa-icon icon="city"></fa-icon>
                {{ item.address.suburb.label }}
              </a>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
      <ng-container *ngIf="item.images">
        <mat-expansion-panel #images (opened)="expanded(images)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon icon="image"></fa-icon>
              <i18n>images</i18n>
              <small>({{ item.images.length }})</small>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let image of item.images">
            <figure>
              <img
                src="data:image/svg+xml,
                  %3Csvg xmlns='http://www.w3.org/2000/svg'/%3E"
                [alt]="image.label"
                [style.backgroundImage]="image.source"
                [title]="image.label">
            </figure>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="item.videos">
        <mat-expansion-panel #videos (opened)="expanded(videos)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon icon="film"></fa-icon>
              <i18n>videos</i18n>
              <small>({{ item.videos.length }})</small>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let video of item.videos">
            <figure>
              <ng-container *ngIf="video.thumbnail">
                <img
                  src="data:image/svg+xml,
                    %3Csvg xmlns='http://www.w3.org/2000/svg'/%3E"
                  [alt]="video.thumbnail.label"
                  [style.backgroundImage]="video.thumbnail.source"
                  [title]="video.thumbnail.label">
                <a target="_blank" [href]="video.url">
                  <fa-icon icon="play"></fa-icon>
                </a>
              </ng-container>
              <ng-container *ngIf="!video.thumbnail">
                <img
                  src="data:image/svg+xml,
                    %3Csvg xmlns='http://www.w3.org/2000/svg'/%3E"
                  [alt]="video.url"
                  [title]="video.url">
                <fa-icon icon="film"></fa-icon>
                <a target="_blank" [href]="video.url">
                  <fa-icon icon="play"></fa-icon>
                </a>
              </ng-container>
            </figure>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="item.activities">
        <mat-expansion-panel #activities (opened)="expanded(activities)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon icon="map-marker-alt"></fa-icon>
              <i18n>activities</i18n>
              <small>({{ item.activities.length }})</small>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let activity of item.activities">
            <activity-card [item]="activity"></activity-card>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </aside>
  </section>
</main>
