<scroll-view class="topoff">
  <stack-layout>
    <grid-layout>
      <label textWrap="true">
        <FormattedString>
          <span [text]="item.name"></span>
          <span class="small" [text]="' ' + string('at') + ' '"></span>
          <span class="small" [text]="item.address.place + ' '"></span>
          <span class="small" [text]="item.address.suburb.name"></span>
        </FormattedString>
      </label>
    </grid-layout>
    <flexbox-layout>
      <share-piece [item]="item"></share-piece>
      <like-piece [item]="item"></like-piece>
      <label flexGrow="1"></label>
      <time-piece [item]="item"></time-piece>
    </flexbox-layout>
    <stack-layout>
      <marked-compat [data]="item.description"></marked-compat>
      <expand-compat #details
        class="expand-compat"
        (changed)="$event && expanded(details)">
        <ng-template #expandHeader>
          <icon-compat icon="at"></icon-compat>
          <i18n i18n="@@details" unit="details"></i18n>
        </ng-template>
        <ng-template #expandContent>
          <stack-layout class="detail">
            <i18n i18n="@@address" unit="address" verticalAlignment="top">
            </i18n>
            <stack-layout>
              <label>
                <FormattedString>
                  <span [text]="item.address.street + ' '"></span>
                  <span [text]="item.address.houseNumber"></span>
                </FormattedString>
              </label>
              <label>
                <FormattedString>
                  <span [text]="item.address.postalCode + ' '"></span>
                  <span [text]="item.address.place + ' '"></span>
                  <span [text]="item.address.suburb.name"></span>
                </FormattedString>
              </label>
            </stack-layout>
          </stack-layout>
          <ng-container *ngIf="item.website">
            <stack-layout class="detail">
              <i18n i18n="@@website" unit="website"></i18n>
              <stack-layout ripple (tap)="openUrl(item.website)">
                <icon-compat icon="link"></icon-compat>
                <label [text]="item.website"></label>
              </stack-layout>
            </stack-layout>
          </ng-container>
          <ng-container *ngIf="item.phone">
            <stack-layout class="detail">
              <i18n i18n="@@phone" unit="phone"></i18n>
              <stack-layout ripple (tap)="openUrl('tel:' + item.phone)">
                <icon-compat icon="phone"></icon-compat>
                <label [text]="item.phone"></label>
              </stack-layout>
            </stack-layout>
          </ng-container>
          <ng-container *ngIf="item.mail">
            <stack-layout class="detail">
              <i18n i18n="@@email" unit="email"></i18n>
              <stack-layout ripple (tap)="openUrl('mailto:' + item.mail)">
                <icon-compat icon="envelope"></icon-compat>
                <label [text]="item.mail"></label>
              </stack-layout>
            </stack-layout>
          </ng-container>
          <stack-layout class="detail">
            <i18n i18n="@@suburb" unit="suburb"></i18n>
            <stack-layout ripple
              (tap)="router.navigate(['/', 'activities'],
                { queryParams: { suburbs: item.address.suburb.id } })">
              <icon-compat icon="city"></icon-compat>
              <label [text]="item.address.suburb.name"></label>
            </stack-layout>
          </stack-layout>
        </ng-template>
      </expand-compat>
      <ng-container *ngIf="item.images">
        <expand-compat #images
          class="expand-compat"
          (changed)="$event && expanded(images)">
          <ng-template #expandHeader>
            <icon-compat icon="image"></icon-compat>
            <i18n i18n="@@images" unit="images"></i18n>
            <label [text]="'(' + item.images.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #scrollImages>
              <flexbox-layout>
                <ng-container *ngFor="let image of item.images">
                  <grid-layout [width]="scrollImages.getActualSize().width">
                    <image [src]="image.nativeSource"></image>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
      <ng-container *ngIf="item.activities">
        <expand-compat #activities
          class="expand-compat"
          (changed)="$event && expanded(activities)">
          <ng-template #expandHeader>
            <icon-compat icon="map-marker-alt"></icon-compat>
            <i18n i18n="@@activities" unit="activities"></i18n>
            <label [text]="'(' + item.activities.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <scroll-view #scrollActivities>
              <flexbox-layout>
                <ng-container *ngFor="let activity of item.activities">
                  <grid-layout [width]="scrollActivities.getActualSize().width">
                    <activity-card [item]="activity"></activity-card>
                  </grid-layout>
                </ng-container>
              </flexbox-layout>
            </scroll-view>
          </ng-template>
        </expand-compat>
      </ng-container>
    </stack-layout>
  </stack-layout>
</scroll-view>
