@import '../../../app.vars.scss';

nav {
  display: flex;
  justify-content: space-between;
  max-width: 25rem;
  width: calc(100% - 3rem);

  & > div {
    background-color: $color-light;
    width: 7.5rem;

    &:first-of-type {
      text-align: left;

      & > a {
        margin: 0 .5rem 0 -1.5rem;
      }

      & > span {
        border-right-color: $color-lighter;
        border-left: none;
        float: right;
      }
    }

    &:last-of-type {
      text-align: right;

      & > a {
        margin: 0 -1.5rem 0 .5rem;
      }

      & > span {
        border-left-color: $color-lighter;
        border-right: none;
        float: left;
      }
    }

    & > a {
      background: $color-primary !important;
      color: $color-lightest !important;

      &[disabled] {
        filter: grayscale(1);
        pointer-events: none;
      }
    }

    & > i18n {
      font-size: 1rem;
      vertical-align: middle;
    }

    & > span {
      border: 1.25rem solid transparent;
    }
  }
}
