#activitiesContainer{
  overflow-y: scroll;
  height: 80vh;
}

mapping-component {
  height:80vh;
}

html, body{
  position:relative;
  margin:0;
  padding:0;
  height:90vh;
}

::-webkit-scrollbar {
  display: none;
}
