<div fxFill id="activityList">
  <div fxFill>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-chip-list fxFlex="50">
          <!-- <mat-chip *ngFor="let category of categories | async" [ngStyle]="{'background-color': category.color}">
            {{category.name}}
          </mat-chip> -->
        </mat-chip-list>
        <mat-form-field fxFlex="20">
          <mat-select placeholder="Quartiere">
            <mat-option *ngFor="let suburb of suburbs | async" [value]="suburb">
              {{suburb.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-select placeholder="Zielgruppe">
            <mat-option *ngFor="let targetGroup of target_groups | async" [value]="targetGroup.name">
              {{targetGroup.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-chip fxHide fxFlex="10" (click)="openBottomSheetMap()" fxShow.lt-md="true">MAP</mat-chip>
        
      </div>

      <div fxLayout="row" id="content" fxLayoutAlign="space-between">
        <div id="activitiesContainer" fxFlex="66" fxLayoutGap="20px grid" fxLayout="row wrap" fxFlex.lt-md="100">
          <div class="activityCard" fxLayoutAlign="space-around" fxFlex.xs="100" *ngFor="let activity of activities | async">
            <activity-card [activity]="activity"></activity-card>
          </div>
        </div>
        <div fxHide.lt-md="true" fxFlex="33">
          <mapping-component (click)="openBottomSheetMap()" [activities]="[testMapActivity]"> 
          </mapping-component>
        </div>
      </div>
    </div>
  </div>
</div>
