#activitiesContainer{
  position: relative;
  overflow-y: scroll;
}

html, body{
  position:relative;
  margin:0;
  padding:0;
}

::-webkit-scrollbar {
  display: none;
}

#activityListContent {
  height: 100vh;
}
