@import '../../../app.vars.scss';

scroll-view {
  & > stack-layout {
    padding: rem(1);

    & > grid-layout {
      & > label {
        font-size: rem(1.5);
        line-height: rem(1);

        .small {
          font-size: rem(1.2);
        }
      }
    }

    & > flexbox-layout {
      border-color: $color-bg-light;
      border-width: 1 0 1 0;
      margin: rem(1) 0;
      padding: rem(1) 0;
    }

    & > stack-layout {
      & > .expand-compat {
        margin-top: rem(1);

        [icon] {
          height: rem(2);
          width: rem(2);
        }

        [unit] + label {
          font-size: rem(.75);
          font-weight: 300;
          padding-left: rem(.5);
        }
      }
    }
  }
}
