@import '../../../app.vars.scss';

main {
  padding: 1rem 1rem 0 1rem;

  & > h2 {
    & > small {
      & > a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }

  & > mat-divider {
    margin: 1rem 0;
  }

  & > nav {
    @include flex(row, flex-start, center);
    overflow-x: auto;
    overflow-y: hidden;

    & > time-piece {
      @include media(lt-sm) {
        display: none;
      }
    }
  }

  & > section {
    @include flex(row);

    @include media(lt-md) {
      @include flex(column);
    }

    & > aside {
      @include media(gt-sm) {
        width: 25rem;
        margin: -1rem 0 0 1rem;
      }

      & > [component=expand] {
        display: block;
        margin: 1rem auto;

        @include deep {
          & > mat-expansion-panel {
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all $animation-duration;

            &.mat-expanded {
              border-color: $color-primary;

              & > mat-expansion-panel-header {
                background-color: $color-primary;

                & > .mat-expansion-indicator::after {
                  color: $color-lightest;
                }

                mat-panel-title {
                  color: $color-lightest;
                }
              }
            }

            & > mat-expansion-panel-header {
              border-radius: 0;
              font-weight: bold;
              text-transform: uppercase;
              transition: all $animation-duration;

              mat-panel-title {
                & > small {
                  font-weight: lighter;
                  line-height: 1rem;
                  padding-left: .5rem;
                }

                [component=icon] {
                  padding-right: .5rem;
                }
              }
            }

            .mat-expansion-panel-body {
              @include flex(row);
              overflow-x: auto;
              overflow-y: hidden;
              padding: 0;

              @include media(xs) {
                scroll-snap-type: x mandatory;
              }

              & > figure {
                @include flex(row, center, center);
                @include position(relative);
                flex: 0 0 auto;
                margin: 0;
                scroll-snap-align: start;

                @include media(xs) {
                  width: 100%;

                  & + figure::before {
                    @include position(absolute, auto, auto, auto, -.75rem);
                    background-color: $color-primary;
                    border-radius: 50%;
                    box-sizing: border-box;
                    content: '';
                    height: 1.5rem;
                    width: 1.5rem;
                  }
                }

                @include media(gt-xs) {
                  & + figure {
                    & > content {
                      margin-left: 0;
                    }
                  }
                }

                & > content {
                  align-items: center;
                  background-color: $color-light;
                  background-position: center;
                  background-size: cover;
                  border-radius: .25rem;
                  color: $color-dark;
                  display: flex;
                  height: 20rem;
                  justify-content: center;
                  margin: 1rem;
                  width: 20rem;

                  & > a {
                    z-index: 1;
                  }

                  [component=icon] {
                    &[icon=film] {
                      color: $color-dark;
                      font-size: 12.5rem;
                      position: absolute;
                    }

                    &[icon=play] {
                      color: $color-primary;
                      font-size: 4rem;
                    }
                  }
                }
              }

              & > table {
                margin: 0 auto;
                padding: .5rem;
                table-layout: fixed;
                width: 100%;

                & > tr {
                  & > td {
                    padding: .5rem;

                    &:first-child {
                      font-weight: bold;
                      text-align: right;
                      width: 30%;
                    }

                    & > mat-chip-list {
                      mat-chip {
                        background-color: transparent;
                        border: .25rem solid;
                        cursor: pointer;

                        &::after {
                          opacity: 0;
                        }
                      }
                    }

                    & > .mat-button-base {
                      max-width: 100%;
                      overflow: hidden;
                      text-overflow: ellipsis;

                      [component=icon] {
                        padding-right: .5rem;
                      }
                    }
                  }
                }
              }

              & > [base=card] {
                @include flex(row, center, center);
                @include position(relative);
                scroll-snap-align: start;

                @include deep {
                  mat-card {
                    max-width: 25rem;
                  }
                }

                @include media(gt-xs) {
                  & + [base=card] {
                    padding-left: 0;
                  }
                }

                @include media(xs) {
                  width: 100%;

                  & + [base=card]::before {
                    @include position(absolute, auto, auto, auto, -.75rem);
                    background-color: $color-primary;
                    border-radius: 50%;
                    box-sizing: border-box;
                    content: '';
                    height: 1.5rem;
                    width: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    & > marked-component {
      flex: 1 1 auto;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
}
