@import '../../../app.vars.scss';

scroll-view {
  & > stack-layout {
    padding: rem(1);

    & > grid-layout {
      & > label {
        font-size: rem(1.5);
        line-height: rem(1);

        .small {
          font-size: rem(1.2);
        }
      }
    }

    & > flexbox-layout {
      border-color: $color-light;
      border-width: 1 0 1 0;
      margin: rem(1) 0;
      padding: rem(1) 0;
    }

    & > stack-layout {
      width: rem(25);

      & > .expand-compat {
        margin-top: rem(1);

        scroll-view {
          orientation: horizontal;

          & > flexbox-layout {
            align-items: center;
            orientation: horizontal;

            & > grid-layout {
              & + grid-layout {
                margin-left: rem(1);
              }

              & > image {
                border-radius: rem(.25);
                stretch: aspectFill;

                & + image {
                  margin-left: rem(1);
                }
              }
            }
          }
        }

        [icon] {
          height: rem(2);
          width: rem(2);
        }

        [unit] {
          & + label {
            font-size: rem(.75);
            font-weight: 300;
            padding-left: rem(.5);
          }
        }

        .detail {
          margin: rem(.25) 0;
          orientation: horizontal;

          & > [unit] {
            font-weight: bold;
            margin-right: rem(1);
            text-align: right;
            vertical-align: center;
            width: 30%;
          }

          [ripple] {
            border-radius: rem(.25);
            orientation: horizontal;
            padding: rem(.25) rem(.75) rem(.25) rem(.25);

            & > label {
              vertical-align: center;
            }
          }
        }
      }
    }
  }
}
