<div class="address-container mat-elevation-z8">

	<div class="addresses-table-header">
		<mat-form-field>
			<input matInput (keyup)="handleFiltered($event)" placeholder="Filter">
		</mat-form-field>
	</div>

	<mat-table #table [dataSource]="dataSource" class="address-table" matSort (matSortChange)="handleSorted($event)" matSortActive="Addresses.street"
	 matSortDirection="asc" matSortDisableClear>

		<ng-container matColumnDef="Addresses.street">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				{{constants.street}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{row.street}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Addresses.house_number">
			<mat-header-cell *matHeaderCellDef>
				{{ constants.houseNumber }}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.house_number }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Addresses.postal_code">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				{{constants.postalCode}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.postal_code }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Addresses.place">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				{{constants.place}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.place }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Suburbs.name">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				{{constants.quarter}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.suburb.name }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Addresses.latitude">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				{{constants.latitude}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.latitude }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="Addresses.longitude">
			<mat-header-cell *matHeaderCellDef mat-sort-header>
				{{constants.longitude}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.longitude }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="action">
			<mat-header-cell *matHeaderCellDef>
				{{constants.edit}} / {{constants.delete}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button mat-button color="primary" routerLink='/address/edit/{{row.id}}'>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</button>
				<delete-action [recordID]="row.id" [nameToDelete]="row.name" (onDelete)="onDelete($event)">
				</delete-action>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

	<mat-paginator [pageSize]="constants.defaultPageSize" [pageSizeOptions]="constants.pageSizeOptions" [length]="totalCount"
	 (page)="handlePageChanged($event)">
	</mat-paginator>
</div>
