@import '../../../../app.vars.scss';

grid-layout {
  width: rem(25);

  & > stack-layout {
    color: $color-dark;

    & > stack-layout {
      &.card-title {
        padding-bottom: rem(.25);
      }

      &.card-subtitle {
        font-size: 14;
      }

      &.card-content {
        font-size: 14;
        font-weight: 300;
        line-height: rem(1);
      }
    }
  }
}
