<header class="mat-title">
  <span [style.flexGrow]="1"></span>
  <i18n>organisationPanel</i18n>
</header>

<mat-tab-group id="organisation" [selectedIndex]="index">
  <mat-tab id="organisations">
    <ng-template matTabLabel>
      <i18n>organisations</i18n>
    </ng-template>
    <ng-template matTabContent>
      <organisation-table [items]="organisations">
        <ng-container matColumnDef="visits">
          <mat-header-cell *matHeaderCellDef>
            <i18n>visits</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{orgaVisits(item)}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="visitors">
          <mat-header-cell *matHeaderCellDef>
            <i18n>visitors</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{orgaVisitors(item)}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <i18n>actions</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <ng-container *ngIf="superUser">
              <button mat-icon-button
                (click)="push(item)">
                <fa-icon icon="paper-plane"></fa-icon>
              </button>
            </ng-container>
            <button mat-icon-button
              color="primary"
              (click)="edit(item)">
              <fa-icon icon="pen"></fa-icon>
            </button>
            <button mat-icon-button
              color="warn"
              (click)="delete(item)">
              <fa-icon icon="times"></fa-icon>
            </button>
          </mat-cell>
        </ng-container>
      </organisation-table>
    </ng-template>
  </mat-tab>

  <mat-tab id="activities">
    <ng-template matTabLabel>
      <i18n>activities</i18n>
    </ng-template>
    <ng-template matTabContent>
      <activity-table [items]="activities">
        <ng-container matColumnDef="visits">
          <mat-header-cell *matHeaderCellDef>
            <i18n>visits</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{activityVisits(item)}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="visitors">
          <mat-header-cell *matHeaderCellDef>
            <i18n>visitors</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{activityVisitors(item)}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <i18n>actions</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <ng-container *ngIf="superUser">
              <button mat-icon-button
                (click)="push(item)">
                <fa-icon icon="paper-plane"></fa-icon>
              </button>
            </ng-container>
            <button mat-icon-button
              color="primary"
              (click)="edit(item)">
              <fa-icon icon="pen"></fa-icon>
            </button>
            <button mat-icon-button
              color="warn"
              (click)="delete(item)">
              <fa-icon icon="times"></fa-icon>
            </button>
          </mat-cell>
        </ng-container>
      </activity-table>
    </ng-template>
  </mat-tab>

  <mat-tab id="memberships">
    <ng-template matTabLabel>
      <i18n>memberships</i18n>
    </ng-template>
    <ng-template matTabContent>
      <membership-table [items]="memberships">
        <ng-container matColumnDef="ownership">
          <mat-header-cell *matHeaderCellDef>
            <i18n>ownership</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <mat-slide-toggle
              [checked]="item.ownership"
              (change)="grantOwnership(item, $event.checked)">
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <i18n>actions</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button mat-icon-button
              color="warn"
              (click)="unlinkUser(item)">
              <fa-icon icon="sign-out-alt"></fa-icon>
            </button>
          </mat-cell>
        </ng-container>
      </membership-table>
    </ng-template>
  </mat-tab>

  <mat-tab id="requests" [disabled]="!requests.length">
    <ng-template matTabLabel>
      <span
        [matBadge]="requests.length || null"
        [matBadgeOverlap]="false">
        <i18n>membershipRequests</i18n>
      </span>
    </ng-template>
    <ng-template matTabContent>
      <membership-table [items]="requests">
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <i18n>actions</i18n>
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button mat-icon-button
              color="primary"
              (click)="grantMembership(item, true)">
              <fa-icon icon="check"></fa-icon>
            </button>
            <button mat-icon-button
              color="warn"
              (click)="grantMembership(item, false)">
              <fa-icon icon="times"></fa-icon>
            </button>
          </mat-cell>
        </ng-container>
      </membership-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
