@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html,
body {
	height: 100%;
}

.main {
	height: auto;
	min-height: 100%;
	padding-bottom: 50px;
}

filter-component {
	bottom: 0px;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 5;
}

mapping-component {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.edit-container {
	display: flex;
	flex-direction: column;
}

.edit-container>* {
	width: 90%;
}

.address-card {
	height: 200px;
}

.schedule-card {
	height: 500px;
}

mat-chip {
	max-width: 200px;
}

.navbar-dark {
	background-color: #3f51b5;
}

.navbar-dark > * {
	color: white;
}

.footer {
	height: 50px;
	margin-top: -50px;
	padding: 10px;
	color: #3f51b5;
	border-top: solid #3f51b5 2px;
	text-align: center;
	border-right: 15px solid white;
	border-left: 15px solid white;
}

.footer > * {
	color: #3f51b5;
}

.footer>a:link {
	color: #3f51b5;
}

.footer>a:visited {
	color: #3f51b5;
}

.footer>a:hover {
	color: rgb(3, 23, 243);
}

.footer>a:active {
	color: #3f51b5;
}

.loadingOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 300px;
	z-index: 10;
}

.loadingOverlay>mat-spinner {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: absolute;
}

.nav-link {
	cursor: pointer;
}
