html, body {
	height: 100%;
 }

.main{
	height: auto;
	min-height: 100%;
	padding-bottom: 50px;
}

filter-component {
	bottom: 0px;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 5;
}

mapping-component {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.edit-container {
	display: flex;
	flex-direction: column;
}

.edit-container>* {
	width: 90%;
}

.edit-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.edit-form-full-width {
	width: 75%;
}

.edit-form-three-column-width {
	width: 25%;
}

.address-card {
	height: 200px;
}

.schedule-card{
	height: 500px;
}

mat-chip {
	max-width: 200px;
}

.navbar-light{
	background-color:	#FFD700;
}

.footer {
	height:50px;
	margin-top: -50px;
	color: black;
	background-color:	#FFD700;
	text-align: center;
	border-right: 15px solid white;
	border-left: 15px solid white;
}

.footer > a:link    {color:#000;}
.footer > a:visited {color:#000;}
.footer > a:hover   {color:#000;}
.footer > a:active  {color:#000;}

.loadingOverlay{
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 300px;
	margin: 0px auto;
}

.loadingOverlay > mat-spinner {
	margin: 0 auto;
}



