@import '../../../app.vars.scss';

main {
  [component=pager] {
    @include flex(row, center, center);
    margin: 1rem;
    width: 100%;

    @include media(lt-md) {
      margin-top: 0;
    }
  }
}
