@import '../../../app.vars.scss';

main {
  [base=card] {
    @include media(lt-md) {
      padding-top: 0;
    }
  }

  [compat=pager] {
    @include flex(row, center, center);
    margin: 1rem;
    width: 100%;

    @include media(lt-md) {
      margin-top: 0;
    }
  }
}
