mat-card {
  width: 20rem;

  & > [mat-card-image] {
    height: 12.5rem;
    font-size: 4rem;
    color: rgba(0, 0, 0, .36);

    background-color: rgba(0, 0, 0, .12);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
