<grid-layout>
  <stack-layout>
    <stack-layout class="card-content">
      <stack-layout>
        <label [text]="item.address.street"></label>
        <label [text]="item.address.houseNumber"></label>
      </stack-layout>
      <stack-layout>
        <label [text]="item.address.place"></label>
        <label [text]="item.address.suburb.name"></label>
      </stack-layout>
    </stack-layout>
    <grid-layout class="card-image">
      <ng-container *ngIf="item.images?.length">
        <image [src]="item.images[0].nativeSource"></image>
      </ng-container>
      <ng-container *ngIf="!item.images?.length">
        <icon-compat icon="image"></icon-compat>
      </ng-container>
    </grid-layout>
    <stack-layout class="card-title">
      <label
        [text]="item.name"
        (tap)="router.navigate(['/organisations', item.id])">
      </label>
    </stack-layout>
    <stack-layout class="card-actions">
      <details-piece [item]="item"></details-piece>
      <share-piece [item]="item"></share-piece>
      <like-piece [item]="item"></like-piece>
    </stack-layout>
  </stack-layout>
</grid-layout>
