@import '../../../../app.theme.scss';

mat-card {
  width: 20rem;

  & > [mat-card-image] {
    height: 12.5rem;
    font-size: 4rem;
    color: $color-bg-dark;

    background-color: $color-bg-light;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
