<mat-card>
  <mat-card-content>
    <small>
      {{ item.address?.street }} {{ item.address?.houseNumber }}
      <br>{{ item.address?.place }} {{ item.address?.suburb?.name }}
    </small>
  </mat-card-content>
  <ng-container *ngIf="item.images?.length">
    <img mat-card-image
      [alt]="item.images[0].caption"
      [style.backgroundImage]="item.images[0].source"
      [title]="item.images[0].caption">
  </ng-container>
  <ng-container *ngIf="!item.images?.length">
    <icon-compat mat-card-image icon="image"></icon-compat>
  </ng-container>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/', 'organisations', item.id]">
        {{ item.name }}
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button [routerLink]="['/', 'organisations', item.id]">
      <icon-compat icon="at"></icon-compat>
      <i18n i18n="@@details">details</i18n>
    </a>
    <button mat-button [disabled]="liked(item)" (click)="like(item)">
      <icon-compat icon="heart"></icon-compat>
      <i18n i18n="@@like">like</i18n>
    </button>
    <button mat-button (click)="share(item)">
      <icon-compat icon="share-alt"></icon-compat>
      <i18n i18n="@@share">share</i18n>
    </button>
  </mat-card-actions>
</mat-card>
