<mat-card>
  <mat-card-content>
    <small>
      {{ item.address.street }} {{ item.address.houseNumber }}
      <br>{{ item.address.place }} {{ item.address.suburb.label }}
    </small>
  </mat-card-content>
  <ng-container *ngIf="item.images?.length">
    <img mat-card-image
      src="data:image/svg+xml,
        %3Csvg xmlns='http://www.w3.org/2000/svg'/%3E"
      [alt]="item.images[0].caption"
      [style.backgroundImage]="item.images[0].source"
      [title]="item.images[0].caption">
  </ng-container>
  <ng-container *ngIf="!item.images?.length">
    <fa-icon mat-card-image icon="image"></fa-icon>
  </ng-container>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/', 'organisations', item.id]">
        {{ item.label }}
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <details-piece [item]="item"></details-piece>
    <share-piece [item]="item"></share-piece>
    <like-piece [item]="item"></like-piece>
  </mat-card-actions>
</mat-card>
