<grid-layout>
  <stack-layout>
    <stack-layout class="card-content">
      <label>
        <FormattedString>
          <span [text]="item.address.street + ' '"></span>
          <span [text]="item.address.houseNumber"></span>
        </FormattedString>
      </label>
      <label>
        <FormattedString>
          <span [text]="item.address.place + ' '"></span>
          <span [text]="item.address.suburb.name"></span>
        </FormattedString>
      </label>
    </stack-layout>
    <grid-layout class="card-image">
      <ng-container *ngIf="item.images?.length">
        <image [src]="item.images[0].nativeSource"></image>
      </ng-container>
      <ng-container *ngIf="!item.images?.length">
        <icon-compat icon="image"></icon-compat>
      </ng-container>
    </grid-layout>
    <stack-layout class="card-title">
      <label
        [text]="item.name"
        (tap)="router.navigate(['/organisations', item.id])">
      </label>
    </stack-layout>
    <absolute-layout class="card-actions">
      <stack-layout>
        <details-piece [item]="item"></details-piece>
        <share-piece [item]="item"></share-piece>
        <like-piece [item]="item"></like-piece>
      </stack-layout>
    </absolute-layout>
  </stack-layout>
</grid-layout>
