@import '../../../../app.vars.scss';

grid-layout {
  width: rem(22.5);

  & > stack-layout {
    color: $color-darkest;
    max-width: rem(22.5);

    & > .card-image {
      background-color: $color-light;
      color: $color-dark;
      height: rem(12.5);
      width: 100%;

      & > image {
        horizontal-align: center;
        stretch: aspectFill;
      }

      & > [icon] {
        font-size: rem(4);
        height: rem(5);
        width: rem(5);
      }
    }
  }
}
