@import ../../brand.scss

main
  margin: 5rem auto
  max-width: calc(100% - 2rem)
  width: $viewport-width

h1
  @include flex(row, normal, center)
  color: $color-primary

h2
  @include flex(row, normal, center)
  color: $color-primary

p
  color: $color-accent


.upper-forms
  width: 50%
  border-radius: 8px

.lower-forms
  width: 100%
  border-radius: 8px

.send-button
  width: 100%
  font-size: 28px
  border-radius: 8px

.formater
  background: #fff
  display: block
  border-radius: 16px
  padding: 20px

.datapolicies
  color: $color-primary
  margin: 0px 50px
  font-size: 12px

.checkbox
  margin-left: 20px


.file-upload-main
  margin:  10px

.text-center
  display: flex
  flex-direction: row
  justify-content: left
  align-items: center
  align-self: stretch
  flex-grow: 1
  color: $color-accent



img
  border: 1px solid #ddd
  border-radius: 4px
  background-size: 150px 150px
  background-repeat: no-repeat
  width: 150px
  margin: 5px


.pictures
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  margin: 10px

.delete-button
  display: flex
  justify-content: center









