@import ../brand.scss

main
  @include position(absolute, 0, 0, 0, 0)
  background-color: $color-light
  height: 100%
  max-width: 100% !important
  padding: 0
  user-select: none

  & > aol-map
    @include position(relative)
    background-color: $color-light
    display: block
    height: 100%
    width: 100%

    & > nav
      @include flex(column, flex-start, center)
      @include position(absolute, 0, auto, 0, 0)
      direction: rtl
      overflow: auto

      @include responsive(lt-md)
        @include flex(row, flex-start, center)
        bottom: auto
        direction: ltr
        overflow-x: auto
        overflow-y: hidden
        right: 0

        @include responsive(xs)
          scroll-snap-type: x mandatory

      & > activity-card
        @include flex(row, center, center)
        @include position(relative)
        direction: ltr
        scroll-snap-align: start

        @include responsive(gt-sm)
          & + activity-card
            padding-top: 0

        @include responsive(sm)
          & + activity-card
            padding-left: 0

        @include responsive(xs)
          width: 100%

          & + activity-card::before
            @include position(absolute, auto, auto, auto, -.75rem)
            background-color: $color-primary
            border-radius: 50%
            box-sizing: border-box
            content: ''
            height: 1.5rem
            width: 1.5rem

  & > fa-icon[matRipple]
    @include flex(row, center, center)
    @include position(absolute, calc(50% - 2.5rem), calc(50% - 2.5rem))
    border-radius: 50%
    color: $color-primary
    font-size: 1rem
    height: 5rem
    opacity: 0
    pointer-events: none
    transition: opacity $animation-duration
    width: 5rem

    @include deep
      .mat-ripple-element
        opacity: .24

    &.show
      opacity: .87

  & > nav
    @include flex(column-reverse)
    @include position(absolute, auto, 1rem, 1rem)
    transform: scale(0)
    transition: transform $animation-duration

    &.open
      & > .mat-fab
        &:first-child
          fa-icon
            transform: rotate(135deg)

        & + .mat-fab
          margin: 0 0 .5rem 0
          opacity: 1
          pointer-events: auto

    & > .mat-fab
      transition: all $animation-duration

      &:first-child
        z-index: 1

      &[disabled=true]
        i18n
          opacity: .24

      & + .mat-fab
        margin: 0 0 -3.5rem 0
        opacity: 0
        pointer-events: none

      i18n
        @include position(absolute, auto, 5rem)
        background-color: $color-darkest
        border-radius: .25rem
        color: $color-lightest
        padding: 0 .25rem
        pointer-events: none

      fa-icon
        display: block
        font-size: 1.25rem
        transition: all $animation-duration
