<main>
  <aol-map
    [loadTilesWhileAnimating]="true"
    [loadTilesWhileInteracting]="true">
    <aol-interaction-default>
    </aol-interaction-default>
    <aol-layer-tile>
      <aol-source-osm>
      </aol-source-osm>
    </aol-layer-tile>
    <aol-view
      [enableRotation]="false"
      [zoom]="mapconf.zoomfactor">
      <aol-coordinate
        [srid]="mapconf.projection"
        [x]="mapconf.longitude"
        [y]="mapconf.latitude">
      </aol-coordinate>
    </aol-view>
    <aol-layer-vector
      [updateWhileAnimating]="true"
      [updateWhileInteracting]="true"
      [style]="mapconf.styleFn">
      <aol-source-cluster
        [distance]="mapconf.cluster"
        [geometryFunction]="mapconf.geomFn">
        <aol-source-vector>
          <ng-container *ngFor="let item of items | async">
            <aol-feature [id]="item.id">
              <aol-geometry-point>
                <aol-coordinate
                  [srid]="mapconf.projection"
                  [x]="item.address.longitude"
                  [y]="item.address.latitude">
                </aol-coordinate>
              </aol-geometry-point>
            </aol-feature>
          </ng-container>
        </aol-source-vector>
      </aol-source-cluster>
    </aol-layer-vector>
    <ng-container *ngIf="directions">
      <aol-layer-vector
        [updateWhileAnimating]="true"
        [updateWhileInteracting]="true">
        <aol-source-vector>
          <aol-feature>
            <aol-geometry-linestring>
              <aol-collection-coordinates
                srid="EPSG:3857"
                [coordinates]="directions">
              </aol-collection-coordinates>
            </aol-geometry-linestring>
            <aol-style>
              <aol-style-stroke
                color="royalblue"
                [width]="5">
              </aol-style-stroke>
            </aol-style>
          </aol-feature>
        </aol-source-vector>
      </aol-layer-vector>
    </ng-container>
    <ng-container *ngIf="!embedded && (focus | async).length">
      <nav>
        <ng-container *ngFor="let item of activities | async">
          <activity-card [item]="item"></activity-card>
        </ng-container>
        <ng-container *ngFor="let item of organisations | async">
          <organisation-card [item]="item"></organisation-card>
        </ng-container>
      </nav>
    </ng-container>
  </aol-map>
  <fa-icon #center matRipple
    icon="circle"
    matRippleColor="currentColor">
  </fa-icon>
  <ng-container *ngIf="!uuid">
    <mat-button-toggle-group
      appearance="legacy"
      value="events"
      [style.transform]="dialer.matches('[style]') ? 'translatex(0)' : null">
      <mat-button-toggle value="events">
        <i18n>activities</i18n>
      </mat-button-toggle>
      <mat-button-toggle value="places">
        <i18n>organisations</i18n>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>
  <nav #dialer>
    <button color mat-fab (click)="dialer.classList.toggle('open')">
      <fa-icon icon="plus"></fa-icon>
    </button>
    <ng-container *ngIf="embedded && uuid">
      <button color mat-fab [routerLink]="['/', 'mapview', uuid]">
        <i18n>fullscreen</i18n>
        <fa-icon icon="expand-arrows-alt"></fa-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="!embedded">
      <button color mat-fab
        [disabled]="!enabled || !navigate"
        (click)="handleNavigation('DRIVING')">
        <i18n>drivingRoute</i18n>
        <fa-icon icon="car-side"></fa-icon>
      </button>
      <button color mat-fab
        [disabled]="!enabled || !navigate"
        (click)="handleNavigation('WALKING')">
        <i18n>walkingRoute</i18n>
        <fa-icon icon="walking"></fa-icon>
      </button>
      <button mat-fab
        [color]="location.closed ? null : 'primary'"
        [disabled]="!enabled"
        (click)="handleLocation()">
        <i18n>followPosition</i18n>
        <fa-icon icon="location-arrow"></fa-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="!embedded || !uuid">
      <button color mat-fab (click)="handleReset()">
        <i18n>reset</i18n>
        <fa-icon icon="undo-alt"></fa-icon>
      </button>
    </ng-container>
  </nav>
</main>
