@import '../../../../app.vars.scss';

stack-layout {
  opacity: .26;
  orientation: horizontal;

  & > [icon=clock] {
    height: rem(2);
    padding-right: rem(.5);
    width: rem(2);
  }

  & > label {
    vertical-align: center;
  }
}
