<main>
  <ng-container *ngFor="let item of items | async">
    <expand-compat #expand (changed)="$event && expanded(expand)">
      <ng-template #expandHeader>
        <icon-compat icon="info-circle"></icon-compat>
        {{ item.name }}
        <small>({{ item.infopages.length }})</small>
      </ng-template>
      <ng-template #expandContent>
        <ng-container *ngFor="let page of item.infopages">
          <infopage-card [item]="page"></infopage-card>
        </ng-container>
      </ng-template>
    </expand-compat>
  </ng-container>
  <ng-container *ngIf="next || prev">
    <pager-compat [next]="next" [prev]="prev"></pager-compat>
  </ng-container>
</main>
