@import '../../../../app.vars.scss';

scroll-view {
  & > flexbox-layout {
    & > .expand-compat {
      width: 100%;

      label  + label {
        font-size: rem(.75);
        font-weight: 300;
        padding-left: rem(.5);
      }

      [icon=info-circle] {
        height: rem(2);
        width: rem(2);
      }
    }
  }
}
