@import '../../../../app.theme.scss';

main {
  @include flex(column, flex-start, center);

  & > mat-accordion {
    display: block;
    margin: 1rem auto;
    max-width: $viewport-width;
    width: calc(100% - 2rem);

    & > mat-expansion-panel {
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all $animation-duration;

      @include deep {
        & .mat-expansion-panel-body {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0;

          & > infopage-card {
            & + infopage-card {
              padding-left: 0;
            }
          }
        }
      }

      &.mat-expanded {
        border-color: $color-primary;

        & > mat-expansion-panel-header {
          background-color: $color-primary;

          @include deep {
            & > .mat-expansion-indicator::after {
              color: $color-light;
            }
          }

          & mat-panel-title {
            color: $color-light;
          }
        }
      }

      & + mat-expansion-panel {
        margin-top: 2rem;
      }

      & > mat-expansion-panel-header {
        border-radius: 0;
        font-weight: bold;
        text-transform: uppercase;
        transition: all $animation-duration;
      }
    }
  }
}
