<scroll-view class="topoff">
  <stack-layout>
    <ng-container *ngFor="let item of items | async">
      <grid-layout>
        <expand-compat #expand (changed)="$event && expanded(expand)">
          <ng-template #expandHeader>
            <icon-compat icon="info-circle"></icon-compat>
            <label [text]="item.name"></label>
            <label [text]="'(' + item.infopages.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <ng-container *ngFor="let page of item.infopages">
              <grid-layout>
                <infopage-card [item]="page"></infopage-card>
              </grid-layout>
            </ng-container>
          </ng-template>
        </expand-compat>
      </grid-layout>
    </ng-container>
    <ng-container *ngIf="next || prev">
      <pager-compat [next]="next" [prev]="prev"></pager-compat>
    </ng-container>
  </stack-layout>
</scroll-view>
