<scroll-view class="topoff">
  <stack-layout>
    <ng-container *ngIf="(results | async) === false">
      <stack-layout>
        <icon-component icon="frown"></icon-component>
        <i18n i18n="@@notFoundError" unit="notFoundError"></i18n>
      </stack-layout>
    </ng-container>
    <ng-container *ngFor="let item of items | async">
      <grid-layout>
        <expand-component #expand (changed)="$event && expanded(expand)">
          <ng-template #expandHeader>
            <icon-component icon="info-circle"></icon-component>
            <label [text]="item.name"></label>
            <label [text]="'(' + item.infopages.length + ')'"></label>
          </ng-template>
          <ng-template #expandContent>
            <ng-container *ngFor="let page of item.infopages">
              <grid-layout>
                <infopage-card [item]="page"></infopage-card>
              </grid-layout>
            </ng-container>
          </ng-template>
        </expand-component>
      </grid-layout>
    </ng-container>
    <ng-container *ngIf="next || prev">
      <pager-component [next]="next" [prev]="prev"></pager-component>
    </ng-container>
  </stack-layout>
</scroll-view>
