main {
  & > mat-card {
    margin: 2rem 1rem;
    width: 20rem;

    & > mat-card-header {
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    & > mat-card-content {
      margin-top: 1rem;
    }
  }
}
