<main>
  <h2 class="mat-headline">
    {{ item.name }}
    <small>
      <i18n i18n="@@by">by</i18n>
      {{ item.author }}
      <ng-container *ngIf="item.activity">
        <i18n i18n="@@about">about</i18n>
        <a [routerLink]="['/', 'activities', item.activity.id]">
          {{ item.activity.name }}
        </a>
      </ng-container>
    </small>
  </h2>
  <mat-divider></mat-divider>
  <nav>
    <share-piece [item]="item"></share-piece>
    <like-piece [item]="item"></like-piece>
    <span [style.flexGrow]="1"></span>
    <time-piece [item]="item"></time-piece>
  </nav>
  <mat-divider></mat-divider>
  <section>
    <marked-component [data]="item.content"></marked-component>
    <ng-container *ngIf="item.activity || item.images">
      <aside>
        <ng-container *ngIf="item.images">
          <expand-component #images
            (changed)="$event && expanded(images)">
            <ng-template #expandHeader>
              <icon-component icon="image"></icon-component>
              <i18n i18n="@@images">images</i18n>
              <small>({{ item.images.length }})</small>
            </ng-template>
            <ng-template #expandContent>
              <ng-container *ngFor="let image of item.images">
                <figure>
                  <content
                    [alt]="image.caption"
                    [style.backgroundImage]="image.source"
                    [title]="image.caption">
                  </content>
                </figure>
              </ng-container>
            </ng-template>
          </expand-component>
        </ng-container>
        <ng-container *ngIf="item.activity">
          <expand-component #activity
            (changed)="$event && expanded(activity)">
            <ng-template #expandHeader>
              <icon-component icon="map-marker-alt"></icon-component>
              <i18n i18n="@@activity">activity</i18n>
            </ng-template>
            <ng-template #expandContent>
              <activity-card [item]="item.activity"></activity-card>
            </ng-template>
          </expand-component>
        </ng-container>
      </aside>
    </ng-container>
  </section>
</main>
