<main>
  <section>
    <aside>
      <h2 class="mat-headline">
        {{ name | async }} &mdash;<br>
        <i18n>newActivities</i18n>
      </h2>
      <strong class="mat-title">
        {{ tagline }}
      </strong>
      <nav>
        <ng-container *ngFor="let item of activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </nav>
    </aside>
  </section>
  <section>
    <article>
      <img
        alt="Wuppertal"
        src="images/pinboard.png"
        title="Wuppertal">
    </article>
    <article class="mat-title" [innerHTML]="content"></article>
  </section>
  <section>
    <figure>
      <img
        alt="Stadt Wuppertal Ressort Zuwanderung und Integration"
        src="images/municipality.png"
        title="Stadt Wuppertal Ressort Zuwanderung und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Stadt Wuppertal Ressort Zuwanderung und Integration">
          Ressort Zuwanderung und Integration
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Kommunales Integrationszentrum Wuppertal"
        src="images/office.png"
        title="Kommunales Integrationszentrum Wuppertal">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Kommunales Integrationszentrum Wuppertal">
          Kommunales Integrationszentrum Wuppertal
        </a>
      </figcaption>
    </figure>
  </section>
</main>
