@import '../../../../app.vars.scss';

scroll-view {
  & > stack-layout {
    padding: 0;

    & > absolute-layout {
      transform: rotate(180deg);

      & > absolute-layout {
        width: 100%;

        & > stack-layout {
          background-color: $color-primary;
          border-radius: rem(7.5);
          color: $color-lightest;
          height: rem(7.5);
          margin: rem(1);
          orientation: horizontal;
          padding: rem(.5);
          text-align: center;
          transform: rotate(180deg);
          width: rem(7.5);

          & > label {
            vertical-align: center;
          }
        }
      }

      & > stack-layout {
        background-color: rgba($color-primary, .24);
        font-size: rem(1.5);
        font-weight: 500;
        margin-bottom: rem(2);
        padding: rem(1);
        transform: rotate(180deg);
        width: 100%;
      }
    }

    & > grid-layout {
      background-color: rgba($color-primary, .24);
      padding: 0 rem(1) rem(2.5) rem(1);

      & > scroll-view {
        orientation: horizontal;

        & > flexbox-layout {
          align-items: center;
          orientation: horizontal;

          & > grid-layout {
            & + grid-layout {
              margin-left: rem(1);
            }
          }
        }
      }
    }

    & > stack-layout {
      margin: rem(1);
    }

    & > flexbox-layout {
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: rem(2.5) 0;

      & > stack-layout {
        margin: rem(1) rem(2.5);

        & > image {
          height: rem(5);
          stretch: aspectFit;
          width: rem(15);
        }

        & > label {
          font-weight: bold;
          text-align: center;
          text-decoration: underline;
        }
      }
    }
  }
}
