<main>
  <section>
    <aside>
      <h2 class="mat-headline">
        {{ name | async }} &mdash;<br>
        <i18n i18n="@@newActivities">newActivities</i18n>
      </h2>
      <strong class="mat-title">
        {{ tagline }}
      </strong>
      <nav>
        <ng-container *ngFor="let item of activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </nav>
    </aside>
  </section>
  <section>
    <article>
      <img
        alt="Wuppertal"
        src="/images/pinboard.png"
        title="Wuppertal">
    </article>
    <article>
      <marked-compat class="mat-title" [data]="'

## Ein Angebotsportal für Neubürger in Wuppertal
Das Wupportal richtet sich an Menschen, die neu in Wuppertal sind und hilft
kostenfreie und integrative Angebote in der Stadt schnell und einfach zu finden.

## Einfach und schnell
Durchstöbere Organisationen und Veranstaltungen in Wuppertal. Alle Infos zu den
Veranstaltungen und Organisationen findest Du auch auf einer interaktiven Karte.

## Finde Angebote, die zu Dir passen
Einfach nach Kategorien, Stadtteilen oder Zielgruppen filtern und nur die
Veranstaltungen sehen, die Du gerade brauchst. Oder suche nach Schlagworten und
Du bekommst Ergebnisse.

## Von überall erreichbar
Ob Zuhause, im Internetcafé oder auf dem Smartphone, das Wupportal versorgt Dich
von überall mit den Infos zu den neusten Veranstaltungen in Wuppertal.

## In Deiner Sprache
Das Wupportal kann nicht nur deinen Standort verwenden oder die besten
Veranstaltungen mit Deinen Freunden teilen, sondern auch Inhalte in
verschiedenen Sprachen anzeigen.

      '"></marked-compat>
    </article>
  </section>
  <section>
    <figure>
      <img
        alt="Stadt Wuppertal Ressort Zuwanderung und Integration"
        src="/images/municipality.png"
        title="Stadt Wuppertal Ressort Zuwanderung und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Stadt Wuppertal Ressort Zuwanderung und Integration">
          Ressort Zuwanderung und Integration
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Kommunales Integrationszentrum Wuppertal"
        src="/images/office.png"
        title="Kommunales Integrationszentrum Wuppertal">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Kommunales Integrationszentrum Wuppertal">
          Kommunales Integrationszentrum Wuppertal
        </a>
      </figcaption>
    </figure>
  </section>
</main>
