<mat-expansion-panel class="orga-list-collapse-header"  
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h2 [ngStyle]="{'font-weight': panelOpenState ? 'bold' : 'normal'}" >
                {{organisation.name}}
            </h2>
        </mat-panel-title>

        <mat-panel-description>
            <fa-icon class="collapsableIndicator" *ngIf="panelOpenState == false" icon="plus"></fa-icon>
            <fa-icon class="collapsableIndicator" *ngIf="panelOpenState == true" icon="minus"></fa-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div class="orgaDescription">{{organisation.description}}</div>
        <organisation-card class="orgaCard" [organisation]="organisation"></organisation-card>
    </div>
</mat-expansion-panel>