.orga-list-collapse-header .mat-expansion-panel-header-title,
.orga-list-collapse-header .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.orga-list-collapse-header .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.orga-list{
    position: relative;
    margin: 0px auto;
    width: 90%;
}

mat-expansion-panel-header {
    background: #FDF6E1;
}

mat-expansion-panel{
    margin: 20px auto;
    background: #F5F5F5;
}

fa-icon.collapsableIndicator {
    position: absolute;
    right: 20px; 
}

organisation-card.orgaCard {
    margin: 20px;
}

