<form #form="ngForm" (ngSubmit)="onSubmit">
  <nesting-component flex="strech" flow="column" size="xs">
    <ng-template #content>
      <mat-form-field fxFlex>
        <input matInput required type="email" [(ngModel)]="username"
          i18n-placeholder="@@E-Mail" placeholder="E-Mail" name="_">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput required type="password" [(ngModel)]="password"
          i18n-placeholder="@@Password" placeholder="Password" name="_">
      </mat-form-field>
    </ng-template>

    <ng-template #actions>
      <button mat-button type="submit" color="primary">
        <i18n i18n="@@Login">Login</i18n>
      </button>
      <button mat-button routerLink="/user">
        <i18n i18n="@@Register">Register</i18n>
      </button>
      <button mat-button type="button">
        <i18n i18n="@@Help">Help</i18n>
      </button>
    </ng-template>
  </nesting-component>
</form>
