<scroll-view class="topoff">
  <stack-layout>
    <ng-container *ngIf="(results | async) === false">
      <stack-layout>
        <icon-component icon="frown"></icon-component>
        <i18n i18n="@@notFoundError" unit="notFoundError"></i18n>
      </stack-layout>
    </ng-container>
    <ng-container *ngFor="let item of items | async">
      <grid-layout>
        <organisation-card [item]="item"></organisation-card>
      </grid-layout>
    </ng-container>
    <ng-container *ngIf="next || prev">
      <pager-component [next]="next" [prev]="prev"></pager-component>
    </ng-container>
  </stack-layout>
</scroll-view>
