@import '../../../../app.theme.scss';

main {
  & > organisation-card {
    margin: 1rem;
    max-width: calc(100% - 2rem);
  }

  & > [compat=pager] {
    margin: 1rem 1rem 2rem 1rem;
    width: 100%;
  }
}
