@import '~@angular/material/theming';

$animation-duration: .25s;
$viewport-width: 120rem;

$color-lightest: scale-color(white, $lightness: -0%);
$color-lighter: scale-color(white, $lightness: -2%);
$color-light: scale-color(white, $lightness: -12%);
$color-dark: scale-color(white, $lightness: -36%);
$color-darker: scale-color(white, $lightness: -54%);
$color-darkest: scale-color(white, $lightness: -87%);

$theme-palette-primary: (
  50: #e5f0f1,
  100: #bfd9dc,
  200: #95c0c4,
  300: #6aa7ac,
  400: #4a949b,
  500: #2a8189,
  600: #257981,
  700: #1f6e76,
  800: #19646c,
  900: #0f5159,
  A100: #90f2ff,
  A200: #5decff,
  A400: #2ae6ff,
  A700: #10e2ff,
  contrast: (
    50: $color-darkest,
    100: $color-darkest,
    200: $color-darkest,
    300: $color-darkest,
    400: $color-lightest,
    500: $color-lightest,
    600: $color-lightest,
    700: $color-lightest,
    800: $color-lightest,
    900: $color-lightest,
    A100: $color-darkest,
    A200: $color-darkest,
    A400: $color-darkest,
    A700: $color-darkest,
  )
);

$theme-palette-accent: (
  50: #fbeae8,
  100: #f6c9c7,
  200: #f0a6a1,
  300: #ea827b,
  400: #e6675f,
  500: #e14c43,
  600: #dd453d,
  700: #d93c34,
  800: #d5332c,
  900: #cd241e,
  A100: #ffffff,
  A200: #ffd2d0,
  A400: #ffa09d,
  A700: #ff8784,
  contrast: (
    50: $color-darkest,
    100: $color-darkest,
    200: $color-darkest,
    300: $color-darkest,
    400: $color-darkest,
    500: $color-lightest,
    600: $color-lightest,
    700: $color-lightest,
    800: $color-lightest,
    900: $color-lightest,
    A100: $color-darkest,
    A200: $color-darkest,
    A400: $color-darkest,
    A700: $color-darkest,
  )
);

$theme-palette: mat-light-theme(
  mat-palette($theme-palette-primary),
  mat-palette($theme-palette-accent)
);

$color-primary: mat-color(map-get($theme-palette, primary));
$color-accent: mat-color(map-get($theme-palette, accent));
$color-warn: mat-color(map-get($theme-palette, warn));
$color-bg: scale-color($color-primary, $lightness: +95%);

@mixin deep {
  &::ng-deep { @content; }
}

@mixin flex(
  $direction,
  $main-axis: normal,
  $cross-axis: normal
) {
  display: flex;
  align-items: $cross-axis;
  justify-content: $main-axis;

  @if $direction == wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @else {
    flex-direction: $direction;
    flex-wrap: nowrap;
  }
}

@mixin position(
  $value,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: $value;
  bottom: $bottom;
  left: $left;
  right: $right;
  top: $top;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 599px) { @content; }
  }
  @if $breakpoint == sm {
    @media (min-width: 600px) and (max-width: 959px) { @content; }
  }
  @if $breakpoint == md {
    @media (min-width: 960px) and (max-width: 1279px) { @content; }
  }
  @if $breakpoint == lg {
    @media (min-width: 1280px) and (max-width: 1919px) { @content; }
  }
  @if $breakpoint == xl {
    @media (min-width: 1920px) and (max-width: 5000px) { @content; }
  }
  @if $breakpoint == lt-sm {
    @media (max-width: 599px) { @content; }
  }
  @if $breakpoint == lt-md {
    @media (max-width: 959px) { @content; }
  }
  @if $breakpoint == lt-lg {
    @media (max-width: 1279px) { @content; }
  }
  @if $breakpoint == lt-xl {
    @media (max-width: 1919px) { @content; }
  }
  @if $breakpoint == gt-xs {
    @media (min-width: 600px) { @content; }
  }
  @if $breakpoint == gt-sm {
    @media (min-width: 960px) { @content; }
  }
  @if $breakpoint == gt-md {
    @media (min-width: 1280px) { @content; }
  }
  @if $breakpoint == gt-lg {
    @media (min-width: 1920px) { @content; }
  }
}

mat-progress-bar._mat-animation-noopable[mode=indeterminate] {
  .mat-progress-bar-primary {
    animation:
      mat-progress-bar-primary-indeterminate-translate
      ($animation-duration * 8) infinite linear !important;

    &::after {
      animation:
        mat-progress-bar-primary-indeterminate-scale
        ($animation-duration * 8) infinite linear !important;
    }
  }

  .mat-progress-bar-secondary {
    animation:
      mat-progress-bar-secondary-indeterminate-translate
      ($animation-duration * 8) infinite linear !important;

    &::after {
      animation:
        mat-progress-bar-secondary-indeterminate-scale
        ($animation-duration * 8) infinite linear !important;
    }
  }
}

mat-progress-spinner._mat-animation-noopable[mode=indeterminate] {
  animation:
    mat-progress-spinner-linear-rotate
    ($animation-duration * 8) linear infinite !important;

  & > svg {
    & > circle {
      animation-duration: ($animation-duration * 16) !important;
      animation-iteration-count: infinite !important;
    }
  }
}
