<mat-card class="gray-card container centered-content">
	<mat-card-header>
		<mat-card-title>{{constants.forgottenPassword}}</mat-card-title>
		<mat-card-subtitle>{{constants.enterYourMail}}</mat-card-subtitle>
	</mat-card-header>
	<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
		<mat-form-field class="form-full-width">
			<input matInput formControlName="mailCtrl" type=text placeholder="{{constants.mail}}" required>
		</mat-form-field>
		<button class="btn btn-primary" [disabled]="formGroup.invalid" type="submit">{{constants.save}}</button>
		<button class="btn btn-secondary" type="button" (click)="back()">{{constants.back}}</button>
	</form>
</mat-card>
