<mat-card class="gray-card container centered-content">
	<mat-card-header>
		<mat-card-title>{{constants.enterYourMail}}</mat-card-title>
	</mat-card-header>
	<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
		<mat-form-field class="form-full-width">
			<input matInput formControlName="mailCtrl"
			  type=text placeholder="{{constants.mail}}"
			  required>
		</mat-form-field>
	</form>
	<button class="btn btn-danger"
	  [disabled]="formGroup.invalid"
	  type="button" (click)="onSubmit()">{{constants.resetPassword}}</button>
	<button class="btn btn-secondary"
	  type="button" (click)="back()">{{constants.back}}</button>
</mat-card>
