<button mat-raised-button type="button"
  (click)="newEntry()">
	{{constants.newEntry}}</button>

<div class="filter">
	<mat-form-field>
		<input matInput (keyup)="handleFiltered($event)"
		  placeholder="Filter">
	</mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource"
  class="example-table" matSort (matSortChange)="handleSorted($event)">

	<!-- username Column -->
	<ng-container matColumnDef="username">
		<mat-header-cell *matHeaderCellDef
		  mat-sort-header>{{constants.user}}</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
	</ng-container>

	<!-- fullname Column -->
	<ng-container matColumnDef="fullname">
		<mat-header-cell *matHeaderCellDef
		  mat-sort-header>{{constants.nameString}}</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.fullname }}</mat-cell>
	</ng-container>

	<!-- phone Column -->
	<ng-container matColumnDef="phone">
		<mat-header-cell *matHeaderCellDef
		  mat-sort-header>{{constants.phone}}</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
	</ng-container>

	<!-- Created Column -->
	<ng-container matColumnDef="created">
		<mat-header-cell *matHeaderCellDef
		  mat-sort-header disableClear="true">
			{{constants.createdAt}}
		</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.created | date }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="action">
		<mat-header-cell *matHeaderCellDef>
			{{constants.delete}}
		</mat-header-cell>
		<mat-cell *matCellDef="let row">
			<button mat-button color="warn"
			  (click)="openDialog(row, row.username)">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</button>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="constants.pageSize"
  [pageSizeOptions]="constants.pageSizeOptions"
  (page)="handlePageChanged($event)">
</mat-paginator>
