<div class="edit-container" *ngIf="user">
	<form [formGroup]="userForm" #formDir="ngForm"
	  (ngSubmit)="onSubmit()" class="well">
		<mat-card>
			<mat-card-header>
				<h2>{{constants.user}}</h2>
			</mat-card-header>

			<mat-form-field class="edit-form-full-width">
				<input matInput type=text placeholder={{constants.mail}}
				  formControlName="username"
				  [errorStateMatcher]="validation"
				  required>
				<mat-error *ngIf="username.hasError('required')">
					{{constants.isRequiredMessage}}
				</mat-error>
				<mat-error *ngIf="username.hasError('email')">
					{{constants.emailFormatMessage}}
				</mat-error>
			</mat-form-field>

			<mat-form-field class="edit-form-full-width">
				<input matInput type=text placeholder={{constants.fullname}}
				  formControlName="fullname"
				  [errorStateMatcher]="validation"
				  required>
				<mat-error *ngIf="fullname.hasError('required')">
					{{constants.isRequiredMessage}}
				</mat-error>
			</mat-form-field>


			<mat-form-field class="edit-form-full-width">
				<input matInput type=text placeholder={{constants.phone}}
				  formControlName="phone" [errorStateMatcher]="validation">
			</mat-form-field>

			<form [formGroup]="passwordGroup"
			  id="passwordGroup" #formDir="ngForm">
				<mat-form-field class="edit-form-full-width">
					<input matInput type=password placeholder={{constants.newPassword}}
					  formControlName="password"
					  [errorStateMatcher]="validation">
				</mat-form-field>
				<mat-form-field class="edit-form-full-width">
					<input matInput type=password placeholder={{constants.confirmPassword}}
					  formControlName="confirmPassword"
					  [errorStateMatcher]="validation">
				</mat-form-field>
				<mat-error *ngIf="passwordGroup.invalid">
					{{passwordInvalid()}}
				</mat-error>
			</form>

			<button mat-raised-button type="submit"
			  color="primary" [disabled]="userForm.invalid">{{constants.save}}</button>
			<button mat-raised-button type="button"
			  (click)="back()">{{constants.back}}</button>
		</mat-card>
	</form>
</div>
