<div class="edit-container" *ngIf="user">
	<form [formGroup]="userForm" #formDir="ngForm"
	  (ngSubmit)="onSubmit()" class="well">
		<mat-card class="address-card">
			<mat-card-header>
				<h2>{{constants.accountManagement}}</h2>
			</mat-card-header>

			<mat-form-field class="edit-form-full-width">
				<input matInput type=text placeholder={{constants.mail}}
				  formControlName="usernameCtrl"
				  [errorStateMatcher]="validation"
				  required>
				<mat-error *ngIf="usernameCtrl.hasError('required')">
					{{constants.isRequiredMessage}}
				</mat-error>
				<mat-error *ngIf="usernameCtrl.hasError('email')">
					{{constants.emailFormatMessage}}
				</mat-error>
			</mat-form-field>

			<mat-form-field class="edit-form-full-width">
				<input matInput type=text placeholder={{constants.fullname}}
				  formControlName="fullnameCtrl"
				  [errorStateMatcher]="validation"
				  required>
				<mat-error *ngIf="fullnameCtrl.hasError('required')">
					{{constants.isRequiredMessage}}
				</mat-error>
			</mat-form-field>


			<mat-form-field class="edit-form-full-width">
				<input matInput type=text placeholder={{constants.phone}}
				  formControlName="phoneCtrl"
				  [errorStateMatcher]="validation">
			</mat-form-field>

			<form [formGroup]="passwordGroup"
			  id="passwordGroup" #formDir="ngForm">
				<mat-form-field class="edit-form-full-width">
					<input matInput type=password placeholder={{constants.newPassword}}
					  formControlName="newPasswordCtrl">
				</mat-form-field>
				<mat-form-field class="edit-form-full-width">
					<input matInput type=password placeholder={{constants.repeatPassword}}
					  formControlName="repeatPasswordCtrl"
					  [errorStateMatcher]="validation">
				</mat-form-field>
				<mat-error *ngIf="passwordGroup.invalid">
					{{constants.notSamePasswordMessage}}
				</mat-error>
			</form>

			<button mat-raised-button [disabled]="userForm.invalid"
			  type="submit">{{constants.save}}</button>
			<button mat-raised-button (click)="back()">{{constants.back}}</button>
		</mat-card>
	</form>
</div>
