<div class="filter">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

	<!-- username Column -->
	<ng-container matColumnDef="username">
		<mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
	</ng-container>

	<!-- fullname Column -->
	<ng-container matColumnDef="fullname">
		<mat-header-cell *matHeaderCellDef>Fullname</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.fullname }}</mat-cell>
	</ng-container>

	<!-- phone Column -->
	<ng-container matColumnDef="phone">
		<mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
	</ng-container>

	<!-- Created Column -->
	<ng-container matColumnDef="created">
		<mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
			Created
		</mat-header-cell>
		<mat-cell *matCellDef="let row">{{ row.created_at | date }}</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="tableState.pageSize" (page)="changedPage($event)">
</mat-paginator>
