@import '../../../../app.vars.scss';

stack-layout {
  padding-right: rem(.5);

  &.disabled {
    & > [icon] {
      opacity: .24;
    }

    & > [unit] {
      opacity: .24;
    }
  }

  & > label {
    background-color: $color-primary;
    border-radius: rem(1.25);
    color: $color-lightest;
    height: rem(1.25);
    margin: 0 0 rem(.75) rem(.25);
    padding-top: 1;
    text-align: center;
    width: rem(1.25);
  }
}
