<mat-sidenav-container>
	<mat-sidenav #sidenav [opened]="!!route.snapshot.children.length"
		(closed)="router.navigate(['/'])" (openedStart)="viewFabdial = false">
		<mat-toolbar color="primary">
			<ng-content *ngTemplateOutlet="sidenavHeader"></ng-content>
			<button mat-icon-button color (click)="sidenav.close()">
				<fa-icon icon="times"></fa-icon>
			</button>
		</mat-toolbar>

		<router-outlet (activate)="sidenavHeader = $event.header"></router-outlet>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button mat-button color routerLink="/home">
				<fa-icon icon="home"></fa-icon>
			</button>
			<button mat-button color routerLink="/about">
				<fa-icon icon="info"></fa-icon>
			</button>
			<div [style.flexGrow]="1"></div>
			<button mat-button color (click)="onTracking()">
				<fa-icon icon="location-arrow"></fa-icon>
			</button>
			<button mat-button color (click)="onTranslate()">
				<fa-icon icon="comments"></fa-icon>
			</button>
		</mat-toolbar>

		<mapping-component [activities]="selectables | async">
		</mapping-component>

		<search-component [selectables]="selectables">
		</search-component>
	</mat-sidenav-content>
</mat-sidenav-container>
