<mat-sidenav-container>
	<mat-sidenav [opened]="!!route.snapshot.children.length"
		(closed)="router.navigate([''])" (opened)="open = false">
		<router-outlet></router-outlet>
	</mat-sidenav>

	<mat-sidenav-content>
		<mapping-component [activities]="selectables | async">
		</mapping-component>

		<search-component [selectables]="selectables">
		</search-component>

		<nav class="fab-dial" [class.open]="open" [class.vert]="landscape | async">
			<button mat-fab color="" (click)="open = !open">
				<fa-icon icon="plus"></fa-icon>
			</button>
			<button mat-fab color="primary" (click)="handleTranslate()">
				<fa-icon icon="comments"></fa-icon>
			</button>
			<button mat-fab color="primary" (click)="handleTracking()">
				<fa-icon icon="location-arrow"></fa-icon>
			</button>
			<button mat-fab color="primary" (click)="handleTabular()">
				<fa-icon icon="list-alt"></fa-icon>
			</button>
			<button mat-fab color="primary" routerLink="/login">
				<fa-icon icon="user"></fa-icon>
			</button>
		</nav>
	</mat-sidenav-content>
</mat-sidenav-container>

