<mat-sidenav-container>
	<mat-sidenav #sidenav [opened]="!!route.snapshot.children.length"
		(closed)="router.navigate(['/'])" (openedStart)="viewFabdial = false">
		<mat-toolbar color="primary">
			<ng-content *ngTemplateOutlet="sidenavHeader"></ng-content>
			<button mat-icon-button color (click)="sidenav.close()">
				<fa-icon icon="times"></fa-icon>
			</button>
		</mat-toolbar>

		<router-outlet (activate)="sidenavHeader = $event.header"></router-outlet>
	</mat-sidenav>

	<mat-sidenav-content>
		<mapping-component [activities]="selectables | async">
		</mapping-component>

		<search-component [selectables]="selectables">
		</search-component>

		<nav class="fab-dial" [class.view]="viewFabdial">
			<button mat-fab color (click)="viewFabdial = !viewFabdial">
				<fa-icon icon="plus"></fa-icon>
			</button>
			<button mat-fab color="primary" (click)="onTranslate()">
				<fa-icon icon="comments"></fa-icon>
			</button>
			<button mat-fab color="primary" (click)="onTracking()">
				<fa-icon icon="location-arrow"></fa-icon>
			</button>
			<button mat-fab color="primary" routerLink="/about">
				<fa-icon icon="info"></fa-icon>
			</button>
		</nav>
	</mat-sidenav-content>
</mat-sidenav-container>
