@import '../../../../app.vars.scss';

StackLayout {
  horizontal-align: center;
  margin: 0 rem(1) rem(1) rem(1);
  orientation: horizontal;

  & > AbsoluteLayout {
    height: rem(2.5);

    &.next {
      horizontal-align: right;
      transform: rotate(180deg);

      & > GridLayout {
        transform: rotate(180deg);

        & > [unit] {
          margin-right: rem(1.75);
          text-align: right;
        }
      }
    }

    &.prev {
      horizontal-align: left;

      & > GridLayout {
        & > [unit] {
          margin-left: rem(1.75);
        }
      }
    }

    & > AbsoluteLayout {
      background-color: $color-lighter;
      height: rem(2.5);
      left: rem(8.5);
      transform: rotate(45deg);
      width: rem(2.5);
    }

    & > [icon] {
      @include elevation;
      background-color: $color-primary;
      border-radius: rem(2.5);
      color: $color-lightest;
      font-size: rem(1);
      height: rem(2.5);
      left: 0;
      width: rem(2.5);

      &.disabled {
        background-color: desaturate($color-primary, 100%);
      }
    }

    & > GridLayout {
      background-color: $color-light;
      height: 100%;
      margin-left: rem(1.25);
      width: rem(8.5);

      & > [unit] {
        font-size: rem(1);
        vertical-align: center;
      }
    }
  }
}
