/* :host > * + * {
	margin-top: 0;
} */

nav {
	margin: 12px;
	pointer-events: none;
	position: relative;
	z-index: 2;
}
nav mat-card {
	box-sizing: border-box;
	max-width: calc(480px - 2 * 12px);
	padding: 12px;
	pointer-events: initial;
	width: 100%;
}
nav mat-form-field {
	width: 100%;
}
nav mat-form-field::ng-deep .mat-input-wrapper {
	margin-bottom: 12px;
}
/*
nav mat-form-field::ng-deep label {
	text-align: center;
}
 */
nav mat-placeholder mat-icon {
	width: 3.3em;
}
nav mat-hint button {
	line-height: 24px;
	min-width: 0;
	padding: 0 8px;
}
nav mat-progress-bar {
	bottom: 0;
	left: 0;
	max-width: calc(480px - 2 * 12px);
	position: absolute;
	transition: all 100ms;
}
nav mat-progress-bar.hide {
	height: 0;
}

menu {
	margin: 12px;
	padding: 0;
	pointer-events: none;
	position: relative;
	z-index: 2;
}
menu mat-card {
	padding: 0;
	pointer-events: initial;
	max-width: calc(480px - 2 * 12px);
	width: 100%;
}
menu mat-tab-group {
	padding: 12px;
}
menu mat-tab-group::ng-deep mat-tab-header {
	margin-bottom: 8px;
}
menu mat-tab-group::ng-deep .mat-tab-label {
	height: 32px;
	min-width: 0;
	padding: 0 8px;
}
menu mat-tab-group::ng-deep .mat-tab-labels {
	justify-content: space-between;
}
menu mat-tab-group::ng-deep .mat-tab-body-content {
	overflow: hidden;
}
menu mat-expansion-panel {
	box-shadow: none;
}
menu mat-expansion-panel::ng-deep .mat-expansion-panel-body {
	padding: 0;
}

content {
	box-sizing: border-box;
	display: block;
	margin: 12px;
	pointer-events: none;
	position: relative;
	z-index: 2;
}
content > mat-expansion-panel {
	background: transparent;
	box-shadow: none;
	max-width: calc(480px - 2 * 12px);
	pointer-events: initial;
	width: 100%;
}
content mat-accordion {
	display: block;
	margin: 0 -24px -16px -24px;
}
content mat-accordion fa-icon {
	font-size: 150%;
}
content mat-accordion fa-icon::ng-deep path {
	stroke: black;
	stroke-width: 24px;
}
content mat-accordion mat-expansion-panel {
	position: relative;
}
content mat-accordion mat-expansion-panel.mat-expansion-panel-spacing {
	margin: 8px 0;
}
content mat-accordion mat-expansion-panel::ng-deep button {
	bottom: 12px;
	position: absolute;
	right: 12px;
	transform: scale(0);
	transition: all 100ms;
}
content mat-accordion mat-expansion-panel::ng-deep .mat-expanded button {
	transform: scale(1);
}
content mat-accordion mat-expansion-panel-header {
	position: relative;
}
content mat-accordion mat-expansion-panel-header canvas {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}
content mat-accordion mat-panel-description {
	display: inline;
	font-size: 12px;
	text-align: right;
}
content mat-list fa-icon::ng-deep path {
	fill: transparent;
	stroke: currentColor;
}
content mat-list a[mat-button] {
	display: block;
	line-height: inherit;
	padding: 0;
	text-align: inherit;
}
content mat-list a[mat-button] mat-list-item {
	color: inherit;
}
