<nav>
	<mat-card>
		<mat-form-field>
			<input matInput (change)="onInput($event)" (keyup.enter)="onSearch()">

			<mat-placeholder>
				<mat-icon svgIcon="wuppertal"></mat-icon><b>upportal durchsuchen</b>
			</mat-placeholder>

			<mat-hint align="start" (click)="showFilters = !showFilters">
				<button mat-button [color]="filter.selected() && 'primary'">
					{{ filter.selected() }} Filter
					<fa-icon [icon]="showFilters ? 'angle-up' : 'angle-down'"></fa-icon>
				</button>
			</mat-hint>

			<mat-hint align="end" (click)="showResults = !showResults">
				<button mat-button [color]="(selectables | async).length && 'primary'">
					{{ (selectables | async).length }} Ergebnisse
					<fa-icon [icon]="showResults ? 'angle-up' : 'angle-down'"></fa-icon>
				</button>
			</mat-hint>
		</mat-form-field>
	</mat-card>

	<mat-progress-bar color="primay" mode="query" [class.hide]="!showLoading">
	</mat-progress-bar>
</nav>

<menu>
	<mat-card>
		<mat-expansion-panel hideToggle="true" [expanded]="showFilters">
			<mat-tab-group>
				<mat-tab>
					<ng-template mat-tab-label>Kategorien</ng-template>
					<search-filter field="Categories" (filter)="onFilter($event)">
					</search-filter>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>Organisationen</ng-template>
					<search-filter field="Organisations" (filter)="onFilter($event)">
					</search-filter>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>Quartiere</ng-template>
					<search-filter field="Suburbs" (filter)="onFilter($event)">
					</search-filter>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>Zielgruppen</ng-template>
					<search-filter field="TargetGroups" (filter)="onFilter($event)">
					</search-filter>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>Tags</ng-template>
					<search-filter field="Tags" (filter)="onFilter($event)">
					</search-filter>
				</mat-tab>
			</mat-tab-group>
		</mat-expansion-panel>
	</mat-card>
</menu>

<content>
	<mat-expansion-panel hideToggle="true" [expanded]="showResults">
		<mat-accordion>
			<ng-container *ngFor="let i of selectables | async">
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<canvas [style.background]="i.category.color"></canvas>
						<mat-panel-title>
							{{ i.name }}
						</mat-panel-title>
						<mat-panel-description>
							{{ i.category.name }}
						</mat-panel-description>
					</mat-expansion-panel-header>

					<ng-template matExpansionPanelContent>
						<p>{{ i.description }}</p>

						<mat-divider></mat-divider>

						<mat-list>
							<a mat-button color="primary" tabindex="-1"
								[routerLink]="['/activity', i.id]">
								<mat-list-item>
									<fa-icon mat-list-icon icon="map-marker-alt"></fa-icon>
									<div class="mat-list-text">
										<p mat-line>
											{{ i.address.street }}
											{{ i.address.house_number }}
										</p>
										<p mat-line>
											{{ i.address.postal_code }}
											{{ i.address.place }}
											{{ i.address.suburb?.name }}
										</p>
									</div>
								</mat-list-item>
							</a>

							<a mat-button color="primary" tabindex="-1"
								[routerLink]="['/organisation', i.provider.organisation.id]">
								<mat-list-item>
									<fa-icon mat-list-icon icon="home"></fa-icon>
									<div class="mat-list-text">
										<strong mat-line>Organisation</strong>
										<p mat-line>{{ i.provider.organisation.name }}</p>
									</div>
								</mat-list-item>
							</a>

							<ng-container *ngIf="i.show_user">
								<mat-list-item>
									<fa-icon mat-list-icon icon="user"></fa-icon>
									<div class="mat-list-text">
										<strong mat-line>Person</strong>
										<p mat-line>{{ i.provider.user.fullname }}</p>
									</div>
								</mat-list-item>
							</ng-container>

							<mat-list-item>
								<fa-icon mat-list-icon icon="calendar-alt"></fa-icon>
								<div class="mat-list-text">
									<strong mat-line>Termine</strong>
									<ng-container *ngFor="let j of i.schedules">
										<p mat-line>
											{{ j.start_date | date:'EEEE, dd.MM.yyyy, HH:mm' }}
										</p>
									</ng-container>
								</div>
							</mat-list-item>
<!--

							<mat-list-item>
								<fa-icon mat-list-icon icon="building"></fa-icon>
								<div class="mat-list-text">
									<strong mat-line>Zielgruppen</strong>
									<ng-container *ngFor="let j of i.target_groups">
										<p mat-line>{{ j.name }}</p>
									</ng-container>
								</div>
							</mat-list-item>
 -->
<!--
							<mat-list-item>
								<fa-icon mat-list-icon icon="tags"></fa-icon>
								<div class="mat-list-text">
									<strong mat-line>Tags</strong>
									<ng-container *ngFor="let j of i.tags">
										<p mat-line>{{ j.name }}</p>
									</ng-container>
								</div>
							</mat-list-item>
-->
						</mat-list>
					</ng-template>
				</mat-expansion-panel>
			</ng-container>
		</mat-accordion>
	</mat-expansion-panel>
</content>
