mat-horizontal-stepper {
  background-color: transparent;
  width: 100%;

  mat-list-item {
    small,
    fa-icon {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  ::ng-deep {
    .mat-horizontal-stepper-header-container {
      margin-bottom: 16px;

      > mat-step-header {
        height: auto;
        padding: 16px;

        .mat-step-icon,
        .mat-step-icon-not-touched {
          margin: 0;
        }

        .mat-step-icon {
          align-items: center;
          display: flex;
          justify-content: center;
        }

        .mat-step-label {
          min-width: 0;

          > * {
            margin-left: 8px;
          }
        }
      }
    }

    .mat-horizontal-content-container {
      padding: 0;
    }
  }
}
