@import '../../../../app.theme.scss';

main {
  & > header {
    width: 100%;
    padding: 0 1rem;
    margin: 1rem auto;
    max-width: $viewport-width;

    & > mat-form-field {
      width: 15rem;
    }

    // TODO: https://github.com/angular/flex-layout/issues/1065
    @media screen and (min-width: 600px) {
      & > mat-form-field {
        flex-grow: 0 !important;
        width: 15rem !important;
      }
    }

    & > mat-chip-list {
      &::ng-deep {
        .mat-chip-list-wrapper {
          justify-content: center;
        }
      }

      mat-chip {
        cursor: pointer;
        border: .25rem solid;

        flex-grow: 1;
        justify-content: center;

        &:focus:not(:hover)::after {
          opacity: 0;
        }

        &:not(.mat-chip-selected) {
          background-color: transparent !important;
        }
      }
    }
  }

  & > section {
    margin: 0 auto;
    max-width: $viewport-width;

    aside {
      width: 33%;
      margin: 1rem;
      flex: 1 0 auto;

      & > div {
        height: 0;
        padding-top: 100%;
        position: relative;

        iframe {
          @include _mat-theme-overridable-elevation(1, $theme-palette);

          height: 100%;
          width: 100%;

          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;

          border: 0;
          border-radius: .25rem;

          color: $color-dark;
          background-color: $color-bg-light;
        }
      }
    }

    nav {
      width: 66%;
      flex: 1 0 auto;
    }
  }
}
