<scroll-view class="topoff">
  <stack-layout>
    <select-component
      [formControl]="suburbCtrl"
      [items]="suburbs"
      [multiple]="true">
      <absolute-layout ripple>
        <stack-layout [ngClass]="{ float: suburbCtrl.value?.length }">
          <icon-component icon="city"></icon-component>
          <i18n i18n="@@suburbs" unit="suburbs"></i18n>
        </stack-layout>
        <flexbox-layout>
          <label [text]="values(suburbs, suburbCtrl)"></label>
          <grid-layout></grid-layout>
        </flexbox-layout>
      </absolute-layout>
    </select-component>
    <select-component
      [formControl]="targetGroupCtrl"
      [items]="targetGroups"
      [multiple]="true">
      <absolute-layout ripple>
        <stack-layout [ngClass]="{ float: targetGroupCtrl.value?.length }">
          <icon-component icon="users"></icon-component>
          <i18n i18n="@@targetGroups" unit="targetGroups"></i18n>
        </stack-layout>
        <flexbox-layout>
          <label [text]="values(targetGroups, targetGroupCtrl)"></label>
          <grid-layout></grid-layout>
        </flexbox-layout>
      </absolute-layout>
    </select-component>
    <flexbox-layout>
      <ng-container *ngFor="let item of categories; let i = index">
        <stack-layout ripple
          [borderColor]="item.color"
          [style.backgroundColor]="has(item.id) ? item.color : null"
          [style.color]="has(item.id) ? color(item.color) : null"
          [visibility]="blank && i > 5 ? 'collapse' : 'visible'"
          (tap)="toggle(item.id)">
          <label [text]="item.name"></label>
        </stack-layout>
      </ng-container>
      <stack-layout ripple
        [visibility]="blank || categories.length < 5 ? 'visible' : 'collapse'"
        (tap)="blank = false">
        <icon-component icon="ellipsis-h"></icon-component>
      </stack-layout>
    </flexbox-layout>
    <ng-container *ngIf="(results | async) === false">
      <stack-layout>
        <icon-component icon="frown"></icon-component>
        <i18n i18n="@@notFoundError" unit="notFoundError"></i18n>
      </stack-layout>
    </ng-container>
    <ng-container *ngFor="let item of items | async">
      <grid-layout>
        <activity-card [item]="item"></activity-card>
      </grid-layout>
    </ng-container>
    <ng-container *ngIf="next || prev">
      <pager-component [next]="next" [prev]="prev"></pager-component>
    </ng-container>
  </stack-layout>
</scroll-view>
