<main>
  <header>
    <mat-form-field>
      <mat-label>
        <icon-compat icon="city"></icon-compat>
        <i18n i18n="@@suburbs">suburbs</i18n>
      </mat-label>
      <mat-select multiple [formControl]="suburbCtrl">
        <ng-container *ngFor="let item of suburbs">
          <mat-option [value]="item.id">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        <icon-compat icon="users"></icon-compat>
        <i18n i18n="@@targetGroups">targetGroups</i18n>
      </mat-label>
      <mat-select multiple [formControl]="targetGroupCtrl">
        <ng-container *ngFor="let item of targetGroups">
          <mat-option [value]="item.id">
            {{ item.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-chip-list multiple selectable>
      <ng-container *ngFor="let item of categories; let i = index">
        <mat-chip
          #chip="matChip"
          class="mat-body"
          [style.borderColor]="item.color"
          [style.backgroundColor]="item.color"
          [style.color]="chip.selected ? color(item.color) : null"
          [style.display]="ellipsis && i > 5 ? 'none' : null"
          [value]="item.id"
          (click)="chip.toggleSelected()">
          {{ item.name }}
        </mat-chip>
      </ng-container>
      <mat-chip
        #chip="matChip"
        class="mat-body"
        [style.display]="ellipsis || categories.length < 5 ? null : 'none'"
        (click)="ellipsis = false">
        <icon-compat icon="ellipsis-h"></icon-compat>
      </mat-chip>
    </mat-chip-list>
  </header>
  <section>
    <aside>
      <div><iframe #frame src="/mapview?embed"></iframe></div>
    </aside>
    <nav>
      <ng-container *ngFor="let item of items | async">
        <activity-card
          [item]="item"
          (mouseenter)="focus(item, $event)"
          (mouseleave)="focus(item, $event)">
        </activity-card>
      </ng-container>
      <ng-container *ngIf="next || prev">
        <pager-compat [next]="next" [prev]="prev"></pager-compat>
      </ng-container>
    </nav>
  </section>
</main>
