@import '../../../../app.vars.scss';

scroll-view {
  & > stack-layout {
    & > flexbox-layout {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: rem(.75) rem(.75) rem(-.25) rem(.75);

      & > [ripple] {
        border-radius: rem(1);
        border-width: rem(.25);
        flex-grow: 1;
        margin: rem(.25);

        & > label {
          margin: rem(.25) rem(.5);
          text-align: center;
        }

        & > [icon] {
          height: rem(1.75);
          margin: 0 rem(1.5);
          width: rem(2);
        }
      }
    }

    absolute-layout {
      border-bottom-width: 1;
      border-color: $color-medium;
      height: rem(3);
      margin: rem(1) rem(1) 0 rem(1);

      & > flexbox-layout {
        align-items: center;
        flex-direction: row;
        height: rem(2);
        top: rem(1);
        width: 100%;

        & > label {
          flex-grow: 1;
          margin: rem(.25);
        }

        & > grid-layout {
          border-left-color: transparent;
          border-left-width: rem(.25);
          border-right-color: transparent;
          border-right-width: rem(.25);
          border-top-color: $color-medium;
          border-top-width: rem(.25);
          height: rem(.25);
          margin: rem(.25);
          width: rem(.5);
        }
      }

      & > stack-layout {
        color: $color-medium;
        orientation: horizontal;
        origin-x: 0;
        origin-y: 0;
        top: rem(1);

        &.float {
          transform: scale(.66, .66) translate(0, rem(-1));
        }

        & > [icon] {
          height: rem(2);
          vertical-align: center;
          width: rem(2);
        }

        & > [unit] {
          vertical-align: center;
        }
      }
    }
  }
}
