@import ../brand.scss

main#admin
  filter: grayscale(0)
  margin: 5rem auto
  max-width: calc(100% - 2rem)
  transition: filter $animation-duration
  width: 120rem

  &.disabled
    filter: grayscale(1)
    pointer-events: none

  & > mat-card
    padding-right: 0

    mat-sidenav-container
      background-color: transparent

      & > mat-sidenav
        background-color: $color-lightest

        mat-action-list > button
          border-right: 2px solid transparent
          color: $color-accent
          transition: border-right-color $animation-duration

          &.active
            border-right-color: $color-primary
            color: $color-primary

  header
    @include flex(column, normal, center)
    border-bottom: 1px solid $color-light
    color: $color-darker
    min-height: 2.5rem
    margin: 0
    padding: 1rem

    @include responsive(gt-sm)
      @include flex(row, normal, center)

      & > * + *
        margin-left: 1rem !important

    & > .mat-headline
      color: $color-darkest
      margin: 0

  [base=form]
    & > form
      & > section
        @include flex(row, normal, center)
        min-height: 4rem
        padding: 0 1rem

        @include responsive(lt-md)
          @include flex(column, normal, normal)

        & > label
          flex: 0 0 auto
          padding-right: 1rem
          width: 15rem

          @include responsive(lt-md)
            color: $color-darker
            transform: translateY(.25rem)

        & > nav
          @include flex(column, normal, stretch)

          @include responsive(gt-sm)
            @include flex(row, normal, center)

            & > * + *
              margin-left: 1rem

        & > output
          flex: 1 1 auto

          mat-chip-list
            & > .mat-chip-list-wrapper
              margin: 0

              & > mat-chip
                width: auto

                & > .mat-chip-remove
                  height: auto

          mat-form-field
            width: 100%

    & > mat-form-field
      width: 100%

      & > .mat-form-field-wrapper
        margin-bottom: -1.25rem

        & > .mat-form-field-flex
          padding: 0 1rem

  [base=panel]
    & > mat-tab-group
      mat-tab-body
        & > .mat-tab-body-content
          & > mat-divider
            position: static

          & > .mat-button-base
            margin: 1rem

            & + .mat-button-base
              margin-left: 0

      &#analytics
        mat-tab-body
          & > .mat-tab-body-content
            @include flex(wrap, center)

            & > h2
              color: $color-primary
              margin: 1rem
              width: 100%

            & > [base=chart]
              height: 20rem
              margin: 0 auto
              max-height: 50vh
              overflow: hidden
              width: calc(100% - 2rem)

  [base=stepper]
    & > .mat-button-base
      margin: 1rem

      & + .mat-button-base
        margin-left: 0

  [base=table]
    & > mat-form-field
      width: 100%

      .mat-input-element
        color: $color-accent

      & > .mat-form-field-wrapper
        margin-bottom: -1.25rem

        & > .mat-form-field-flex
          padding: 0 1rem

    & > mat-table
      background-color: inherit
      overflow: auto

      & > mat-form-field
        .mat-form-field-infix
          border-bottom-color: transparent
          border-bottom-style: solid
          border-width: .5rem

      & > mat-header-row
        min-width: calc(#{$viewport-width} / 1.5)

        & > mat-header-cell
          &:last-of-type
            @include flex(row, flex-end, center)

      & > mat-row
        min-width: calc(#{$viewport-width} / 1.5)

        & > mat-cell
          &:last-of-type
            @include flex(row, flex-end, center)

          & > slot
            & > *
              display: block
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap

    & > mat-paginator
      background-color: inherit
