<div>
	<div class="table-container mat-elevation-z8">
		<div class="tabel-header">
			<md-form-field floatPlaceholder="never">
				<input mdInput #filter placeholder="Filter users">
			</md-form-field>
		</div>

		<md-table #table [dataSource]="dataSource">

			<ng-container mdColumnDef="id">
				<md-header-cell *mdHeaderCellDef> ID </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="name">
				<md-header-cell *mdHeaderCellDef> name </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="description">
				<md-header-cell *mdHeaderCellDef> description </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row.description}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="schedule">
				<md-header-cell *mdHeaderCellDef> schedule </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row.schedule}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="show_user">
				<md-header-cell *mdHeaderCellDef> Contact is public </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row.show_user}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="street">
				<md-header-cell *mdHeaderCellDef> street </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row?.address?.street}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="housenumber">
				<md-header-cell *mdHeaderCellDef> housenumber </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row?.address?.housenumber}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="postalcode">
				<md-header-cell *mdHeaderCellDef> postalcode </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row?.address?.postalcode}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="place">
				<md-header-cell *mdHeaderCellDef> place </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row?.address?.place}} </md-cell>
			</ng-container>

			<ng-container mdColumnDef="tags">
				<md-header-cell *mdHeaderCellDef> tags </md-header-cell>
				<md-cell *mdCellDef="let row">
					<div *ngFor="let tag of row?.tags">
						{{tag.name}} <small>{{tag.description}}</small>
					</div>
				</md-cell>
			</ng-container>

			<ng-container mdColumnDef="category">
				<md-header-cell *mdHeaderCellDef> category </md-header-cell>
				<md-cell *mdCellDef="let row"> {{row?.category?.name}}
					<small>{{row?.category?.description}}</small>
				</md-cell>
			</ng-container>

			<ng-container mdColumnDef="targetgroups">
				<md-header-cell *mdHeaderCellDef> targetgroups </md-header-cell>
				<md-cell *mdCellDef="let row">
					<div *ngFor="let targetgroup of row?.targetgroups">
						{{targetgroup.name}} <small>{{targetgroup.description}}</small>
					</div>
				</md-cell>
			</ng-container>

			<md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
			<md-row *mdRowDef="let row; columns: displayedColumns;" (click)="selectActivity(row)"></md-row>
		</md-table>
		<md-paginator #paginator [length]="activitiesDatabase.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
		</md-paginator>
	</div>
	<button md-raised-button (click)="createActivity()">New Activity</button>
	<button md-raised-button (click)="deselectActivity()">cancel</button>
	<div *ngIf="selectedActivity">
		<form (ngSubmit)="onSubmitActivity()" class="well">
			<md-form-field class="form-control">
				<input mdInput name="name" type=text placeholder="name" [(ngModel)]="selectedActivity.name" value={{selectedActivity.name}}
				 id="actname_field">
			</md-form-field>

			<md-form-field class="form-control">
				<textarea mdInput name="description" placeholder="description" [(ngModel)]="selectedActivity.description" value={{selectedActivity.description}}
				 id="actdescription_field"></textarea>
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="schedule" type=datetime-local placeholder="schedule" value={{selectedActivity.schedule}} id="actschedule_field">
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="address" placeholder="address" [(ngModel)]="addressInput" id="actaddress_field">
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="street" placeholder="street" [(ngModel)]="selectedActivity.address.street" value={{selectedActivity?.address?.street}}
				 id="actstreet_field">
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="housenumber" placeholder="housenumber" [(ngModel)]="selectedActivity.address.housenumber" value={{selectedActivity?.address?.housenumber}}
				 id="acthousenumber_field">
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="place" placeholder="place" [(ngModel)]="selectedActivity.address.place" value={{selectedActivity?.addres?.place}}
				 id="actaddres_field">
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="postalcode" placeholder="postalcode" [(ngModel)]="selectedActivity.address.postalcode" value={{selectedActivity?.address?.postalcode}}
				 id="actaddres_field">
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="category" placeholder="category" [(ngModel)]="selectedActivity.category" value={{selectedActivity?.category?.name}}
				 id="actcategory_field">
			</md-form-field>

			<md-form-field class="form-control">
				<input mdInput name="show_user" placeholder="contact is public" [(ngModel)]="selectedActivity.show_user" value={{selectedActivity.show_user}}
				 id="actshowinstructor_field">
			</md-form-field>

			<md-form-field class="auto-completion-full-width">
				<input mdInput name="organisation" placeholder="organisation" aria-label="organisation" [formControl]="orgaCtrl" [mdAutocomplete]="auto">
				<md-autocomplete #auto="mdAutocomplete">
					<md-option *ngFor="let orga of filteredOrgas | async" [value]="orga.name">
						<span>{{orga.name}}</span> |
						<small>{{orga?.website}}</small>
					</md-option>
				</md-autocomplete>
			</md-form-field>
			<button md-raised-button type="submit">Submit</button>
		</form>
	</div>
</div>
