<h2>{{constants.dateTimeQuestion}}</h2>
<form [formGroup]="formGroup">
	<mat-card class="schedule-card">
		<div *ngIf="!schedules.length">
			<mat-grid-list cols="5" rowHeight="100px">
				<mat-grid-tile colspan="2" rowspan="1">
					<mat-form-field style="width:50px; margin:2px">
						<input matInput type="number" pattern="([01]?[0-9]|2[0-3])" placeholder={{constants.from}} formControlName="startTimeHourCtrl"
						 name="start_time_hour" id="start_time_hour">
						<span matSuffix>:</span>
					</mat-form-field>
					<mat-form-field style="width:50px; margin:2px">
						<input matInput type="number" pattern="[0-5]?[0-9]" formControlName="startTimeMinuteCtrl" name="start_time_minute" id="start_time_minute">
					</mat-form-field>
					<mat-form-field style="width:50px; margin:2px">
						<input matInput type="number" pattern="([01]?[0-9]|2[0-3])" placeholder={{constants.to}} formControlName="endTimeHourCtrl"
						 name="end_time_hour" id="end_time_hour">
						<span matSuffix>:</span>
					</mat-form-field>
					<mat-form-field style="width:50px; margin:2px">
						<input matInput type="number" pattern="[0-5]?[0-9]" formControlName="endTimeMinuteCtrl" name="end_time_minute" id="end_time_minute">
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile colspan="2" rowspan="1">
					<div>
						<mat-form-field>
							<input matInput [matDatepicker]="pickerStartDate" formControlName="startDateCtrl" placeholder={{constants.begin}} name="schedule_start_by">
							<mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
							<mat-datepicker #pickerStartDate></mat-datepicker>
						</mat-form-field>
						<mat-form-field>
							<input matInput [matDatepicker]="pickerEndDate" formControlName="endDateCtrl" placeholder={{constants.end}} name="schedule_end_by">
							<mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
							<mat-datepicker #pickerEndDate></mat-datepicker>
						</mat-form-field>
					</div>
				</mat-grid-tile>

				<mat-grid-tile colspan="1" rowspan="1">
					<h3>{{ constants.infos }}</h3>
				</mat-grid-tile>

				<mat-grid-tile colspan="1" rowspan="1">
					<mat-form-field style="width: 50%">
						<mat-select formControlName="rythmUnitCtrl">
							<mat-option value="unique">
								{{constants.unique}}
							</mat-option>
							<mat-option value="days">
								{{constants.daily}}
							</mat-option>
							<mat-option value="weeks">
								{{constants.weekly}}
							</mat-option>
							<mat-option value="months">
								{{constants.monthly}}
							</mat-option>
							<mat-option value="years">{{constants.yearly}}</mat-option>
						</mat-select>
					</mat-form-field>
				</mat-grid-tile>

				<mat-grid-tile colspan="3" rowspan="2">
					<div *ngIf="formGroup.controls.rythmUnitCtrl.value != 'unique'">
						<mat-form-field>
							<span matPrefix>{{constants.every}} &nbsp;</span>
							<mat-select formControlName="rythmPeriodCtrl">
								<mat-option *ngFor="let day of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [value]="day">{{day}}</mat-option>
							</mat-select>
							<span matSuffix>{{constants.suffixAmount}} &nbsp;</span>
						</mat-form-field>
						<div [ngSwitch]="formGroup.controls.rythmUnitCtrl.value">
							<span *ngSwitchCase="'days'">
								{{constants.day}}
							</span>
							<span *ngSwitchCase="'weeks'">
								<span> Woche </span>
								<mat-form-field>
									<span matPrefix>{{constants.followingWeekdays}}: </span>
									<mat-select placeholder={{constants.weekdays}} formControlName="weekdaysCtrl" multiple>
										<mat-option *ngFor="let weekDayIndex of [0,1,2,3,4,5,6]" [value]="weekDayIndex">
											{{constants.weekDaysArray[weekDayIndex]}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</span>
							<span *ngSwitchCase="'months'" style="
												display: block;
												width: 25%;">
								<div>{{constants.month}}</div>
								<mat-radio-group formControlName="monthlyRecurrenceCtrl" style="margin: 5px; text-align: center;">
									<mat-radio-button value="monthDate" style="margin-top: 5px;">{{constants.at}}
										<mat-select formControlName="monthDateCtrl" style="width: 100px">
											<mat-option *ngFor="let day of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" [value]="day">
												{{day}}{{constants.suffixNumber}}
											</mat-option>
										</mat-select>
										{{constants.everyMonth}}
									</mat-radio-button>
									<mat-radio-button value="weekDay" style="margin-top: 5px;">
										jeden
										<mat-select formControlName="weekdayNumberCtrl" style="width: 100px">
											<mat-option *ngFor="let day of [1,2,3,4,5]" [value]="day">
												{{day == 5 ? constants.last : day + constants.suffixNumber}}
											</mat-option>
										</mat-select>
										<mat-select placeholder={{constants.weekDaysArray[0]}} formControlName="weekdaysCtrl" multiple>
											<mat-option *ngFor="let weekDayIndex of [0,1,2,3,4,5,6]" [value]="weekDayIndex">
												{{constants.weekDaysArray[weekDayIndex]}}
											</mat-option>
										</mat-select>
									</mat-radio-button>
								</mat-radio-group>
							</span>
							<span *ngSwitchCase="'years'">{{constants.year}}</span>
						</div>
					</div>
				</mat-grid-tile>

				<mat-grid-tile colspan="1" rowspan="2">
					{{constants.scheduleInfo}}
				</mat-grid-tile>
				<mat-grid-tile colspan="1" rowspan="1">
					<button mat-raised-button type="button" color="primary" (click)="generateSchedules()" mat-button>{{constants.create}} {{constants.dates}}</button>
				</mat-grid-tile>

			</mat-grid-list>
		</div>
		<div *ngIf="schedules.length" style="overflow: hidden;">
			<div style="overflow-y: scroll; height: 400px;">
				<h2>{{constants.pleaseControl}} {{constants.scheduleListExplanation}}
				</h2>
				<mat-accordion>
					<div *ngFor="let schedule of schedules; index as i">
						<mat-expansion-panel [expanded]="panelNumber === i" (opened)="declerateDateForms(i)" hideToggle="true">
							<mat-expansion-panel-header>
								<mat-panel-title>
									{{ schedules[i].toString }}
								</mat-panel-title>
								<mat-panel-description>
									{{constants.change}}
								</mat-panel-description>
							</mat-expansion-panel-header>
							<div>
								<mat-form-field>
									<input matInput [matDatepicker]="pickerStartDate" name="schedule_start_by" [formControl]="currentStartDate" placeholder={{constants.from}}>
									<mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
									<mat-datepicker #pickerStartDate></mat-datepicker>
								</mat-form-field>
								<mat-form-field>
									<input matInput type="number" name="curr_start_time_hour" max="23" min="0" [formControl]="currentStartTimeHour" id="currentStratTimeHour">
								</mat-form-field>:
								<mat-form-field>
									<input matInput type="number" name="curr_start_time_minute" max="59" min="0" [formControl]="currentStartTimeMinute" id="currentStratTimeMinute">
								</mat-form-field>
							</div>
							<div>
								<mat-form-field>
									<input matInput [matDatepicker]="pickerEndDate" name="schedule_end_by" [formControl]="currentEndDate" placeholder={{constants.to}}>
									<mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
									<mat-datepicker #pickerEndDate></mat-datepicker>
								</mat-form-field>
								<mat-form-field>
									<input matInput type="number" name="curr_end_time_hour" max="23" min="0" [formControl]="currentEndTimeHour" id="currentEndTimeHour">
								</mat-form-field>
								<mat-form-field>
									<input matInput type="number" name="curr_end_time_minute" max="59" min="0" [formControl]="currentEndTimeMinute" id="currentEndTimeMinute">
								</mat-form-field>
								<button mat-raised-button type="button" (click)="changeDate(i)">{{constants.change}}</button>
								<button mat-raised-button type="button" (click)="removeDateEntry(i)">{{constants.delete}}</button>
							</div>
						</mat-expansion-panel>
					</div>
				</mat-accordion>
			</div>
			<div>
				<button mat-raised-button color="warn" type="button" (click)="removeCompleteSchedule()">{{constants.deleteAll}}</button>
				<button mat-raised-button type="button" (click)="addOneSchedule()">{{constants.create + ' ' + constants.date}}</button>
			</div>
		</div>
	</mat-card>
	<button type="button" mat-button matStepperPrevious>{{constants.previous}}</button>
	<button type="button" mat-raised-button color="primary" [disabled]="formGroup.invalid" matStepperNext>{{constants.next}}</button>
</form>
