<h2>{{constants.dateTimeQuestion}}</h2>
<form [formGroup]="formGroup">
	<div class="container-fluid" *ngIf="!schedules.length">
		<div class="row">
			<!-- col for entering data -->
			<div class="col">
				<!-- row 1: Time of day -->
				<div class="row">
					<div class="col">
						{{constants.timeOfDay}}:
					</div>
					<div class="col">
						<!-- Hour to start -->
						{{constants.from}}:
						<mat-form-field class="form-small">
							<input matInput required type="number" pattern="([01]?[0-9]|2[0-3])" placeholder={{constants.hours}} formControlName="startTimeHourCtrl"
							 name="start_time_hour" id="start_time_hour">
							<span matSuffix>:</span>
						</mat-form-field>
						<!-- Minutes start -->
						<mat-form-field required class="form-small">
							<input matInput type="number" pattern="[0-5]?[0-9]" placeholder={{constants.minutes}} formControlName="startTimeMinuteCtrl"
							 name="start_time_minute" id="start_time_minute">
						</mat-form-field>
					</div>
					<div class="col">
						<!-- hour end -->
						{{constants.to}}:
						<mat-form-field class="form-small">
							<input matInput required type="number" pattern="([01]?[0-9]|2[0-3])" placeholder={{constants.hours}} formControlName="endTimeHourCtrl"
							 name="end_time_hour" id="end_time_hour">
							<span matSuffix>:</span>
						</mat-form-field>
						<!-- minutes end -->
						<mat-form-field class="form-small">
							<input matInput required type="number" pattern="[0-5]?[0-9]" placeholder={{constants.minutes}} formControlName="endTimeMinuteCtrl"
							 name="end_time_minute" id="end_time_minute">
						</mat-form-field>
					</div>
				</div>
				<!-- row 2: date (day) -->
				<div class="row">
					<div class="col">
						{{constants.dateTime}}:
					</div>
					<div class="col">
						<mat-form-field>
							<input matInput required [matDatepicker]="pickerStartDate" formControlName="startDateCtrl" placeholder={{constants.begin}}
							 name="schedule_start_by" readonly>
							<mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
							<mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="col">
						<mat-form-field>
							<input matInput required [matDatepicker]="pickerEndDate" formControlName="endDateCtrl" placeholder={{constants.end}} name="schedule_end_by"
							 readonly>
							<mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
							<mat-datepicker #pickerEndDate disabled="false"></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col align-self-start">
						<mat-form-field>
							<mat-select formControlName="rythmUnitCtrl">
								<mat-option value="unique">
									{{constants.unique}}
								</mat-option>
								<mat-option value="days">
									{{constants.daily}}
								</mat-option>
								<mat-option value="weeks">
									{{constants.weekly}}
								</mat-option>
								<mat-option value="months">
									{{constants.monthly}}
								</mat-option>
								<mat-option value="years">{{constants.yearly}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

					<div class="col">
						<!-- if rythm is not unique this area appears-->
						<mat-card *ngIf="formGroup.controls.rythmUnitCtrl.value != 'unique'">
							<!-- prefix -->
							<div class="row">
								<div class="col-md-auto">
									<mat-form-field>
										<mat-select formControlName="rythmPeriodCtrl">
											<mat-option *ngFor="let rythm of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [value]="rythm">
												{{rythm == 1 ? constants.every + ' ' : constants.every + ' ' + rythm + constants.suffixAmount}}
											</mat-option>
										</mat-select>
										<span matSuffix>
											<span [ngSwitch]="formGroup.controls.rythmUnitCtrl.value">
												<span *ngSwitchCase="'days'">
													{{constants.day}}
												</span>
												<span *ngSwitchCase="'weeks'">
													{{constants.week}}
												</span>
												<span *ngSwitchCase="'months'">
													{{constants.month}}
												</span>
												<span *ngSwitchCase="'years'">{{constants.year}}</span>
											</span>
										</span>
									</mat-form-field>
								</div>
							</div>
							<!-- rythm specific area -->
							<div class="row">
								<div class="col-md-auto" [ngSwitch]="formGroup.controls.rythmUnitCtrl.value">
									<div *ngSwitchCase="'weeks'">
										<mat-form-field>
											<span matPrefix>{{constants.followingWeekdays}}: </span>
											<mat-select placeholder={{constants.weekdays}} formControlName="weekdaysCtrl" multiple>
												<mat-option *ngFor="let weekDayIndex of [0,1,2,3,4,5,6]" [value]="weekDayIndex">
													{{constants.weekDaysArray[weekDayIndex]}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div *ngSwitchCase="'months'">
										<mat-radio-group formControlName="monthlyRecurrenceCtrl">
											<mat-radio-button class="col" value="monthDate">{{constants.at}}
												<mat-select formControlName="monthDateCtrl">
													<mat-option *ngFor="let day of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" [value]="day">
														{{day}}{{constants.suffixNumber}}
													</mat-option>
												</mat-select>
												{{constants.everyMonth}}
											</mat-radio-button>
											<mat-radio-button class="col" value="weekDay">
												{{constants.every}}
												<mat-select formControlName="weekdayNumberCtrl">
													<mat-option *ngFor="let day of [1,2,3,4,5]" [value]="day">
														{{day == 5 ? constants.last : day + constants.suffixNumber}}
													</mat-option>
												</mat-select>
												<mat-select placeholder={{constants.weekDaysArray[0]}} formControlName="weekdaysCtrl" multiple>
													<mat-option *ngFor="let weekDayIndex of [0,1,2,3,4,5,6]" [value]="weekDayIndex">
														{{constants.weekDaysArray[weekDayIndex]}}
													</mat-option>
												</mat-select>
											</mat-radio-button>
										</mat-radio-group>
									</div>
								</div>
							</div>
						</mat-card>
					</div>
				</div>
			</div>
			<!-- explenation col -->
			<div class="col col-lg-2">
				{{constants.scheduleInfo}}
			</div>
			<!-- row main content -->
		</div>
		<div class="row">
			<div class="col align-self-start">
				<button class="btn btn-primary" type="button" [disabled]="formGroup.invalid" (click)="generateSchedules()">{{constants.create}} {{constants.dates}}</button>
			</div>
		</div>
	</div>
	<div *ngIf="schedules.length" style="overflow: hidden;">
		<div style="overflow-y: scroll; height: 400px;">
			<h2>{{constants.pleaseControl}} {{constants.scheduleListExplanation}}
			</h2>
			<mat-accordion>
				<div *ngFor="let schedule of schedules; index as i">
					<mat-expansion-panel [expanded]="panelNumber === i" (opened)="declerateDateForms(i)" hideToggle="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{ schedules[i].toString }}
							</mat-panel-title>
							<mat-panel-description>
								{{constants.change + '/' + constants.delete}}
							</mat-panel-description>
						</mat-expansion-panel-header>
						<form [formGroup]="currScheduleFormGroup">
							<div>
								<mat-form-field>
									<input matInput required [matDatepicker]="pickerStartDate" name="schedule_start_by" formControlName="currentStartDate" placeholder={{constants.from}}
									 readonly>
									<mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
									<mat-datepicker #pickerStartDate disabled="false"></mat-datepicker>
								</mat-form-field>
								<mat-form-field>
									<input matInput required type="number" name="curr_start_time_hour" max="23" min="0" formControlName="currentStartTimeHour"
									 id="currentStratTimeHour">
								</mat-form-field>:
								<mat-form-field>
									<input matInput required type="number" name="curr_start_time_minute" max="59" min="0" formControlName="currentStartTimeMinute"
									 id="currentStratTimeMinute">
								</mat-form-field>
							</div>
							<div>
								<mat-form-field>
									<input required matInput [matDatepicker]="pickerEndDate" name="schedule_end_by" formControlName="currentEndDate" placeholder={{constants.to}}
									 readonly>
									<mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
									<mat-datepicker #pickerEndDate disabled="false"></mat-datepicker>
								</mat-form-field>
								<mat-form-field>
									<input required matInput type="number" name="curr_end_time_hour" max="23" min="0" formControlName="currentEndTimeHour" id="currentEndTimeHour">
								</mat-form-field>:
								<mat-form-field>
									<input required matInput type="number" name="curr_end_time_minute" max="59" min="0" formControlName="currentEndTimeMinute"
									 id="currentEndTimeMinute">
								</mat-form-field>
								<button class="btn btn-secondary" [disabled]="currScheduleFormGroup.invalid" (click)="changeDate(i)">{{constants.change}}</button>
								<button class="btn btn-danger" type="button" (click)="removeDateEntry(i)">{{constants.delete}}</button>
							</div>
						</form>
					</mat-expansion-panel>
				</div>
			</mat-accordion>
		</div>
		<div>
			<button class="btn btn-danger" type="button" (click)="removeCompleteSchedule()">{{constants.deleteAll}}</button>
			<button class="btn btn-primary" type="button" (click)="newEntry()">{{constants.create + ' ' + constants.additional + ' ' + constants.date}}</button>
		</div>
	</div>
	<button type="button" class="btn btn-secondary" matStepperPrevious>{{constants.previous}}</button>
	<button type="button" class="btn btn-primary" color="primary" [disabled]="schedulesCtrl.invalid" matStepperNext>{{constants.next}}</button>
</form>
