<div fxLayout="column" fxLayoutGap="30px">
  
  <div fxLayout="column">
    <div class="header background-color-secondary">
      <div>
        <h2 id="headline"><i18n i18n="@@newActivity">newActivity</i18n>Neue Veranstaltungen <br> in Wuppertal</h2>
      </div>
      <div class="roundPin background-color-primary" fxHide.lt-md="true">
        <div id="landingPageBadge">Willkommen bei Wupp'n'go deinem online Event-Portal!</div>
      </div>
    </div>
    <ng-container *ngIf="activities && activities.length">
      <div id="activity-carousel" class="background-color-secondary">
        <activity-carousel-component [activities]="activities"></activity-carousel-component>
      </div>
    </ng-container> 
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" 
    fxLayoutAlign="space-evenly center">
    <div fxFlex="45">
      <h2>Die Geschichte des Wupportals</h2>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum.
      </div>
    </div>
    <div fxFlex="45">
      <img class="aboutImage" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>
  </div>

</div>
