<div class="enable-pointer">
	<span>{{activity.name}} details!</span>
	<label>Category: </label> {{activity.category.name}}
	<label>Description: </label> {{activity.description}}
	<label>Schedule: </label> {{activity.schedule}}
	<label>Provider: </label>
	<div>
		Hier kommt der Provider rein
	</div>
	<label>Address: </label>
	<div>
		Hier kommt die Adrdesse rein
	</div>
	<label>Provider: </label>
	<div>
		<button md-raised-button (click)="onSelectOrganisation()">{{activity.provider.organisation.name}}</button>
	</div>
</div>
