<div class="enable-pointer">
	<header>
		<figure>
			<img src="/img/organisation.svg">
			<figcaption>{{activity.provider.organisation.name}}</figcaption>
		</figure>
	</header>

	<h1>{{activity.name}}</h1>

	<dl>
		<dt>Organisation</dt>
		<dd>{{activity.provider.organisation.name}}</dd>

		<dt>Provider</dt>
		<dd>{{activity.provider.user?.fullname}}</dd>

	  <dt>Category</dt>
	  <dd>{{activity.category.name}}</dd>

		<dt>Description</dt>
		<dd>{{activity.description}}</dd>

		<dt>Schedule</dt>
		<dd>{{activity.schedule}}</dd>

		<dt>Address</dt>
		<dd>{{activity.address.street}} {{activity.address.houseNumber}}</dd>
		<dd>{{activity.address.postalCode}} {{activity.address.place}}</dd>
	  <dd>{{activity.address.suburb?.name}}</dd>
	</dl>

	<!-- <button md-raised-button (click)="onSelectOrganisation()">{{activity.provider.organisation.name}}</button> -->
</div>
