.enable-pointer {
	pointer-events: all;
	font-family: sans-serif;
}

figure {
	margin: 0;
}

figcaption {
	text-align: center;
	font-style: italic;
}

img {
	max-width: 100%;
}

h1 {
	text-align: center;
}

dl {
	margin: 25px;
}

dt {
	font-weight: bold;
}

dd + dt {
	margin-top: 25px;
}
