@import '../../../app.theme.scss';

mat-card {
  max-width: calc(100% - 2rem);

  & > mat-card-header {
    &::ng-deep {
      .mat-card-header-text {
        margin: 0;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  & > mat-card-actions {
    margin-bottom: -.5rem;
    padding-bottom: 0;

    icon-compat {
      padding-right: .5rem;
    }
  }
}
