@import '../../../app.vars.scss';

grid-layout {
  width: 100%;

  & > stack-layout {
    @include elevation;
    width: 100%;

    & > stack-layout {
      &.card-title {
        font-size: rem(1.25);
        padding: rem(1);

        & > label {
          .small {
            font-size: rem(1);
          }
        }
      }

      &.card-subtitle {
        color: $color-darker;
        font-size: rem(.75);
        padding: 0 rem(1);
      }

      &.card-content {
        font-size: rem(.75);
        padding: rem(1);

        & > stack-layout {
          orientation: horizontal;
        }
      }
    }

    & > .card-actions {
      border-top-color: $color-light;
      border-top-width: 1;
      color: $color-darkest;

      & > stack-layout {
        orientation: horizontal;
        padding: rem(.5);
      }
    }
  }
}
