@import '../../../app.vars.scss';

absolute-layout {
  margin: rem(1);
  width: 100%;

  & > stack-layout {
    @include elevation;
    width: 100%;

    & > .card-title {
      font-size: rem(1.25);
      padding: rem(1);

      .small {
        font-size: rem(1);
      }
    }

    & > .card-subtitle {
      color: $color-medium;
      font-size: rem(.75);
      padding: 0 rem(1);
    }

    & > .card-content {
      font-size: rem(.75);
      padding: rem(1);

      & > stack-layout {
        orientation: horizontal;

        & > label + label {
          padding-left: rem(.25);
        }
      }
    }

    & > .card-actions {
      border-top-color: $color-bg-light;
      border-top-width: 1;
      color: $color-dark;
      orientation: horizontal;
      padding: rem(.5);

      & > stack-layout {
        border-radius: rem(.25);
        font-size: 14;
        orientation: horizontal;
        padding: rem(.25) rem(1) rem(.25) rem(.25);

        & > [unit] {
          vertical-align: center;
        }

        & > [icon] {
          height: 28;
          width: 30;
        }
      }
    }
  }
}
