@import '../../../app.theme.scss';

:host {
  max-width: calc(100% - 2rem);
  padding: 1rem;

  & mat-card {
    box-sizing: border-box;
    max-width: 100%;

    & > mat-card-header {
      @include deep {
        & > .mat-card-header-text {
          margin: 0;
        }
      }

      & a {
        color: inherit;
        text-decoration: none;
      }
    }

    & > mat-card-actions {
      margin-bottom: -.5rem;
      padding-bottom: 0;

      & > [mat-button] {
        margin: 0;

        & > .mat-badge-content {
          top: 0;
        }

        & [compat=icon] {
          padding-right: .5rem;
        }
      }
    }
  }
}
