mat-list mat-list-item {
	height: auto;
	min-height: 48px;
}
mat-list a[mat-button] {
	display: block;
	line-height: inherit;
	padding: 0;
	text-align: inherit;
}
mat-list a[mat-button] mat-list-item {
	color: inherit;
}
mat-list em {
	display: block;
}
mat-list fa-icon {
  fill: transparent;
  text-align: center;
}
mat-list fa-icon::ng-deep path {
	fill: inherit;
	stroke: currentColor;
	stroke-width: 24px;
}
mat-list mat-icon {
	height: auto;
	margin: 1em 0;
	width: 66.6%;
}
mat-list p.hyphenate {
	hyphens: auto;
}

.mat-subheader {
  font-weight: bold;
}
.comma {
	float: left;
}
.comma::after {
  content: ',\00a0';
}
.comma:last-of-type::after {
  content: none;
}

.col {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.landingpageCard{
	width: 75%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.landingpageImage{
	width: 70%;
}

.landingpageIcon {
	width: 20%;
}
