<ng-template #header>
	<slot i18n="@@aboutOrganisation">Organisations-Details</slot>
</ng-template>

<mat-list>
	<mat-list-item>
		<h3>{{ item.name }}</h3>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">{{ item.description }}</p>
	</mat-list-item>

	<mat-divider></mat-divider>

	<h4 mat-subheader>
		<slot i18n="@@general">Allgemein</slot>
	</h4>

	<ng-container *ngIf="item.address">
		<mat-list-item>
			<fa-icon mat-list-icon icon="map-marker-alt"></fa-icon>
			<div class="mat-list-text">
				<p mat-line>
					{{ item.address.street }}
					{{ item.address.house_number }}
				</p>
				<p mat-line>
					{{ item.address.postal_code }}
					{{ item.address.place }}
					{{ item.address.suburb?.name }}
				</p>
			</div>
		</mat-list-item>
	</ng-container>

	<ng-container *ngIf="item.website">
		<a mat-button color="primary" tabindex="-1" target="_blank"
			[href]="item.website">
			<mat-list-item>
				<fa-icon mat-list-icon icon="star"></fa-icon>
				<div class="mat-list-text">
					<strong mat-line>
						<slot i18n="@@website">Internetpräsenz</slot>
					</strong>
					<p mat-line>{{ item.website }}</p>
				</div>
			</mat-list-item>
		</a>
	</ng-container>

	<ng-container *ngIf="item.mail || item.phone || item.website">
		<mat-divider></mat-divider>

		<h4 mat-subheader>
			<slot i18n="@@contact">Kontakt</slot>
		</h4>

		<ng-container *ngIf="item.mail">
			<a mat-button color="primary" tabindex="-1"
				[href]="'mailto:' + item.mail">
				<mat-list-item>
					<fa-icon mat-list-icon icon="envelope"></fa-icon>
					<div class="mat-list-text">
						<strong mat-line>
							<slot i18n="@@contactMail">E-Mail-Kontakt</slot>
						</strong>
						<p mat-line>{{ item.mail }}</p>
					</div>
				</mat-list-item>
			</a>
		</ng-container>

		<ng-container *ngIf="item.phone">
			<a mat-button color="primary" tabindex="-1"
				[href]="'tel:' + item.phone">
				<mat-list-item>
					<fa-icon mat-list-icon icon="phone"></fa-icon>
					<div class="mat-list-text">
						<strong mat-line>
							<slot i18n="@@contactPhone">Telefon-Kontakt</slot>
						</strong>
						<p mat-line>{{ item.phone }}</p>
					</div>
				</mat-list-item>
			</a>
		</ng-container>
	</ng-container>
</mat-list>
