<ng-template #header>
	<slot i18n="@@aboutWupportal">Über das Wupportal</slot>
</ng-template>

<mat-list>
	<mat-list-item>
		<h3><slot i18n="@@publicAgencies">Öffentliche Träger</slot></h3>
	</mat-list-item>

	<h4 mat-subheader>Zentrum für Integration, Bildung u. kulturelle Vielfalt</h4>

	<mat-list-item>
		<mat-icon svgIcon="kommzent"></mat-icon>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">
			Das Zentrum Integration und Bildung ist das fachliche Herzstück im Ressort
			Zuwanderung und Integration. In dem Zentrum werden neue Konzepte und
			Handlungswege entwickelt, erprobt und bei Erfolg im Einvernehmen mit der
			zuständigen Stelle implementiert.
		</p>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1" target="_blank"
		href="http://www.integration-in-wuppertal.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="star"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<slot i18n="@@website">Internetpräsenz</slot>
				</strong>
				<p mat-line>www.integration-in-wuppertal.de</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1"
		href="tel:+492025632750">
		<mat-list-item>
			<fa-icon mat-list-icon icon="phone"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<slot i18n="@@contactPhone">Telefon-Kontakt</slot>
				</strong>
				<p mat-line>(+49) 202 5632750</p>
			</div>
		</mat-list-item>
	</a>

	<mat-divider></mat-divider>

	<h4 mat-subheader>TransZent</h4>

	<mat-list-item>
		<mat-icon svgIcon="transzent"></mat-icon>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">
			TransZent ist ein Interdisziplinäres Zentrum der Bergischen Universität
			Wuppertal (BUW), das im Oktober 2013 von der BUW und dem Wuppertal
			Institut für Klima, Umwelt, Energie gGmbH in Kooperation gegründet wurde.
		</p>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1" target="_blank"
		href="https://www.transzent.uni-wuppertal.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="star"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<slot i18n="@@website">Internetpräsenz</slot>
				</strong>
				<p mat-line>www.transzent.uni-wuppertal.de</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:transzent@uni-wuppertal.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="envelope"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<slot i18n="@@contactMail">E-Mail-Kontakt</slot>
				</strong>
				<p mat-line>transzent@uni-wuppertal.de</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1"
		href="tel:+4920274746440">
		<mat-list-item>
			<fa-icon mat-list-icon icon="phone"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<slot i18n="@@contactPhone">Telefon-Kontakt</slot>
				</strong>
				<p mat-line>(+49) 202 74746440</p>
			</div>
		</mat-list-item>
	</a>

	<mat-divider></mat-divider>

	<mat-list-item>
		<h3><slot i18n="@@orgaRealisation">Organisatorische Umsetzung</slot></h3>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">
			Die folgenden Personen haben maßgeblich an der organisationellen
			Betreuung, Beratung und damit Umsetzung dieses Portals mitgewirkt.
		</p>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:sonja.noderer@stadt.wuppertal.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Sonja Noderer</strong>
				<p mat-line>
					<slot i18n="@@municipalSupport">Städtische Betreuung</slot>
				</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:mathiaszyk@wohlstandstransformation.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Dr. Laura Mathiaszyk</strong>
				<p mat-line>
					<slot i18n="@@academicSupport">Akademische Betreuung</slot>
				</p>
			</div>
		</mat-list-item>
	</a>

	<mat-divider></mat-divider>

	<mat-list-item>
		<h3><slot i18n="@@techRealisation">Technische Umsetzung</slot></h3>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">
			Die technische Umsetzung dieses Portals wurde im Rahmen des ehrenamtlichen
			Engagements der Folgenden Personen vollzogen.
		</p>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:valmir.e@gmx.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Valmir Etemi</strong>
				<p mat-line>valmir.e@gmx.de</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:me@phil.re">
		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Philip Schildkamp</strong>
				<p mat-line>me@phil.re</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:pseipel@web.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Peter Seipel</strong>
				<p mat-line>pseipel@web.de</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1" target="_blank"
		href="https://github.com/codeschluss/wupportal">
		<mat-list-item>
			<fa-icon mat-list-icon icon="code"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Wupportal Code-Repository</strong>
				<p mat-line>github.com/codeschluss/wupportal</p>
			</div>
		</mat-list-item>
	</a>

	<mat-list-item>
		<h3><slot i18n="@@specialThanks">Besonderer Dank</slot></h3>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">
			Die Genannten haben in besonderer Weise dazu beigetragen, dass dieses
			Portal zu Stande kommen konnte, waren jedoch nicht oder in nur geringem
			Maße an der praktischen Umsetzung beteiligt.
		</p>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:oeide@uni-koeln.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Prof. Dr. Øyvind Eide</strong>
				<p mat-line>
					<slot i18n="@@academicPatronage">Akademische Schirmherrschaft</slot>
				</p>
			</div>
		</mat-list-item>
	</a>

	<a mat-button color="primary" tabindex="-1"
		href="mailto:jens.klussmann@stadt.wuppertal.de">
		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Jens Klußmann</strong>
				<p mat-line>
					<slot i18n="@@projectSupport">Projektbegleitung</slot>
				</p>
			</div>
		</mat-list-item>
	</a>

	<mat-divider></mat-divider>

	<mat-list-item>
		<h3><slot i18n="@@activityProviders">Kooperationspartner</slot></h3>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">
			Das Wupportal bietet freien Trägern, Bildungseinrichtungen,
			Geflüchteteninitiativen und Migrierten-Organisationen die Möglichkeit
			einen informativen Steckbrief zu hinterlegen und Angebote zu schalten.
		</p>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1" [routerLink]="['/login']">
		<mat-list-item>
			<fa-icon mat-list-icon icon="unlock-alt"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Administration</strong>
				<p mat-line>Redaktionelle Schnittstelle</p>
			</div>
		</mat-list-item>
	</a>

	<mat-divider></mat-divider>

	<mat-list-item>
		<h3><slot i18n="@@legalNotices">Rechtliche Hinweise</slot></h3>
	</mat-list-item>

	<ng-container *ngIf="!showLegal">
		<a mat-button color="primary" tabindex="-1"
			(click)="showLegal = !showLegal">
			<mat-list-item>
				<fa-icon mat-list-icon icon="balance-scale"></fa-icon>
				<strong mat-line>Hinweise einblenden</strong>
				<p mat-line>Rechtliche Hinweise bzgl. TMG und DSGVO anzeigen</p>
			</mat-list-item>
		</a>
	</ng-container>

	<ng-container *ngIf="showLegal">
		<h4 mat-subheader>Angaben gemäß §5 TMG</h4>

		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Ansprechpartner</strong>
				<p mat-line>Zentrum für Integration, Bildung u. kulturelle Vielfalt</p>
			</div>
		</mat-list-item>

		<mat-list-item>
			<fa-icon mat-list-icon icon="map-marker-alt"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Anschrift</strong>
				<p mat-line>Friedrich-Engels-Allee 28, 42103 Wuppertal</p>
			</div>
		</mat-list-item>

		<mat-list-item>
			<p class="hyphenate">
				<em>Redaktionelle Hinweise</em>
				Alle redaktionellen Inhalte (Angebote, Textinhalte, etc.) dieser Website
				sind geistiges Eigentum und obliegen der Verantwortlichkeit der
				erstellenden und edierenden Personnen bzw. rechtlichen Körper.
			</p>
		</mat-list-item>

		<mat-divider></mat-divider>

		<h4 mat-subheader>Datenschutzerklärung gemäß DSGVO</h4>

		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Ansprechpartner</strong>
				<p mat-line>Zentrum für Integration, Bildung u. kulturelle Vielfalt</p>
			</div>
		</mat-list-item>

		<mat-list-item>
			<fa-icon mat-list-icon icon="key"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>Verschlüsste Datenübertragung</strong>
				<p mat-line>Diese Website nutzt moderne SSL-Verschlüsselung</p>
			</div>
		</mat-list-item>

		<mat-list-item>
			<p class="hyphenate">
				<em>Erfassung allgemeiner Informationen</em>
				Wenn Sie auf unsere Webseite zugreifen, werden automatisch Informationen
				allgemeiner Natur erfasst. Diese Informationen beinhalten etwa die Art
				Ihres Webbrowsers, Ihr verwendetes Betriebssystem, Ihre IP Adresse und
				Ähnliches. Hierbei handelt es sich ausschließlich um Informationen,
				welche keine Rückschlüsse auf Ihre Person zulassen. Diese Informationen
				sind technisch notwendig, um von Ihnen angeforderte Webinhalte korrekt
				auszuliefern und fallen bei Nutzung des Internets zwingend an. Anonyme
				Informationen dieser Art werden von uns statistisch ausgewertet, um
				unseren Internetauftritt und die dahinterstehende Technik zu optimieren
				und vor Schäden zu bewahren.
			</p>
		</mat-list-item>

		<mat-list-item>
			<p class="hyphenate">
				<em>Verwendung von OpenStreeMap</em>
				Diese Webseite verwendet OpenStreetMap zur Darstellung der Landkarten.
				Durch Ihre Nutzung werden somit Daten von Ihnen an die OpenStreetMaps
				Foundation übermittelt.  Nähere Informationen über die Datenverarbeitung
				durch die OpenStreeMap Foundation können Sie den entsprechenden
				Datenschutzhinweisen entnehmen.
			</p>
		</mat-list-item>

		<a mat-button color="primary" tabindex="-1" target="_blank"
			href="https://wiki.openstreetmap.org/wiki/Privacy_Policy">
			<mat-list-item>
				<fa-icon mat-list-icon icon="star"></fa-icon>
				<div class="mat-list-text">
					<strong mat-line>OpenStreeMap Datenschutzhinweise</strong>
					<p mat-line>wiki.openstreetmap.org/wiki/Privacy_Policy</p>
				</div>
			</mat-list-item>
		</a>

		<mat-list-item>
			<p class="hyphenate">
				<em>Nutzerrechte</em>
				Als Nutzende unserer Webseite haben Sie jederzeit die Möglichkeit uns
				gegenüber die Ihnen durch den Gesetzgeber zugesicherten Rechte geltend
				zu machen. Hierzu wenden Sie Sich bitte an den oben genannten
				Ansprechpartner für Datenschutz.
			</p>
		</mat-list-item>
		<mat-list-item>
			<ul>
				<li>Recht auf Widerruf Ihrer Einwilligung zur Datenverarbeitung
					(gem. Art. 7 Abs. 3 DSGVO)</li>
				<li>Recht auf Auskunft über alle von uns über Sie erhobenen Daten
					(gem. Art. 15 DSGVO)</li>
				<li>Recht auf Berichtigung aller von uns über Sie erhobenen Daten
					(gem. Art. 16 DSGVO)</li>
				<li>Recht auf Löschung aller von uns über Sie erhobenen Daten
					(gem. Art. 17 DSGVO)</li>
				<li>Recht auf Einschränkung der Verarbeitung ihrer Daten
					(gem. Art. 18 DSGVO)</li>
				<li>Recht auf Übertragbarkeit aller von uns über Sie erhobenen Daten
					(gem. Art. 20 DSGVO)</li>
				<li>Recht auf Widerspruch gegen unsere Verarbeitung Ihrer Daten
					(gem. Art. 21 DSGVO)</li>
			</ul>
		</mat-list-item>
		<mat-list-item>
			<p class="hyphenate">
				Darüber hinaus können Sie Sich (gem. Art. 77 DSGVO) im Beschwerdefall an
				eine entsprechende Aufsichtsbehörde wenden. Die Zuständigkeit richtet
				sich nach Bundesland, Arbeitsbereich und mutmaßlichem Verstoß. Für
				weitere Informationen und Beratung konsultieren Sie bitte die
				Dienststelle der Bundesbeauftragten für den Datenschutz und die
				Informationsfreiheit.
			</p>
		</mat-list-item>

		<mat-list-item>
			<p class="hyphenate">
				<em>Änderung unserer Datenschutzbestimmungen</em>
				Wir behalten uns vor, diese Datenschutzerklärung jederzeit anzupassen,
				damit stets allen aktuellen rechtlichen Anforderungen entsprochen wird
				oder um sie an Funktionserweiterungen dieser Applikation anzupassen.
				Für Ihren Besuch gilt stets die aktuellste Datenschutzerklärung.
			</p>
		</mat-list-item>
	</ng-container>
</mat-list>
