<ng-template #header>
	<div>
		Welcome
	</div>
</ng-template>

<mat-grid-list cols="2" rowHeight="3:1">
	<mat-grid-tile colspan="2" rowpan="1" style="color:white; background-color: #673ab7">
		<div style="text-align: center;">
			<h1>Ein Angebotsportal für Neubürger in Wuppertal</h1>
			<div class="landingpageCard">
				Das WupPortal richtet sich an Menschen, die neu in Wuppertal sind und hilft ihnen die kostenfreien und integrativen
				Angebote in der Stadt schnell und einfach zu finden.
			</div>
		</div>
	</mat-grid-tile>

	<mat-grid-tile>
		<div class="landingpageCard">
			<h1>Einfach und schnell</h1>
			<div>Alle Infos zu Veranstaltungen oder Organisationen findest du auf einer interaktiven Karte</div>
		</div>
	</mat-grid-tile>
	<mat-grid-tile>
		<img class="landingpageImage" src="/imgs/landingpage/mapWithPins.png" alt="map" />
	</mat-grid-tile>

	<mat-grid-tile class="landingpageCard">
		<div>
			<img class="landingpageImage" src="/imgs/categories/2df66737-ee93-41d4-b7aa-0f102779a4eb.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/4b1cc9af-7502-4168-8253-bbd52e363b94.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/7ca7777e-36e2-493a-a511-edc054fe9089.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/71ee4e4b-3535-4a7f-b2ec-04037a2f7e8b.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/bfaa18c3-5e38-4bab-b95a-1877bf8105aa.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/dc466f5a-741c-41e1-8456-8e28b98d9c99.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/e05362ae-2f75-4e26-99ab-4fcc57737809.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/f4fbb787-3dc4-44c7-bd12-3d07a67cdef4.svg" alt="icons" height="10%"
			 width="auto" />
			<img class="landingpageImage" src="/imgs/categories/fd7a97e1-6887-4c8d-ad09-09175e90e6d6.svg" alt="icons" height="10%"
			 width="auto" />
		</div>
	</mat-grid-tile>

	<mat-grid-tile>
		<div class="landingpageCard">
			<h1>Finde Angebote, die zu dir passen</h1>
			<div>
				Einfach nach Kategorien, Quartieren oder Zielgruppen filtern und nur die Veranstaltungen sehen, die du gerade
				brauchst.
			</div>
		</div>
	</mat-grid-tile>

	<mat-grid-tile>
		<div class="landingpageCard">
			<h1>Von überall erreichbar</h1>
			<div>
				Ob Zuhause, im Internetcafé oder auf dem Smartphone -
				Das Wupportal versorgt dich von überall mit den Infos zu den neusten Veranstaltungen.
			</div>
		</div>
	</mat-grid-tile>
	<mat-grid-tile><img class="landingpageImage" src="/imgs/landingpage/smartphone.png" alt="smartphone" /></mat-grid-tile>

	<mat-grid-tile><img class="landingpageImage" src="/imgs/landingpage/speechbubble.png" alt="speechbubble" /></mat-grid-tile>
	<mat-grid-tile>
		<div class="landingpageCard">
			<h1>In deiner Sprache</h1>
			<div>Das Wupportal kann nicht nur deinen Standort verwenden, sondern auch Inhalte in verschiedenen Sprachen
				anzeigen.
			</div>
		</div>
	</mat-grid-tile>

</mat-grid-list>
<mat-divider></mat-divider>
<div style="margin-top:20px;">
	<img height="auto" width="100%" src="/imgs/landingpage/sponsors.png" alt="sponsors" />
</div>
