<ng-template #header>
	<i18n i18n="@@aboutActivity">aboutActivity</i18n>
</ng-template>

<mat-list>
	<mat-list-item>
		<h3>{{ item.name }}</h3>
	</mat-list-item>

	<mat-list-item>
		<p class="hyphenate">{{ item.description }}</p>
	</mat-list-item>

	<mat-divider></mat-divider>

	<h4 mat-subheader>
		<i18n i18n="@@general">general</i18n>
	</h4>

	<mat-list-item>
		<fa-icon mat-list-icon icon="map-marker-alt"></fa-icon>
		<div class="mat-list-text">
			<p mat-line>
				{{ item.address.street }}
				{{ item.address.house_number }}
			</p>
			<p mat-line>
				{{ item.address.postal_code }}
				{{ item.address.place }}
				{{ item.address.suburb?.name }}
			</p>
		</div>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1"
		(click)="viewSchedules = !viewSchedules">
		<mat-list-item>
			<fa-icon mat-list-icon icon="calendar-alt"></fa-icon>
			<div class="mat-list-text">
				<ng-container *ngIf="viewSchedules">
					<strong mat-line>
						<i18n i18n="@@schedules">schedules</i18n>
					</strong>
					<ng-container *ngFor="let i of item.schedules">
						<p mat-line>
							{{ i.start_date | date:'dd.MM.yyyy, HH:mm':'UTC' }}
							&ndash;
							{{ i.end_date | date:'dd.MM.yyyy, HH:mm':'UTC' }}
						</p>
					</ng-container>
				</ng-container>

				<ng-container *ngIf="!viewSchedules">
					<strong mat-line>
						<i18n i18n="@@schedule">schedule</i18n>
					</strong>
					<p mat-line>
						{{ item.schedules[0].start_date | date:'dd.MM.yyyy, HH:mm':'UTC' }}
						&ndash;
						{{ item.schedules[0].end_date | date:'dd.MM.yyyy, HH:mm':'UTC' }}
					</p>
				</ng-container>
			</div>
		</mat-list-item>
	</a>

	<mat-divider></mat-divider>

	<h4 mat-subheader>
		<i18n i18n="@@classification">classification</i18n>
	</h4>

	<mat-list-item>
		<fa-icon mat-list-icon icon="bookmark" [style.fill]="item.category.color">
		</fa-icon>
		<div class="mat-list-text">
			<strong mat-line>
				<i18n i18n="@@category">category</i18n>
			</strong>
			<p mat-line>{{ item.category.name }}</p>
		</div>
	</mat-list-item>

	<a mat-button color="primary" tabindex="-1"
		[routerLink]="['/organisation', item.provider.organisation.id]">
		<mat-list-item>
			<fa-icon mat-list-icon icon="home"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<i18n i18n="@@organisation">organisation</i18n>
				</strong>
				<p mat-line>{{ item.provider.organisation.name }}</p>
			</div>
		</mat-list-item>
	</a>

	<ng-container *ngIf="!!item.target_groups.length">
		<mat-list-item>
			<fa-icon mat-list-icon icon="chart-pie"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<i18n i18n="@@targetGroups">targetGroups</i18n>
				</strong>
				<p mat-line>
					<ng-container *ngFor="let i of item.target_groups">
						<span class="comma">{{ i.name }}</span>
					</ng-container>
				</p>
			</div>
		</mat-list-item>
	</ng-container>

	<ng-container *ngIf="!!item.tags.length">
		<mat-list-item>
			<fa-icon mat-list-icon icon="tags"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>
					<i18n i18n="@@tags">tags</i18n>
				</strong>
				<p mat-line>
					<ng-container *ngFor="let i of item.tags">
						<span class="comma">{{ i.name }}</span>
					</ng-container>
				</p>
			</div>
		</mat-list-item>
	</ng-container>

	<ng-container *ngIf="item.show_user">
		<mat-divider></mat-divider>

		<h4 mat-subheader>
			<i18n i18n="@@person">person</i18n>
		</h4>

		<mat-list-item>
			<fa-icon mat-list-icon icon="user"></fa-icon>
			<div class="mat-list-text">
				<strong mat-line>{{ item.provider.user.fullname }}</strong>
				<p mat-line>
					<i18n i18n="@@created">created</i18n>
					{{ item.provider.user.created | date:'dd.MM.yyyy' }}
				</p>
			</div>
		</mat-list-item>

		<a mat-button color="primary" tabindex="-1"
			[href]="'mailto:' + item.provider.user.username">
			<mat-list-item>
				<fa-icon mat-list-icon icon="envelope"></fa-icon>
				<div class="mat-list-text">
					<strong mat-line>
						<i18n i18n="@@contactMail">contactMail</i18n>
					</strong>
					<p mat-line>{{ item.provider.user.username }}</p>
				</div>
			</mat-list-item>
		</a>

		<ng-container *ngIf="item.provider.user.phone">
			<a mat-button color="primary" tabindex="-1"
				[href]="'tel:' + item.provider.user.phone">
				<mat-list-item>
					<fa-icon mat-list-icon icon="phone"></fa-icon>
					<div class="mat-list-text">
						<strong mat-line>
							<i18n i18n="@@contactPhone">contactPhone</i18n>
						</strong>
						<p mat-line>{{ item.provider.user.phone }}</p>
					</div>
				</mat-list-item>
			</a>
		</ng-container>
	</ng-container>
</mat-list>
