@import '../../../app.vars.scss';

mat-calendar {
  width: 100%;

  @include deep {
    .mat-calendar-body-cell:not(.mat-calendar-body-disabled) {
      & > .mat-calendar-body-cell-content {
        background-color: $color-primary !important;
        color: $color-lightest !important;
        font-weight: bold;
      }
    }

    .mat-calendar-header {
      padding: 0 1rem;
    }
  }
}
