<navbar-compat [title]="title">
  <action-item ios.position="right">
    <grid-layout ripple (tap)="drawer.toggle()">
      <icon-compat [icon]="(drawer.visible | async) ? 'times' : 'bars'">
      </icon-compat>
    </grid-layout>
  </action-item>
</navbar-compat>
<drawer-compat #drawer>
  <ng-template #drawerMain>
    <router-outlet></router-outlet>
  </ng-template>
  <ng-template #drawerMenu>
    <scroll-view>
      <flexbox-layout>
        <image src="res://icon"></image>
        <stack-layout class="search">
          <icon-compat icon="search"></icon-compat>
          <text-field #input
            returnKeyType="search"
            (onLoaded)="input.blur()"
            (returnPress)="search(input.text)">
          </text-field>
        </stack-layout>
        <stack-layout ripple routerLink="/" (tap)="drawer.hide()">
          <icon-compat icon="at"></icon-compat>
          <label [text]="title"></label>
        </stack-layout>
        <stack-layout ripple routerLink="/activities" (tap)="drawer.hide()">
          <icon-compat icon="map-marker-alt"></icon-compat>
          <i18n i18n="@@activities" unit="activities"></i18n>
        </stack-layout>
        <stack-layout ripple routerLink="/organisations" (tap)="drawer.hide()">
          <icon-compat icon="globe-europe"></icon-compat>
          <i18n i18n="@@organisations" unit="organisations"></i18n>
        </stack-layout>
        <stack-layout ripple routerLink="/blogposts" (tap)="drawer.hide()">
          <icon-compat icon="comment-dots"></icon-compat>
          <i18n i18n="@@blogposts" unit="blogposts"></i18n>
        </stack-layout>
        <stack-layout ripple routerLink="/infopages" (tap)="drawer.hide()">
          <icon-compat icon="question-circle"></icon-compat>
          <i18n i18n="@@infopages" unit="infopages"></i18n>
        </stack-layout>
        <!-- TODO: https://github.com/NativeScript/NativeScript/issues/6114 -->
        <label flexGrow="1"></label>
        <stack-layout ripple routerLink="/imprint" (tap)="drawer.hide()">
          <icon-compat icon="paragraph"></icon-compat>
          <i18n i18n="@@imprint" unit="imprint"></i18n>
        </stack-layout>
        <stack-layout ripple routerLink="/policies" (tap)="drawer.hide()">
          <icon-compat icon="balance-scale"></icon-compat>
          <i18n i18n="@@policies" unit="policies"></i18n>
        </stack-layout>
      </flexbox-layout>
    </scroll-view>
  </ng-template>
</drawer-compat>
