<ActionBar [title]="title | async">
  <ActionItem
    android.position="actionBar"
    ios.position="right"
    (tap)="toggleDrawer()">
    <icon-compat [name]="(drawer.visible | async) ? 'times' : 'bars'">
    </icon-compat>
  </ActionItem>
</ActionBar>

<drawer-compat #drawer>
  <ng-template #main>
    <router-outlet></router-outlet>
  </ng-template>
  <ng-template #menu>
    <scroll-view>
      <stack-layout>
        <stack-layout orientation="horizontal">
          <icon-compat name="home"></icon-compat>
          <label text="Home"></label>
        </stack-layout>
        <stack-layout orientation="horizontal">
          <icon-compat name="clock"></icon-compat>
          <label text="Timer"></label>
        </stack-layout>
        <stack-layout orientation="horizontal">
          <icon-compat name="building"></icon-compat>
          <label text="Organisations"></label>
        </stack-layout>
        <stack-layout orientation="horizontal">
          <icon-compat name="info"></icon-compat>
          <label text="About"></label>
        </stack-layout>
      </stack-layout>
    </scroll-view>
  </ng-template>
</drawer-compat>
