<ActionBar [title]="title | async">
  <ActionItem
    android.position="actionBar"
    ios.position="right"
    (tap)="toggleDrawer()">
    <icon-compat
      height="25"
      width="50"
      [id]="(drawer.visible | async) ? 'times' : 'bars'">
    </icon-compat>
  </ActionItem>
</ActionBar>

<drawer-compat #drawer>
  <ng-template #main>
    <page-router-outlet></page-router-outlet>
  </ng-template>
  <ng-template #menu>
    <ScrollView row="1">
      <StackLayout>
        <Label text="One"></Label>
        <Label text="Two"></Label>
        <Label text="Three"></Label>
        <Label text="Close" (tap)="toggleDrawer()"></Label>
      </StackLayout>
    </ScrollView>
  </ng-template>
</drawer-compat>
