<mat-toolbar>
  <h1>{{ title | async }}</h1>
  <span style="flex-grow: 1;"></span>
  <button mat-icon-button (click)="toggleDrawer()">
    <icon-compat [name]="(drawer.visible | async) ? 'times' : 'bars'">
    </icon-compat>
  </button>
</mat-toolbar>

<drawer-compat #drawer>
  <ng-template #main>
    <router-outlet></router-outlet>
  </ng-template>
  <ng-template #menu>
    <mat-action-list>
      <button mat-list-item>One</button>
      <button mat-list-item>Two</button>
      <button mat-list-item>Three</button>
      <button mat-list-item (click)="toggleDrawer()">Close</button>
    </mat-action-list>
  </ng-template>
</drawer-compat>
