<header #header fxHide.lt-md>
  <img src="/imgs/icon.png" [alt]="title" [title]="title">
</header>
<navbar-compat fxHide.lt-md>
  <a mat-button [class.active]="url === '/'" [routerLink]="['/']">
    <icon-compat fxHide.lt-lg icon="play-circle"></icon-compat>
    <h1>{{ title }}</h1>
  </a>
  <a mat-button
    [class.active]="url.startsWith('/maps')"
    [routerLink]="['/', 'maps']">
    <icon-compat fxHide.lt-lg icon="globe"></icon-compat>
    <i18n i18n="@@mapView">mapView</i18n>
  </a>
  <a mat-button
    [class.active]="url.startsWith('/activities')"
    [routerLink]="['/', 'activities']">
    <icon-compat fxHide.lt-lg icon="map-marker-alt"></icon-compat>
    <i18n i18n="@@activities">activities</i18n>
  </a>
  <a mat-button
    [class.active]="url.startsWith('/organisations')"
    [routerLink]="['/', 'organisations']">
    <icon-compat fxHide.lt-lg icon="at"></icon-compat>
    <i18n i18n="@@organisations">organisations</i18n>
  </a>
  <a mat-button
    [class.active]="url.startsWith('/blogposts')"
    [routerLink]="['/', 'blogposts']">
    <icon-compat fxHide.lt-lg icon="comment-dots"></icon-compat>
    <i18n i18n="@@blogposts">blogposts</i18n>
  </a>
  <a mat-button
    [class.active]="url.startsWith('/infopages')"
    [routerLink]="['/', 'infopages']">
    <icon-compat fxHide.lt-lg icon="info-circle"></icon-compat>
    <i18n i18n="@@infopages">infopages</i18n>
  </a>
  <mat-form-field [class.text-primary]="url.startsWith('/search')">
    <icon-compat fxHide.lt-lg matPrefix icon="search"></icon-compat>
    <input #navbarInput matInput tabindex="-1" value="{{ query }}">
    <mat-label><i18n i18n="@@search">search</i18n></mat-label>
    <button mat-button mat-icon-button matSuffix
      [disabled]="!navbarInput.value"
      [routerLink]="['/', 'search', navbarInput.value]">
      <icon-compat icon="chevron-circle-right"></icon-compat>
    </button>
  </mat-form-field>
</navbar-compat>
<navbar-compat [title]="title" fxHide.gt-sm>
  <span [style.flexGrow]="1"></span>
  <mat-progress-spinner
    mode="indeterminate"
    [style.opacity]="busy | async">
  </mat-progress-spinner>
  <button mat-icon-button (click)="drawer.toggle()">
    <icon-compat [icon]="(drawer.visible | async) ? 'arrow-left' : 'bars'">
    </icon-compat>
  </button>
</navbar-compat>
<drawer-compat #drawer>
  <ng-template #drawerMain>
    <mat-progress-bar fxHide.lt-md
      mode="indeterminate"
      [style.opacity]="busy | async">
    </mat-progress-bar>
    <router-outlet></router-outlet>
    <navbar-compat fxHide.lt-md>
      <button mat-button [matMenuTriggerFor]="languageMenu">
        <icon-compat icon="language"></icon-compat>
        <i18n i18n="@@language">language</i18n>
      </button>
      <mat-menu #languageMenu="matMenu" xPosition="after">
        <ng-container *ngFor="let item of languages">
          <button mat-menu-item
            [class.active]="language === item.locale"
            (click)="translate(item.locale)">
            <pre>{{ item.locale }}</pre>
            {{ item.name }}
          </button>
        </ng-container>
      </mat-menu>
      <a mat-button
        [class.active]="url.startsWith('/imprint')"
        [routerLink]="['/', 'imprint']">
        <icon-compat fxHide.lt-lg icon="paragraph"></icon-compat>
        <i18n i18n="@@imprint">imprint</i18n>
      </a>
      <a mat-button
        [class.active]="url.startsWith('/policies')"
        [routerLink]="['/', 'policies']">
        <icon-compat fxHide.lt-lg icon="balance-scale"></icon-compat>
        <i18n i18n="@@policies">policies</i18n>
      </a>
      <span [style.flexGrow]="1"></span>
      <small>
        <icon-compat icon="copyright"></icon-compat>
        {{ title }} 2017-{{ date | date: 'yyyy' }}
      </small>
      <ng-container *ngIf="claimed?.userId">
        <button mat-button
          [class.active]="url.startsWith('/admin')"
          [matMenuTriggerFor]="adminMenu">
          <icon-compat fxHide.lt-lg icon="cog"></icon-compat>
          <i18n i18n="@@admin">admin</i18n>
        </button>
      </ng-container>
      <ng-container *ngIf="!claimed?.userId">
        <a mat-button
          [class.active]="url.startsWith('/login')"
          [routerLink]="['/', 'login']">
          <icon-compat fxHide.lt-lg icon="unlock"></icon-compat>
          <i18n i18n="@@login">login</i18n>
        </a>
      </ng-container>
      <mat-menu #adminMenu="matMenu" xPosition="before">
        <button mat-menu-item
          [class.active]="url.startsWith('/admin/account')"
          [routerLink]="['/', 'admin', 'account']">
          <icon-compat fxHide.lt-lg icon="chalkboard-teacher"></icon-compat>
          <i18n i18n="@@account">account</i18n>
        </button>
        <button mat-menu-item
          [class.active]="url.startsWith('/admin/organisation')"
          [disabled]="!claimed?.organisationAdmin.length && !claimed?.superUser"
          [routerLink]="['/', 'admin', 'organisation']">
          <icon-compat fxHide.lt-lg icon="sitemap"></icon-compat>
          <i18n i18n="@@organisation">organisation</i18n>
        </button>
        <ng-container *ngIf="claimed?.superUser">
          <button mat-menu-item
            [class.active]="url.startsWith('/admin/application')"
            [routerLink]="['/', 'admin', 'application']">
            <icon-compat fxHide.lt-lg icon="sliders-h"></icon-compat>
            <i18n i18n="@@application">application</i18n>
          </button>
          <button mat-menu-item
            [class.active]="url.startsWith('/admin/positioning')"
            [routerLink]="['/', 'admin', 'positioning']">
            <icon-compat fxHide.lt-lg icon="sign"></icon-compat>
            <i18n i18n="@@positioning">positioning</i18n>
          </button>
          <button mat-menu-item
            [class.active]="url.startsWith('/admin/privileges')"
            [routerLink]="['/', 'admin', 'privileges']">
            <icon-compat fxHide.lt-lg icon="shield-alt"></icon-compat>
            <i18n i18n="@@privileges">privileges</i18n>
          </button>
        </ng-container>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/', 'logout']">
          <icon-compat fxHide.lt-lg icon="lock"></icon-compat>
          <i18n i18n="@@logout">logout</i18n>
        </button>
      </mat-menu>
    </navbar-compat>
  </ng-template>
  <ng-template #drawerMenu>
    <header><img src="/imgs/icon.png" [alt]="title" [title]="title"></header>
    <mat-action-list>
      <mat-list-item disableRipple
        [class.active]="url.startsWith('/search')">
        <icon-compat icon="search"></icon-compat>
        <mat-form-field [class.text-primary]="url.startsWith('/search')">
          <input #drawerInput matInput tabindex="-1" value="{{ query }}">
          <mat-label><i18n i18n="@@search">search</i18n></mat-label>
          <button mat-button mat-icon-button matSuffix
            [disabled]="!drawerInput.value"
            [routerLink]="['/', 'search', drawerInput.value]">
            <icon-compat icon="chevron-circle-right"></icon-compat>
          </button>
        </mat-form-field>
      </mat-list-item>
      <a mat-list-item [class.active]="url === '/'" [routerLink]="['/']">
        <icon-compat icon="play-circle"></icon-compat>
        <span>{{ title }}</span>
      </a>
      <a mat-list-item
        [class.active]="url.startsWith('/maps')"
        [routerLink]="['/', 'maps']">
        <icon-compat icon="globe"></icon-compat>
        <i18n i18n="@@mapView">mapView</i18n>
      </a>
      <a mat-list-item
        [class.active]="url.startsWith('/activities')"
        [routerLink]="['/', 'activities']">
        <icon-compat icon="map-marker-alt"></icon-compat>
        <i18n i18n="@@activities">activities</i18n>
      </a>
      <a mat-list-item
        [class.active]="url.startsWith('/organisations')"
        [routerLink]="['/', 'organisations']">
        <icon-compat icon="at"></icon-compat>
        <i18n i18n="@@organisations">organisations</i18n>
      </a>
      <a mat-list-item
        [class.active]="url.startsWith('/blogposts')"
        [routerLink]="['/', 'blogposts']">
        <icon-compat icon="comment-dots"></icon-compat>
        <i18n i18n="@@blogposts">blogposts</i18n>
      </a>
      <a mat-list-item
        [class.active]="url.startsWith('/infopages')"
        [routerLink]="['/', 'infopages']">
        <icon-compat icon="info-circle"></icon-compat>
        <i18n i18n="@@infopages">infopages</i18n>
      </a>
    </mat-action-list>
    <span [style.flexGrow]="1" [style.minHeight]="'2.5rem'"></span>
    <mat-action-list>
      <button mat-list-item [matMenuTriggerFor]="languageMenu">
        <icon-compat icon="language"></icon-compat>
        <i18n i18n="@@language">language</i18n>
      </button>
      <mat-menu #languageMenu="matMenu" xPosition="before">
        <ng-container *ngFor="let item of languages">
          <button mat-menu-item
            [class.active]="language === item.locale"
            (click)="translate(item.locale)">
            <pre>{{ item.locale }}</pre>
            {{ item.name }}
          </button>
        </ng-container>
      </mat-menu>
      <a mat-list-item
        [class.active]="url.startsWith('/imprint')"
        [routerLink]="['/', 'imprint']">
        <icon-compat icon="paragraph"></icon-compat>
        <i18n i18n="@@imprint">imprint</i18n>
      </a>
      <a mat-list-item
        [class.active]="url.startsWith('/policies')"
        [routerLink]="['/', 'policies']">
        <icon-compat icon="balance-scale"></icon-compat>
        <i18n i18n="@@policies">policies</i18n>
      </a>
    </mat-action-list>
  </ng-template>
</drawer-compat>
