<nav>
  <div>
    <a mat-mini-fab
      color="primary"
      queryParamsHandling="merge"
      [disabled]="!prev"
      [queryParams]="prevLink"
      [routerLink]="[]">
      <fa-icon icon="angle-double-left"></fa-icon>
    </a>
    <i18n class="mat-caption">previous</i18n>
    <span></span>
  </div>
  <div>
    <a mat-mini-fab disabled color="primary">
      {{ page.number + 1 }} / {{ page.totalPages }}
    </a>
  </div>
  <div>
    <span></span>
    <i18n class="mat-caption">following</i18n>
    <a mat-mini-fab
      color="primary"
      queryParamsHandling="merge"
      [disabled]="!next"
      [queryParams]="nextLink"
      [routerLink]="[]">
      <fa-icon icon="angle-double-right"></fa-icon>
    </a>
  </div>
</nav>
