@import '~nativescript-theme-core/scss/light';
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';
@import 'app.theme.scss';

page {
  action-bar {
    color: $color-light;

    grid-layout {
      padding-right: 15;

      height: 50;
      width: 50;

      web-view {
        height: 33;
        width: 30;
      }
    }
  }

  #TKDrawerContent {
    scroll-view {
      flexbox-layout {
        flex-direction: column;

        & > image {
          horizontal-align: center;
          stretch: aspectFit;
          width: 50%;
        }

        & > stack-layout {
          height: 50;
          orientation: horizontal;

          color: $color-dark;

          &.active {
            color: $color-primary;

            absolute-layout {
              text-field {
                border-bottom-color: $color-primary;
              }

              &.float-label {
                label {
                  transform: scale(.66, .66) translate(-10, -20);
                  animation-name: none;
                }
              }
            }
          }

          absolute-layout {
            @keyframes float {
              from { transform: scale(1, 1) translate(0, 0); }
              to { transform: scale(.66, .66) translate(-10, -20); }
            }

            &.float-label {
              label {
                animation-direction: forwards;
                animation-duration: $animation-duration;
                animation-fill-mode: forwards;
                animation-name: float;
              }
            }

            label {
              margin-left: 0;
              margin-top: 15;

              animation-direction: reverse;
              animation-duration: $animation-duration;
              animation-fill-mode: reverse;
              animation-name: float;
            }

            text-field {
              border-bottom-color: $color-dark;
              border-bottom-width: 2;
              padding: 12 25 3 0;
              width: 205;
            }

            grid-layout {
              margin-left: 170;
              margin-top: 10;

              &.gray {
                web-view {
                  color: rgba(0, 0, 0, .26);
                }
              }

              web-view {
                height: 30;
                width: 30;
              }
            }
          }

          label {
            font-weight: bold;
            text-transform: uppercase;
            vertical-align: center;
          }

          web-view {
            height: 35;
            width: 35;
            margin: 0 10;
          }
        }
      }
    }
  }

  #TKMainContent {
    progress {
      height: 4;
    }
  }
}
