@import '~nativescript-theme-core/scss/light';
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

/* -------------------------------------------------------------------------- */

svg-image {
  height: 20;
  width: 50;
}

RadSideDrawer {
  stack-layout[orientation=horizontal] {
    height: 50;

    label {
      font-weight: bold;
      vertical-align: center;
    }
  }
}
