@import '~normalize.css/normalize.css';
@import '~@fortawesome/fontawesome-svg-core/styles';
@import 'app.theme.scss';

@include mat-core();
@include angular-material-theme($theme-palette);

.text-dark { color: $color-dark; }
.text-light { color: $color-light; }
.text-primary { color: $color-primary; }
.text-accent { color: $color-accent; }
.text-warn { color: $color-warn; }

.cdk-overlay-container {
  .mat-menu-panel {
    .mat-menu-content {
      .mat-menu-item {
        &.active {
          color: $color-primary;

          pre {
            background-color: $color-primary;
          }
        }

        [compat=icon] {
          display: inline-block;
          font-size: 1rem;
          margin-right: .5rem;
          width: 1.5rem;

          text-align: center;
          vertical-align: middle;
        }

        pre {
          background-color: $color-bg-dark;
          border-radius: .5rem;
          color: $color-light;
          display: inline;
          font-weight: bold;

          margin: 0 .5rem 0 0;
          padding: .25rem;
        }
      }
    }
  }
}

layout-component {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  body.embedded & {
    & > header, [compat=navbar] {
      display: none;
    }
  }

  & > header {
    height: 10rem;
    overflow: hidden;
    text-align: center;
    transition: height $animation-duration;

    img {
      max-height: 10rem;
    }
  }

  & > [compat=navbar]:nth-of-type(1) > mat-toolbar {
    justify-content: space-between;
    padding: 0 calc((100% - #{$viewport-width}) / 2);

    * {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    & > .mat-button {
      height: 100%;
      display: flex;
      align-items: center;

      &.active {
        color: $color-primary;
      }

      h1 {
        display: inline-block;
      }

     [compat=icon] {
        padding-right: .5rem;
      }
    }

    & > mat-form-field {
      width: 10rem;
      padding: 0 1rem;
      margin-bottom: -.54rem;
      transition: width $animation-duration;

      &.mat-form-field-should-float {
        width: 15rem;
      }

      .mat-form-field-prefix {
        padding-right: .5rem;
      }
    }
  }

  // TODO: fix ssr fxHide/fxShow
  @media screen and (max-width: 959.99px) and (min-width: 0px) {
    & > [compat=navbar]:nth-of-type(2) { display: block; }
  }

  & > [compat=navbar]:nth-of-type(2) > mat-toolbar {
    @extend .mat-primary;

    mat-progress-spinner {
      height: 1rem !important;
      width: 1rem !important;
      margin-right: 1rem;

      transition: opacity $animation-duration;

      &._mat-animation-noopable[mode=indeterminate] {
        animation:
          mat-progress-spinner-linear-rotate
          2000ms linear infinite !important;

        circle {
          animation-duration: 4s !important;
          animation-iteration-count: infinite !important;
        }
      }

      svg {
        height: inherit !important;
        width: inherit !important;

        circle {
          stroke: currentColor;
        }
      }
    }
  }

  & > [compat=drawer] {
    flex: 1 0 auto;
    position: relative;

    mat-drawer-container {
      position: absolute !important;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      .mat-drawer-content {
        display: flex;
        flex-direction: column;

        & > mat-progress-bar {
          position: fixed;
          z-index: 1000;

          &._mat-animation-noopable[mode=indeterminate] {
            .mat-progress-bar-primary {
              &::after {
                animation:
                  mat-progress-bar-primary-indeterminate-scale
                  2000ms infinite linear !important;
              }

              animation:
                mat-progress-bar-primary-indeterminate-translate
                2000ms infinite linear !important;
            }
            .mat-progress-bar-secondary {
              &::after {
                animation:
                  mat-progress-bar-secondary-indeterminate-scale
                  2000ms infinite linear !important;
              }

              animation:
                mat-progress-bar-secondary-indeterminate-translate
                2000ms infinite linear !important
            }
          }
        }

        & > ng-component {
          flex: 1 0 auto;
          position: relative;

          main {
            margin: 0 auto;
            max-width: $viewport-width;
          }
        }

        & > [compat=navbar]:last-child mat-toolbar {
          padding: 0 calc((100% - #{$viewport-width}) / 2);
          margin-bottom: 1.5rem;

          * {
            text-transform: uppercase;
          }

          & > .mat-button {
            height: 100%;
            display: flex;
            align-items: center;

            &.active {
              color: $color-primary;
            }
          }

         [compat=icon] {
            padding-right: .5rem;
          }

          small {
            font-size: .875rem;
            padding: 0 1rem;
          }
        }
      }

      .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
        font-weight: bold;

        & > header {
          text-align: center;

          img {
            max-height: 10rem;
          }
        }

        & > mat-action-list {
          [compat=icon] {
             text-align: center;
             width: 2.5rem;
           }

          .mat-list-item {
            text-decoration: none;

            * {
              font-weight: bold;
              text-transform: uppercase;
            }

            &:focus {
              background: inherit !important;
            }

            &.active {
              color: $color-primary;
            }

            .mat-form-field-label {
              color: inherit !important;
            }

            .mat-input-element {
              caret-color: currentColor;
            }

            .mat-form-field-underline {
              background-color: currentColor;

              .mat-form-field-ripple {
                background-color: currentColor;
              }
            }
          }
        }
      }
    }
  }
}
