@import '~@angular/material/theming';

$theme: mat-light-theme(
  mat-palette($mat-blue),
  mat-palette($mat-cyan),
  mat-palette($mat-red)
);

$color-primary: mat-color(map-get($theme, primary));
$color-accent: mat-color(map-get($theme, accent));
$color-warn: mat-color(map-get($theme, warn));
$color-text: rgba(0, 0, 0, .87);

.text-primary { color: $color-primary; }
.text-accent { color: $color-accent; }
.text-warn { color: $color-warn; }
.text { color: $color-text; }

$animation-duration: .25s;
