@import '~nativescript-theme-core/scss/light';
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

/* -------------------------------------------------------------------------- */

page {
  action-bar {
    grid-layout {
      border-radius: 50%;
      width: 50;

      web-view {
        height: 35;
        width: 30;
      }
    }
  }

  #TKDrawerContent {
    scroll-view {
      flexbox-layout {
        flex-direction: column;

        & > image {
          horizontal-align: center;
          stretch: aspectFit;
          width: 50%;
        }

        & > stack-layout {
          height: 50;
          orientation: horizontal;

          &.search {
            web-view {
              margin: 0 5 0 10;
            }
          }

          label {
            color: black;
            font-weight: bold;
            vertical-align: center;
          }

          web-view {
            height: 35;
            width: 35;
            margin: 0 10;
          }

          text-field {
            width: 185;
          }
        }
      }
    }
  }
}
