@import '~@angular/material/theming';

$theme: mat-light-theme(
  mat-palette($mat-blue),
  mat-palette($mat-cyan),
  mat-palette($mat-red)
);

$primary: mat-color(map-get($theme, primary));
$accent: mat-color(map-get($theme, accent));
$warn: mat-color(map-get($theme, warn));

.text-primary { color: $primary; }
.text-accent { color: $accent; }
.text-warn { color: $warn; }

$duration: .25s;
