@import '~normalize.css/normalize.css';
@import '~@fortawesome/fontawesome-svg-core/styles';
@import 'app.vars.scss';

@include mat-core();
@include angular-material-theme($theme-palette);

.cdk-overlay-container {
  .mat-menu-item {
    &.active {
      color: $color-primary;

      & > pre {
        background-color: $color-primary;
      }
    }

    & > pre {
      background-color: $color-dark;
      border-radius: .25rem;
      color: $color-lightest;
      display: inline;
      font-weight: bold;
      margin: 0 .5rem 0 0;
      padding: .25rem;

      @include media(lt-lg) {
        display: none;
      }
    }

    & > [compat=icon] {
      display: inline-block;
      font-size: 1rem;
      margin-right: .5rem;
      text-align: center;
      vertical-align: middle;
      width: 1.5rem;

      @include media(lt-lg) {
        display: none;
      }
    }
  }
}

layout-component {
  body.embedded & {
    border-radius: .25rem;
    overflow: hidden;

    & > header { display: none; }
    [compat=navbar] { display: none; }
  }

  @include flex(column);
  @include position(fixed, 0, 0, 0, 0);

  & > header {
    height: 10rem;
    overflow: hidden;
    text-align: center;
    transition: height $animation-duration;

    @include media(lt-md) {
      display: none;
    }

    & > img {
      max-height: 10rem;
    }
  }

  & > [compat=navbar]:nth-of-type(1) {
    @include media(lt-md) {
      display: none;
    }

    & > mat-toolbar {
      @include flex(nowrap, space-between, center);
      padding: 0 calc((100% - #{$viewport-width}) / 2);

      & > mat-form-field {
        width: 10rem;
        padding: 0 1rem;
        margin-bottom: -.54rem;
        transition: width $animation-duration;

        &.active {
          color: $color-primary;
        }

        &.mat-form-field-should-float {
          width: 15rem;
        }

        [compat=icon][icon=search] {
          @include media(lt-lg) {
            display: none;
          }
        }

        .mat-form-field-prefix {
          padding-right: .5rem;
        }
      }

      & > .mat-button-base {
        @include flex(row, normal, center);
        height: 100%;

        &.active {
          color: $color-primary;
        }

        h1 {
          display: inline-block;
        }

        [compat=icon] {
          padding-right: .5rem;

          @include media(lt-lg) {
            display: none;
          }
        }
      }

      * {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  & > [compat=navbar]:nth-of-type(2) {
    @include media(gt-sm) {
      display: none;
    }

    & > mat-toolbar {
      @extend .mat-primary;

      & > mat-progress-spinner {
        height: 1rem !important;
        margin-right: 1rem;
        transition: opacity $animation-duration;
        width: 1rem !important;

        &._mat-animation-noopable[mode=indeterminate] {
          animation:
            mat-progress-spinner-linear-rotate
            ($animation-duration * 8) linear infinite !important;

          & > svg {
            & > circle {
              animation-duration: ($animation-duration * 16) !important;
              animation-iteration-count: infinite !important;
            }
          }
        }

        & > svg {
          height: inherit !important;
          width: inherit !important;

          & > circle {
            stroke: currentColor;
          }
        }
      }
    }
  }


  & > [compat=drawer] {
    @include position(relative);
    flex: 1 0 auto;

    & > mat-drawer-container {
      @include position(absolute !important, 0, 0, 0, 0);

      & > mat-drawer {
        & > .mat-drawer-inner-container {
          @include flex(column);
          font-weight: bold;

          & > header {
            text-align: center;

            & > img {
              max-height: 10rem;
            }
          }

          & > mat-action-list {
            [compat=icon] {
              text-align: center;
              width: 2.5rem;
            }

            & > .mat-list-item {
              text-decoration: none;

              &:focus {
                background: inherit !important;
              }

              &.active {
                color: $color-primary;
              }

              * {
                font-weight: bold;
                text-transform: uppercase;
              }

              mat-form-field {
                &.active {
                  color: $color-primary;
                }

                .mat-form-field-label {
                  color: inherit !important;
                }

                .mat-form-field-underline {
                  background-color: currentColor;

                  .mat-form-field-ripple {
                    background-color: currentColor;
                  }
                }

                .mat-input-element {
                  caret-color: currentColor;
                }
              }
            }
          }
        }
      }

      & > mat-drawer-content {
        @include flex(column);

        & > mat-progress-bar {
          @include position(fixed);
          z-index: 1;

          @include media(lt-md) {
            display: none;
          }

          &._mat-animation-noopable[mode=indeterminate] {
            .mat-progress-bar-primary {
              animation:
                mat-progress-bar-primary-indeterminate-translate
                ($animation-duration * 8) infinite linear !important;

                &::after {
                  animation:
                    mat-progress-bar-primary-indeterminate-scale
                    ($animation-duration * 8) infinite linear !important;
                }
            }

            .mat-progress-bar-secondary {
              animation:
                mat-progress-bar-secondary-indeterminate-translate
                ($animation-duration * 8) infinite linear !important;

              &::after {
                animation:
                  mat-progress-bar-secondary-indeterminate-scale
                  ($animation-duration * 8) infinite linear !important;
              }
            }
          }
        }

        & > ng-component {
          @include position(relative);
          flex: 1 0 auto;
          padding: 1rem 0;

          @include media(lt-md) {
            padding-bottom: 0;
          }

          main {
            margin: 0 auto;
            max-width: $viewport-width;
          }
        }

        & > [compat=navbar]:last-child {
          @include media(lt-md) {
            display: none;
          }

          & > mat-toolbar {
            margin-bottom: 1.5rem;
            padding: 0 calc((100% - #{$viewport-width}) / 2);

            & > .mat-button-base {
              @include flex(row, normal, center);
              height: 100%;

              &.active {
                color: $color-primary;
              }
            }

            * {
              text-transform: uppercase;
            }

            small {
              font-size: .875rem;
              padding: 0 1rem;
            }

            [compat=icon] {
              padding-right: .5rem;

              @include media(lt-lg) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
