@import '~@angular/material/theming';
@import '~@fortawesome/fontawesome-svg-core/styles';
@import 'app.theme.scss';

@include mat-core();
@include angular-material-theme($theme-palette);

layout-component {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  & > header {
    height: 12.5rem;
    text-align: center;
    transition: height $animation-duration;

    img {
      max-height: 12.5rem;
    }
  }

  & > navbar-compat:first-of-type > mat-toolbar {
    justify-content: space-between;

    * {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    & > button:not([matSuffix]) {
      height: 100%;

      &.active {
        color: $color-primary;
      }

      h1 {
        display: inline-block;
      }

      icon-compat {
        padding-right: .5rem;
      }
    }

    & > mat-form-field {
      margin-bottom: -.54rem;
      transition: width $animation-duration;
      width: 10rem;

      &.mat-form-field-should-float {
        width: 15rem;
      }

      .mat-form-field-prefix {
        padding-right: .5rem;
      }
    }
  }

  @media screen and (max-width: 959.99px) and (min-width: 0px) {
    & > navbar-compat:last-of-type { display: block !important; }
  }

  & > navbar-compat:last-of-type > mat-toolbar {
    @extend .mat-primary;

    mat-progress-spinner {
      height: 1rem !important;
      width: 1rem !important;
      margin-right: 1rem;

      transition: opacity $animation-duration;

      &._mat-animation-noopable[mode=indeterminate] {
        animation:
          mat-progress-spinner-linear-rotate
          2000ms linear infinite !important;

        circle {
          animation-duration: 4s !important;
          animation-iteration-count: infinite !important;
        }
      }

      svg {
        height: inherit !important;
        width: inherit !important;

        circle {
          stroke: currentColor;
        }
      }
    }
  }

  & > drawer-compat {
    flex-grow: 1;
    position: relative;

    mat-drawer-container {
      position: absolute !important;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      .mat-drawer-content {
        display: flex;
        flex-direction: column;

        mat-progress-bar {
          &._mat-animation-noopable[mode=indeterminate] {
            .mat-progress-bar-primary {
              &::after {
                animation:
                  mat-progress-bar-primary-indeterminate-scale
                  2000ms infinite linear !important;
              }

              animation:
                mat-progress-bar-primary-indeterminate-translate
                2000ms infinite linear !important;
            }
            .mat-progress-bar-secondary {
              &::after {
                animation:
                  mat-progress-bar-secondary-indeterminate-scale
                  2000ms infinite linear !important;
              }

              animation:
                mat-progress-bar-secondary-indeterminate-translate
                2000ms infinite linear !important
            }
          }
        }

        & > navbar-compat:last-child > mat-toolbar {
          margin: 25px 0;

          * {
            text-transform: uppercase;
          }

          & > button {
            height: 100%;
            text-transform: inherit;

            &.active {
              color: $color-primary;
            }
          }

          icon-compat {
            padding-right: .5rem;
          }
        }
      }

      .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
        font-weight: bold;

        & > header {
          text-align: center;

          img {
            max-height: 10rem;
          }
        }

        & > mat-action-list {
          mat-list-item {
            * {
              font-weight: bold;
              text-transform: uppercase;
            }

            &:focus {
              background: inherit !important;
            }

            &.active {
              color: $color-primary;
            }

            .mat-form-field-label {
              color: inherit !important;
            }

            .mat-input-element {
              caret-color: currentColor;
            }

            .mat-form-field-underline {
              background-color: currentColor;

              .mat-form-field-ripple {
                background-color: currentColor;
              }
            }
          }
        }

        icon-compat {
          text-align: center;
          width: 2.5rem;
        }
      }
    }
  }
}
