<mat-card style="height: 100%">
	<div class="container-fluid main">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" routerLink="/admin/map">
				<fa-icon [icon]="faMap"></fa-icon>
			</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
			 aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav mr-auto">
					<li *ngFor="let routeLink of routeLinks; let i = index;" class="nav-item" [routerLink]="routeLink.link" routerLinkActive="active"
					 [routerLinkActiveOptions]="{exact: true}">
						<a class="nav-link" (click)="activeLinkIndex = i">
							{{routeLink.label}}
						</a>
					</li>
				</ul>
				<div class="form-inline my-2 my-lg-0">
					<mat-icon style="width: 3.3em;" svgIcon="wuppertal"></mat-icon>
					<b>upportal</b>
				</div>
			</div>
		</nav>
		<router-outlet class="container-fluid" name="table">
		</router-outlet>
	</div>
	<footer class="footer">
		Problem/Anregungen hier melden:
		<a target="_blank" href="https://github.com/codeschluss/wupportal/issues">https://github.com/codeschluss/wupportal/issues</a>
		oder an info@codeschluss.de
	</footer>
</mat-card>
