<div style="height: 100%">
	<div class="main">
		<mat-toolbar class="navbar" color="primary">
			<mat-toolbar-row>
				<a mat-button routerLink="/admin/map">
					<fa-icon [icon]="faMap" class="nav-item active" style="color: white;"></fa-icon>
				</a>
				<span *ngFor="let routeLink of routeLinks; let i = index;" class="nav-item" [routerLink]="routeLink.link" routerLinkActive="active"
				 [routerLinkActiveOptions]="{exact: true}">
					<a mat-button (click)="activeLinkIndex = i">
						{{routeLink.label}}
					</a>
				</span>
				<span class="nav-title">
					<mat-icon svgIcon="wuppertal"></mat-icon>
					<b>upportal</b>
				</span>
			</mat-toolbar-row>
		</mat-toolbar>
		<router-outlet name="table">
		</router-outlet>
	</div>
	<mat-toolbar class="footer" color="primary">
		Powered by:
		<a href="mailto:info@codeschluss.de">Valmir Etemi, Philip Schildkmap, Peter Seipel</a>
	</mat-toolbar>
</div>
