/* Table  */

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.table-header {
	min-height: 64px;
	display: flex;
	align-items: center;
	padding-left: 24px;
	font-size: 20px;
}

.tabel-header {
	min-height: 64px;
	display: flex;
	align-items: baseline;
	padding: 8px 24px 0;
	font-size: 20px;
	justify-content: space-between;
}

.mat-form-field {
	font-size: 14px;
	flex-grow: 1;
	margin-left: 32px;
}

.mat-table {
	overflow: auto;
	max-height: 500px;
}

.table-icon {
	padding: 0 14px;
}

.table-spacer {
	flex: 1 1 auto;
}

.auto-completion-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }

  .auto-completion-full-width {
	width: 30%;
	}

	.clickable {
		cursor: pointer;
	}
