/* Table  */

.table-container {
	margin-top: 5px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.tabel-header {
	min-height: 64px;
	display: flex;
	align-items: baseline;
	padding: 12px 24px 0;
	font-size: 20px;
	justify-content: space-between;
}

.mat-form-field {
	font-size: 14px;
	flex-grow: 1;
	margin-left: 32px;
}

.mat-table {
	overflow: auto;
	max-height: 500px;
}

.table-icon {
	padding: 0 14px;
}

.table-spacer {
	flex: 1 1 auto;
}

.auto-completion-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }

  .auto-completion-full-width {
	width: 30%;
	}

	.clickable {
		cursor: pointer;
	}

	.mat-elevation-z8 {
		bottom: 40px;
	}

	mat-sidenav {
		max-width: 90%;
	}

	.loadingOverlay{
		position: absolute;
		width: 100%;
		height: 100%;
		min-height: 300px;
		margin: 0px auto;
		background: black;
    background: rgba(22, 22, 22, 0.3);
	}

	.loadingOverlay > mat-spinner {
		margin: 0 auto;
	}
