<div class="loadingOverlay" *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="providers">
	<mat-card-header>
		<mat-card-title>
			<h2>{{constants.members}}</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-table #table [dataSource]="dataSource" class="example-table">

			<!-- username Column -->
			<ng-container matColumnDef="username">
				<mat-header-cell *matHeaderCellDef>{{constants.user}}</mat-header-cell>
				<mat-cell *matCellDef="let row">{{ row.user.username }}</mat-cell>
			</ng-container>

			<!-- fullname Column -->
			<ng-container matColumnDef="fullname">
				<mat-header-cell *matHeaderCellDef>{{constants.nameString}}</mat-header-cell>
				<mat-cell *matCellDef="let row">{{ row.user.fullname }}</mat-cell>
			</ng-container>

			<!-- phone Column -->
			<ng-container matColumnDef="phone">
				<mat-header-cell *matHeaderCellDef>{{constants.phone}}</mat-header-cell>
				<mat-cell *matCellDef="let row">{{ row.user.phone }}</mat-cell>
			</ng-container>

			<!-- admin flag Column -->
			<ng-container matColumnDef="admin">
				<mat-header-cell *matHeaderCellDef>{{constants.admin}}</mat-header-cell>
				<mat-cell *matCellDef="let row">
					<mat-checkbox [(ngModel)]="row.admin">
					</mat-checkbox>
				</mat-cell>
			</ng-container>

			<!-- completely remove from provider table  -->
			<ng-container matColumnDef="delete">
				<mat-header-cell *matHeaderCellDef>
					{{constants.deleteFromOrganisation}}
				</mat-header-cell>
				<mat-cell *matCellDef="let row">
					<delete-action [recordID]="row.id" [nameToDelete]="row.user.username" (onDelete)="onDelete($event)">
					</delete-action>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>

		<button mat-button color="primary" type="button" (click)="save()">{{constants.save}}
		</button>
	</mat-card-content>
</mat-card>
