<div class="loadingOverlay" *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="organisationOptions">
	<form #formDir="ngForm" (ngSubmit)="onSubmit()"
	  class="well">
		<mat-card-header>
			<mat-card-title>
				<h2>{{constants.organisations}}</h2>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field>
				<mat-select placeholder={{constants.organisations}}
				  [formControl]="organisationsCtrl"
				  multiple>
					<mat-option *ngFor="let organisation of organisationOptions"
					  [value]="organisation.id">{{organisation.name}}</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-table #table [dataSource]="dataSource">

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef>{{constants.organisation}}</mat-header-cell>
					<mat-cell *matCellDef="let row">{{row.organisation?.name}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="website">
					<mat-header-cell *matHeaderCellDef>{{constants.website}}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<a target="_blank" (click)="goToWebsite(row.website)">
							{{row.organisation.website ? row.organisation?.website
							: ''}}
						</a>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="mail">
					<mat-header-cell *matHeaderCellDef>{{constants.mail}}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<a [href]="'mailto:' + row.mail">{{row.organisation?.mail?
							row.organisation.mail :
							''}}
						</a>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="phone">
					<mat-header-cell *matHeaderCellDef>Telephone</mat-header-cell>
					<mat-cell *matCellDef="let row">{{row.organisation?.phone}}</mat-cell>
				</ng-container>

				<!-- Approve provider in organisation  -->
				<ng-container matColumnDef="approved">
					<mat-header-cell *matHeaderCellDef>
						{{constants.approved}}
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<fa-icon [icon]="faCheck" *ngIf="row.approved"></fa-icon>
						<fa-icon [icon]="faMinus" *ngIf="!row.approved"></fa-icon>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
		</mat-card-content>

		<mat-card-actions>
			<button class="btn btn-danger"
			  type="button" (click)="back()">{{constants.back}}</button>
			<button class="btn btn-primary"
			  type="submit">{{constants.save}}</button>
		</mat-card-actions>
	</form>
</mat-card>
