@import '../../app.theme.scss';

main {
  color: $color-dark;
  background-color: $color-bg-light;

  max-width: 100% !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  fa-icon {
    font-size: 4rem;
  }

  strong {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
