<main>
  <section>
    <h1><i18n>mapview</i18n></h1>
    <aside>
      <nav>
        <button mat-button
          [color]="active('events') ? 'primary' : 'accent'"
          [routerLink]="active('events') ? '/map' : '/map/events'">
          <i18n>activities</i18n>
        </button>
        <button mat-button
          [color]="active('places') ? 'primary' : 'accent'"
          [routerLink]="active('places') ? '/map' : '/map/places'">
          <i18n>organisations</i18n>
        </button>
      </nav>
      <span [style.flexGrow]="1"></span>
      <ng-container *ngIf="active('events')">
        <date-filter-component></date-filter-component>
      </ng-container>
      <ng-container *ngIf="active('places')">
        <sort-filter-component></sort-filter-component>
      </ng-container>
    </aside>
  </section>

  <section>
    <iframe #frame [src]="source">
    </iframe>
  </section>
</main>
