<nesting-component size="xs">
  <ng-template #content>
    <mat-horizontal-stepper linear>
      <ng-template #actions>
        <button mat-button matStepperPrevious>
          <i18n i18n="@@Back">Back</i18n>
        </button>
        <button mat-button matStepperNext color="primary">
          <i18n i18n="@@Next">Next</i18n>
        </button>
      </ng-template>
      <ng-template matStepperIcon="done">
        <fa-icon icon="check"></fa-icon>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <fa-icon icon="check"></fa-icon>
      </ng-template>

      <mat-step [stepControl]="step1">
        <ng-template matStepLabel>
          <i18n fxHide.lt-sm i18n="@@Account">Account</i18n>
        </ng-template>
        <form #step1="ngForm" fxLayout="column" fxLayoutAlign="strech">
          <mat-form-field fxFlex>
            <input matInput required type="email" [(ngModel)]="username"
              i18n-placeholder="@@E-Mail" placeholder="E-Mail" name="_">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput required type="password" [(ngModel)]="password"
              i18n-placeholder="@@Password" placeholder="Password" name="_">
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step [stepControl]="step2">
        <ng-template matStepLabel>
          <i18n fxHide.lt-sm i18n="@@Userdata">Userdata</i18n>
        </ng-template>
        <form #step2="ngForm" fxLayout="column" fxLayoutAlign="strech">
          <mat-form-field fxFlex>
            <input matInput required type="text" [(ngModel)]="fullname"
              i18n-placeholder="@@Full name" placeholder="Full name" name="_">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput required type="tel" [(ngModel)]="phone"
              i18n-placeholder="@@Phone" placeholder="Phone" name="_">
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <i18n fxHide.lt-sm i18n="@@Register">Register</i18n>
        </ng-template>
        <mat-list>
          <i18n mat-subheader i18n="@@Account">Account</i18n>
          <mat-divider></mat-divider>
          <mat-list-item>
            <fa-icon mat-list-icon icon="at"></fa-icon>
            <strong mat-line>{{ username }}</strong>
            <small mat-line>
              <i18n i18n="@@E-Mail">E-Mail</i18n>
            </small>
          </mat-list-item>
          <mat-list-item>
            <fa-icon mat-list-icon icon="key"></fa-icon>
            <strong mat-line>••••••••</strong>
            <small mat-line>
              <i18n mat-line i18n="@@Password">Password</i18n>
            </small>
          </mat-list-item>
          <i18n mat-subheader i18n="@@Userdata">Userdata</i18n>
          <mat-divider></mat-divider>
          <mat-list-item>
            <fa-icon mat-list-icon icon="id-card"></fa-icon>
            <strong mat-line>{{ fullname }}</strong>
            <small mat-line>
              <i18n mat-line i18n="@@Full name">Full name</i18n>
            </small>
          </mat-list-item>
          <mat-list-item>
            <fa-icon mat-list-icon icon="phone"></fa-icon>
            <strong mat-line>{{ phone }}</strong>
            <small mat-line>
              <i18n mat-line i18n="@@Phone">Phone</i18n>
            </small>
          </mat-list-item>
        </mat-list>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-template>
</nesting-component>
