<h2>{{constants.loginTitle}}</h2>
<form class="login-form">
	<mat-form-field class="example-full-width">
		<input matInput placeholder={{constants.email}}
		  [(ngModel)]="user.username" type="text"
		  name="userName" required />
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput placeholder={{constants.password}}
		  [(ngModel)]="user.password" type="password"
		  name="password" required />
	</mat-form-field>
	<button mat-raised-button color="primary"
	  (click)="login()">{{constants.login}}</button>
	<button mat-raised-button color="accent"
	  (click)="register()">{{constants.register}}</button>
</form>
