<div class="loadingOverlay" *ngIf="!finishedLoading">
	<mat-spinner></mat-spinner>
</div>
<div class="organisation-container mat-elevation-z8">
	<mat-sidenav-container>
		<mat-sidenav #sidenav mode="over">
			<organisation-detail [organisation]="currentDetail" largeTitle="true">
			</organisation-detail>
		</mat-sidenav>

		<mat-sidenav-content>
			<div class="table-container">
				<div class="table-header">
					<mat-form-field>
						<input matInput (keyup)="handleFiltered($event)" placeholder="Filter">
					</mat-form-field>
					<button class="btn btn-warning" *ngIf="actionsVisible()" [routerLink]="['/admin', { outlets: { table: ['organisation-edit', 'new'] } }]">
						{{ constants.newEntry }}
					</button>
				</div>

				<mat-table #table [dataSource]="dataSource" class="organisation-table" matSort (matSortChange)="handleSorted($event)" matSortActive="Organisations.name"
				 matSortDirection="asc" matSortDisableClear>

					<ng-container matColumnDef="Organisations.name">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							{{constants.nameString}}
						</mat-header-cell>
						<mat-cell class="clickable" *matCellDef="let row" (click)="showDetails(row)">{{ row.name }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="website">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							{{constants.website}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<a target="_blank" [href]="generateWebSite(row.website)">
								{{row.website ? row.website : ''}}
							</a>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="mail">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							{{constants.mail}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<a [href]="'mailto:' + row.mail">
								{{row.mail ? row.mail : ''}}</a>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="phone">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							{{constants.phone}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row" (click)="showDetails(row)">{{ row.phone }}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="address">
						<mat-header-cell *matHeaderCellDef>{{constants.address}}</mat-header-cell>
						<mat-cell *matCellDef="let row" (click)="showDetails(row)">
							{{row.address ? (row.address.street + ' ' + row.address.house_number) : ''}}
							<br/> {{row.address ? (row.address.postal_code + ' ' + row.address.place + ' ' + row.address.suburb.name) : ''}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="action" *ngIf="actionsVisible()">
						<mat-header-cell *matHeaderCellDef>
							{{constants.edit}} / {{constants.delete}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<button mat-button [routerLink]="['/admin', { outlets: { table: ['organisation-admin', row.id] } }]">
								<fa-icon [icon]="faPencilAlt" class="text-primary"></fa-icon>
							</button>
							<delete-action [recordID]="row.id" [nameToDelete]="row.name" (onDelete)="onDelete($event)">
							</delete-action>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>

				<mat-paginator [pageSize]="constants.defaultPageSize" [pageSizeOptions]="constants.pageSizeOptions" [length]="totalCount"
				 (page)="handlePageChanged($event)">
				</mat-paginator>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
