<div class="organisation-container mat-elevation-z8">

	<div class="organisations-table-header">
		<mat-form-field>
			<input matInput (keyup)="handleFiltered($event)"
			  placeholder="Filter">
		</mat-form-field>
	</div>

	<mat-table #table [dataSource]="dataSource"
	  class="organisation-table" matSort
	  (matSortChange)="handleSorted($event)">

		<ng-container matColumnDef="Organisations.name">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header disableClear="true">
				{{constants.nameString}}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="website">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header>{{constants.website}}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.website }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header>{{constants.description}}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="mail">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header>{{constants.mail}}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.mail }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="phone">
			<mat-header-cell *matHeaderCellDef
			  mat-sort-header>Telephone</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="address">
			<mat-header-cell *matHeaderCellDef>{{constants.address}}</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.address.street + ' '
				+ row.address.house_number}}
				<br/> {{row.address.postal_code
				+ ' ' + row.address.place +
				' ' + row.address.suburb.name
				}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="action">
			<mat-header-cell *matHeaderCellDef>
				{{constants.edit}} / {{constants.delete}}
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button mat-button color="primary"
				  routerLink='/organisation/edit/{{row.id}}'>
					<i class="fa fa-pencil-square-o"
					  aria-hidden="true"></i>
				</button>
				<delete-action [recordID]="row.id"
				  [nameToDelete]="row.name" (onDelete)="onDelete($event)">
				</delete-action>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>

	<mat-paginator #paginator [pageSize]="5"
	  [pageSizeOptions]="[5, 10, 20]"
	  (page)="handlePageChanged($event)">
	</mat-paginator>

</div>
