<div class="edit-container">
	<mat-card class="organisation-edit-card" *ngIf="organisation">

		<form (ngSubmit)="onSubmit()" class="well">
			<mat-card-header>
				<h2>{{organisation.name}}</h2>
			</mat-card-header>
			<mat-form-field class="edit-form-full-width">
				<input matInput type=text [(ngModel)]="organisation.name" placeholder={{constants.name}} name="name" value={{organisation.name}}
				 id="orga_name_field">
			</mat-form-field>
			<mat-form-field class="edit-form-full-width">
				<textarea matInput type=text [(ngModel)]="organisation.description" placeholder={{constants.description}} name="description"
				 value={{organisation.description}} id="orga_description_field"></textarea>
			</mat-form-field>

			<mat-form-field class="edit-form-full-width">
				<input matInput type=email [(ngModel)]="organisation.mail" placeholder={{constants.mail}} name="mail" value={{organisation.mail}}
				 id="orga_mail_field" min="10">
			</mat-form-field>

			<mat-form-field class="edit-form-full-width">
				<input matInput type=text [(ngModel)]="organisation.phone" placeholder={{constants.phone}} name="telephone" value={{organisation.phone}}
				 id="orga_phone_field">
			</mat-form-field>

			<mat-form-field class="edit-form-full-width">
				<input matInput type=text [(ngModel)]="organisation.website" placeholder={{constants.website}} name="website" value={{organisation.website}}
				 id="orga_website_field">
			</mat-form-field>
			<mat-card class="address-card">
				<mat-card-header>
					{{constants.address}}
				</mat-card-header>
				<mat-form-field class="edit-form-full-width">
					<input matInput [(ngModel)]="organisation.address.street" placeholder={{constants.street}} name="street" value={{organisation.address.street}}
					 id="orgaaddress_street">
				</mat-form-field>

				<mat-form-field class="edit-form-full-width">
					<input matInput [(ngModel)]="organisation.address.house_number" placeholder={{constants.houseNumber}} name="house_number"
					 value={{organisation.address.house_number}} id="orgaaddress_house_number">
				</mat-form-field>

				<mat-form-field class="edit-form-full-width">
					<input matInput [(ngModel)]="organisation.address.postal_code" placeholder={{constants.postalCode}} name="postal_code" value={{organisation.address.postal_code}}
					 id="orgaaddress_postal_code">
				</mat-form-field>

				<mat-form-field class="edit-form-full-width">
					<input matInput [(ngModel)]="organisation.address.suburb.name" placeholder={{constants.quarter}} name="suburb_name" value={{organisation.address.suburb.name}}
					 id="orgaaddress_suburb_name">
				</mat-form-field>
			</mat-card>
			<button mat-raised-button type="submit">{{constants.save}}</button>
			<button mat-raised-button (click)="back()">{{constants.back}}</button>
		</form>
	</mat-card>
</div>
