<div class="organisation-container mat-elevation-z8">

	<mat-table #table [dataSource]="dataSource" class="organisation-table" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
				name</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="website">
			<mat-header-cell *matHeaderCellDef>Website</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.website }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="mail">
			<mat-header-cell *matHeaderCellDef>eMail</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.mail }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="phone">
			<mat-header-cell *matHeaderCellDef>Telephone</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="address">
			<mat-header-cell *matHeaderCellDef>Address_id</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.address }}</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

	<mat-paginator [length]="resultsLength" [pageSize]="30">
	</mat-paginator>

</div>


<!-- <div>
	<div class="table-container mat-elevation-z8">
		<div class="tabel-header">
			<mat-form-field floatPlaceholder="never">
				<input matInput #filter placeholder="Filter users">
			</mat-form-field>
		</div>

		<mat-table #table [dataSource]="dataSource">

			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> name </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="info">
				<mat-header-cell *matHeaderCellDef> info </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.info}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="eMail">
				<mat-header-cell *matHeaderCellDef> eMail </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.eMail}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="telephone">
				<mat-header-cell *matHeaderCellDef> telephone </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.telephone}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="website">
				<mat-header-cell *matHeaderCellDef> website </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.website}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="street">
				<mat-header-cell *matHeaderCellDef> street </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.address?.street}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="housenumber">
				<mat-header-cell *matHeaderCellDef> housenumber </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.address?.housenumber}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="postalcode">
				<mat-header-cell *matHeaderCellDef> postalcode </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.address?.postalcode}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="place">
				<mat-header-cell *matHeaderCellDef> place </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row?.address?.place}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectOrganisation(row)"></mat-row>
		</mat-table>
		<mat-paginator #paginator [length]="organisationsDatabase.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
		</mat-paginator>
	</div>
	<button mat-raised-button (click)="createOrganisation()">New Organisation</button>
	<button mat-raised-button (click)="deselectOrganisation()">cancel</button>

	<div *ngIf="selectedOrga">
		<form (ngSubmit)="onSubmitOrganisation()" class="well">

			<mat-form-field class="form-control">
				<input matInput type=text placeholder="name" name="name" value={{selectedOrga.name}} id="organame_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<textarea matInput placeholder="info" name="info" value={{selectedOrga.info}} id="orgainfo_field"></textarea>
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="eMail" name="email" value={{selectedOrga.eMail}} id="orgaeMail_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="telephone" name="telephone" value={{selectedOrga.telephone}} id="orgatelephone_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="website" name="website" value={{selectedOrga.website}} id="orgawebsite_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="address" name="address" [(ngModel)]="addressOrgaInput" id="orgaaddres_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="street" [(ngModel)]="selectedOrga.address.street" name="street" value={{selectedOrga?.address?.street}}
				 id="orgastreet_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="housenumber" [(ngModel)]="selectedOrga.address.housenumber" name="housenumber" value={{selectedOrga?.address?.housenumber}}
				 id="orgahousenumber_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="place" [(ngModel)]="selectedOrga.address.place" name="place" value={{selectedOrga?.address?.place}}
				 id="orgaplace_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput placeholder="postalcode" [(ngModel)]="selectedOrga.address.postalcode" name="postalcode" value={{selectedOrga?.address?.postalcode}}
				 id="orgapostalcode_field">
			</mat-form-field>

			<button mat-raised-button type="submit">Submit</button>
		</form>
	</div>
</div> -->
