<mat-card [ngClass]="orga-detail" *ngIf="organisation">
	<b *ngIf="!largeTitle">{{organisation.name}}</b>
	<h3 *ngIf="largeTitle">{{organisation.name}}</h3>
	<hr>
	<div class="row" *ngIf="organisation.website">
		<div class="col">{{constants.website}}</div>
		<div class="col">
			<b>{{organisation.website}}</b>
		</div>
	</div>
	<div class="row" *ngIf="organisation.mail">
		<div class="col">{{constants.mail}}</div>
		<div class="col">
			<b>{{organisation.mail}}</b>
		</div>
	</div>
	<div class="row" *ngIf="organisation.phone">
		<div class="col">{{constants.phone}}</div>
		<div class="col">
			<b>{{organisation.phone}}</b>
		</div>
	</div>
	<div class="row" *ngIf="organisation.address">
		<div class="col">{{constants.address}} </div>
		<div class="col">
			<b>{{organisation.address.toString}}</b>
		</div>
	</div>
	<div *ngIf="organisation.description">
		<hr>
		<div class="row">
			<div class="col align-self-start">{{constants.description}}</div>
		</div>
		<div class="row">
			<div class="col">
				<b>{{organisation.description}}</b>
			</div>
		</div>
	</div>
</mat-card>
