<div>
	<mat-card class="organisation-edit-card" *ngIf="organisation$ | async as organisation">
		<form class="well">
			<mat-card-header>
				<mat-form-field class="form-control">
					<input matInput type=text placeholder={{constants.name}} name="name" value={{organisation.records[0].name}} id="orga_name_field">
				</mat-form-field>
			</mat-card-header>
			<mat-form-field class="form-control">
				<textarea matInput type=text placeholder={{constants.description}} name="description" value={{organisation.records[0].description}}
				 id="orga_description_field"></textarea>
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput type=text placeholder={{constants.mail}} name="mail" value={{organisation.records[0].mail}} id="orga_mail_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput type=text placeholder={{constants.phone}} name="telephone" value={{organisation.records[0].phone}} id="orga_phone_field">
			</mat-form-field>

			<mat-form-field class="form-control">
				<input matInput type=text placeholder={{constants.website}} name="website" value={{organisation.records[0].website}} id="orga_website_field">
			</mat-form-field>
			<mat-card class="address-card">

				<mat-form-field class="form-control">
					<input matInput placeholder={{constants.street}} name="street" value={{organisation.records[0].address.street}} id="orgaaddress_street">
				</mat-form-field>

				<mat-form-field class="form-control">
					<input matInput placeholder={{constants.houseNumber}} name="house_number" value={{organisation.records[0].address.house_number}}
					 id="orgaaddress_house_number">
				</mat-form-field>

				<mat-form-field class="form-control">
					<input matInput placeholder={{constants.postalCode}} name="postal_code" value={{organisation.records[0].address.postal_code}}
					 id="orgaaddress_postal_code">
				</mat-form-field>

				<mat-form-field class="form-control">
					<input matInput placeholder={{constants.quarter}} name="suburb_name" value={{organisation.records[0].address.suburb.name}}
					 id="orgaaddress_suburb_name">
				</mat-form-field>
			</mat-card>
			<button mat-raised-button type="submit">Submit</button>
			<button mat-raised-button (click)="back()">Zurück</button>
		</form>
	</mat-card>
</div>
