<mat-card *ngIf="organisation">
	<mat-card-content>
		<div class="row" *ngIf="!largeTitle">
			<div class="col">{{constants.organisation}}</div>
			<b class="col">{{organisation.name}}</b>
		</div>
		<h3 *ngIf="largeTitle">{{organisation.name}}</h3>
		<div class="row" *ngIf="organisation.description">
			<div class="col">{{constants.description}}</div>
			<b class="col">{{organisation.description}}</b>
		</div>
		<div class="row" *ngIf="organisation.website">
			<div class="col">{{constants.website}}</div>
			<b class="col">{{organisation.website}}</b>
		</div>
		<div class="row" *ngIf="organisation.mail">
			<div class="col">{{constants.mail}}</div>
			<b class="col">{{organisation.mail}}</b>
		</div>
		<div class="row" *ngIf="organisation.phone">
			<div class="col">{{constants.phone}}</div>
			<b class="col">{{organisation.phone}}</b>
		</div>
		<div class="row" *ngIf="organisation.address">
			<div class="col">{{constants.address}} </div>
			<b class="col">{{organisation.address.toString}}</b>
		</div>
	</mat-card-content>
</mat-card>
