<div class="organisation-container mat-elevation-z8">

	<div class="organisations-table-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>

	<mat-table #table [dataSource]="dataSource" class="organisation-table" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
				name</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="website">
			<mat-header-cell *matHeaderCellDef>Website</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.website }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="mail">
			<mat-header-cell *matHeaderCellDef>eMail</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.mail }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="phone">
			<mat-header-cell *matHeaderCellDef>Telephone</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="address">
			<mat-header-cell *matHeaderCellDef>Address_id</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.address }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="action">
			<mat-header-cell *matHeaderCellDef>
				Ändern/Löschen
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button mat-button routerLink='/organisation/edit/{{row.id}}'>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</button>
				<button mat-raised-button color="warn" (click)="openDialog(row)">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>

	<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
	</mat-paginator>

</div>
